Repository tommy-ca/tradingview-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uvx ruff check --fix
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: uvx ruff format
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: uvx ty
        args: ["check"]
        language: system
        types: [python]
        pass_filenames: true
        # Exclude tests and currently failing files to allow incremental adoption
        exclude: >
          (?x)^(
            tests/|
            tradingview_scraper/symbols/news\.py|
            tradingview_scraper/futures_universe_selector\.py|
            tradingview_scraper/symbols/cal\.py|
            tradingview_scraper/symbols/stream/streamer\.py
          )

chore: add uv.lock for reproducible environment
  uv.lock
Due: none

docs: update CLAUDE.md with uv workflow
  CLAUDE.md
Due: none

feat: add universe trend scan workflow for futures, cfd, forex, etf, and stocks
  .github/workflows/universe_scan.yml
Due: none

feat: add script to run universe scans locally
  scripts/run_local_scans.sh
Due: none

fix: point workflow artifacts and local script to export/ directory
  .github/workflows/universe_scan.yml
  scripts/run_local_scans.sh
Due: none

style: format summary script
  scripts/summarize_results.py
Due: ruff, ruff-format, ty

feat: add short trend scan configs and update workflows
  .github/workflows/universe_scan.yml
  configs/cfd_trend_momentum_short.yaml
  configs/forex_trend_momentum_short.yaml
  configs/futures_trend_momentum_short.yaml
  configs/us_etf_trend_momentum_short.yaml
  configs/us_stocks_trend_momentum_short.yaml
  scripts/run_local_scans.sh
Due: none

fix: resolve export filename collisions and update summary script
  scripts/summarize_results.py
  tradingview_scraper/futures_universe_selector.py
Due: ruff, ruff-format, ty

style: format summary script
  configs/futures_trend_momentum_short.yaml
  scripts/summarize_results.py
Due: ruff, ruff-format, ty

refactor: update trend momentum configs for higher quality signals
  configs/cfd_trend_momentum.yaml
  configs/cfd_trend_momentum_short.yaml
  configs/forex_trend_momentum.yaml
  configs/forex_trend_momentum_short.yaml
  configs/futures_trend_momentum.yaml
  configs/futures_trend_momentum_short.yaml
  configs/us_etf_trend_momentum.yaml
  configs/us_etf_trend_momentum_short.yaml
  configs/us_stocks_trend_momentum.yaml
  configs/us_stocks_trend_momentum_short.yaml
Due: none

feat: relax short filters and expand cfd markets
  configs/cfd_trend_momentum.yaml
  configs/cfd_trend_momentum_short.yaml
  configs/forex_trend_momentum_short.yaml
  configs/futures_trend_momentum_short.yaml
  configs/us_etf_trend_momentum_short.yaml
  configs/us_stocks_trend_momentum_short.yaml
Due: none

feat: implement Value.Traded filter and broaden stock base universe
  configs/us_etf_trend_momentum.yaml
  configs/us_etf_trend_momentum_short.yaml
  configs/us_stocks_trend_momentum.yaml
  configs/us_stocks_trend_momentum_short.yaml
  tradingview_scraper/futures_universe_selector.py
Due: ruff, ruff-format

feat: add metals trend scan job and update workflows
  .github/workflows/universe_scan.yml
  configs/futures_metals_trend_momentum_short.yaml
  scripts/run_local_scans.sh
  scripts/summarize_results.py
Due: ruff, ruff-format, ty

fix: restrict futures base universe to US exchanges
  configs/futures_trend_momentum.yaml
  configs/futures_trend_momentum_short.yaml
Due: none

fix: separate US stocks and ETFs output and improve summarizer robustness
  configs/us_etf_trend_momentum.yaml
  configs/us_etf_trend_momentum_short.yaml
  configs/us_stocks_trend_momentum.yaml
  configs/us_stocks_trend_momentum_short.yaml
  scripts/summarize_results.py
  tradingview_scraper/futures_universe_selector.py
Due: ruff, ruff-format, ty

fix: restrict forex base universe to major currencies
  configs/forex_trend_momentum.yaml
  configs/forex_trend_momentum_short.yaml
Due: none

feat: improve futures contract deduplication in summarizer
  scripts/summarize_results.py
Due: ruff, ruff-format, ty

feat: add base_currencies filter for forex major pairs
  configs/forex_trend_momentum.yaml
  configs/forex_trend_momentum_short.yaml
  docs/specs/forex_presets.rst
  docs/specs/futures_universe_selector.rst
  tradingview_scraper/futures_universe_selector.py
Due: ruff, ruff-format

feat: implement base preset inheritance and two-stage filtering in universe selector
  tradingview_scraper/futures_universe_selector.py
Due: ruff, ruff-format

feat: add configuration presets for crypto exchanges
  configs/presets/crypto_cex_preset_binance_perp.yaml
  configs/presets/crypto_cex_preset_binance_spot.yaml
  configs/presets/crypto_cex_preset_bitget_perp.yaml
  configs/presets/crypto_cex_preset_bitget_spot.yaml
  configs/presets/crypto_cex_preset_bybit_perp.yaml
  configs/presets/crypto_cex_preset_bybit_spot.yaml
  configs/presets/crypto_cex_preset_okx_perp.yaml
  configs/presets/crypto_cex_preset_okx_spot.yaml
Due: none

refactor: update crypto trend configs to use base presets
  configs/crypto_cex_trend_binance_perp_daily_long.yaml
  configs/crypto_cex_trend_binance_perp_daily_short.yaml
  configs/crypto_cex_trend_binance_spot_daily_long.yaml
  configs/crypto_cex_trend_binance_spot_daily_short.yaml
  configs/crypto_cex_trend_bitget_perp_daily_long.yaml
  configs/crypto_cex_trend_bitget_perp_daily_short.yaml
  configs/crypto_cex_trend_bitget_spot_daily_long.yaml
  configs/crypto_cex_trend_bitget_spot_daily_short.yaml
  configs/crypto_cex_trend_bybit_perp_daily_long.yaml
  configs/crypto_cex_trend_bybit_perp_daily_short.yaml
  configs/crypto_cex_trend_bybit_spot_daily_long.yaml
  configs/crypto_cex_trend_bybit_spot_daily_short.yaml
  configs/crypto_cex_trend_okx_perp_daily_long.yaml
  configs/crypto_cex_trend_okx_perp_daily_short.yaml
  configs/crypto_cex_trend_okx_spot_daily_long.yaml
  configs/crypto_cex_trend_okx_spot_daily_short.yaml
Due: none

chore: tune parameters for crypto base and momentum configs
  configs/crypto_cex_base_top50_binance.yaml
  configs/crypto_cex_base_top50_binance_perp.yaml
  configs/crypto_cex_base_top50_bitget.yaml
  configs/crypto_cex_base_top50_bitget_perp.yaml
  configs/crypto_cex_base_top50_bybit.yaml
  configs/crypto_cex_base_top50_bybit_perp.yaml
  configs/crypto_cex_base_top50_okx.yaml
  configs/crypto_cex_base_top50_okx_perp.yaml
  configs/crypto_cex_trend_momentum_perp_daily_long.yaml
  configs/crypto_cex_trend_momentum_perp_daily_short.yaml
  configs/crypto_cex_trend_momentum_spot_daily_long.yaml
  configs/crypto_cex_trend_momentum_spot_daily_short.yaml
Due: none

feat: add and update scripts for crypto trend scans
  scripts/run_crypto_scans.sh
  scripts/run_local_scans.sh
  scripts/summarize_crypto_results.py
  scripts/summarize_results.py
Due: ruff, ruff-format, ty

docs: add and update documentation
  docs/TODO_improvements.md
  docs/index.rst
  docs/specs/crypto_cex_presets.rst
  docs/specs/futures_universe_selector.rst
  docs/specs/strategies.rst
  docs/universe_selection_strategy.md
Due: none

feat: add mean reversion configs
  configs/crypto_cex_ts_mean_reversion_long.yaml
  configs/forex_mean_reversion.yaml
  configs/forex_mean_reversion_short.yaml
  configs/futures_mean_reversion.yaml
  configs/futures_mean_reversion_short.yaml
  configs/us_stocks_mean_reversion.yaml
  configs/us_stocks_mean_reversion_short.yaml
Due: none

feat: add new crypto and asset presets
  configs/presets/crypto_cex_preset_binance_spot.yaml
  configs/presets/crypto_cex_preset_binance_top50_perp.yaml
  configs/presets/crypto_cex_preset_binance_top50_spot.yaml
  configs/presets/crypto_cex_preset_bitget_spot.yaml
  configs/presets/crypto_cex_preset_bitget_top50_perp.yaml
  configs/presets/crypto_cex_preset_bitget_top50_spot.yaml
  configs/presets/crypto_cex_preset_bybit_spot.yaml
  configs/presets/crypto_cex_preset_bybit_top50_perp.yaml
  configs/presets/crypto_cex_preset_bybit_top50_spot.yaml
  configs/presets/crypto_cex_preset_okx_top50_perp.yaml
  configs/presets/crypto_cex_preset_okx_top50_spot.yaml
  configs/presets/forex_liquid.yaml
  configs/presets/futures_us_liquid.yaml
  configs/presets/stocks_us_liquid.yaml
Due: none

feat: add compare_universes.py and update local scans script
  scripts/compare_universes.py
  scripts/run_local_scans.sh
Due: ruff, ruff-format, ty

chore: update trend and momentum configs
  configs/cfd_trend_momentum.yaml
  configs/cfd_trend_momentum_short.yaml
  configs/crypto_cex_base_top50_binance.yaml
  configs/crypto_cex_base_top50_binance_perp.yaml
  configs/forex_trend_momentum.yaml
  configs/forex_trend_momentum_short.yaml
  configs/futures_metals_trend_momentum.yaml
  configs/futures_metals_trend_momentum_short.yaml
  configs/futures_trend_momentum.yaml
  configs/futures_trend_momentum_short.yaml
  configs/us_etf_trend_momentum.yaml
  configs/us_etf_trend_momentum_short.yaml
  configs/us_stocks_trend_momentum.yaml
  configs/us_stocks_trend_momentum_short.yaml
  scripts/summarize_results.py
Due: ruff, ruff-format, ty

feat: add script to explore mean reversion
  explore_mean_reversion.py
Due: ruff, ruff-format, ty

conductor(setup): Add conductor set up files
  conductor/code_styleguides/python.md
  conductor/product-guidelines.md
  conductor/product.md
  conductor/setup_state.json
  conductor/tech-stack.md
  conductor/tracks.md
  conductor/tracks/websocket_retry_20251220/metadata.json
  conductor/tracks/websocket_retry_20251220/plan.md
  conductor/tracks/websocket_retry_20251220/spec.md
  conductor/workflow.md
Due: none

conductor(checkpoint): Checkpoint end of Phase 1 - Research & Design
  conductor/tracks.md
  conductor/tracks/websocket_retry_20251220/plan.md
Due: none

conductor(plan): Mark phase 'Research & Design' as complete
  conductor/tracks/websocket_retry_20251220/plan.md
Due: none

feat(stream): Add RetryHandler with exponential backoff
  tests/test_retry.py
  tradingview_scraper/symbols/stream/retry.py
Due: ruff, ruff-format, ty

conductor(plan): Mark task 'Implement exponential backoff utility' as complete
  conductor/tracks/websocket_retry_20251220/plan.md
Due: none

feat(stream): Implement automatic reconnection with state restoration
  tests/test_streamer_retry.py
  tradingview_scraper/symbols/stream/streamer.py
Due: ruff, ruff-format

conductor(plan): Mark task 'Implement reconnection logic in Streamer' as complete
  conductor/tracks/websocket_retry_20251220/plan.md
Due: none

test(stream): Add explicit tests for state restoration on reconnect
  tests/test_streamer_retry.py
Due: ruff, ruff-format

conductor(plan): Mark Phase 2 implementation tasks as complete
  conductor/tracks/websocket_retry_20251220/plan.md
Due: none

feat(stream): Finalize robust WebSocket retry with docs and example
  .coverage
  README.md
  conductor/tracks/universe_selectors_20251220/metadata.json
  conductor/tracks/universe_selectors_20251220/plan.md
  conductor/tracks/universe_selectors_20251220/spec.md
  conductor/tracks/websocket_retry_20251220/plan.md
  examples/resilient_stream.py
  tradingview_scraper/symbols/market_movers.py
  tradingview_scraper/symbols/markets.py
  tradingview_scraper/symbols/minds.py
  tradingview_scraper/symbols/screener.py
  tradingview_scraper/symbols/stream/stream_handler.py
  tradingview_scraper/symbols/stream/utils.py
  tradingview_scraper/symbols/symbol_markets.py
Due: ruff, ruff-format, ty
