Repository tommy-ca/tradingview-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty

ruff:
  name: ruff
  entry: uvx ruff check --fix
  language: system

ruff-format:
  name: ruff-format
  entry: uvx ruff format
  language: system

ty:
  name: ty
  entry: uvx ty
  args:
  - check
  language: system
  pass_filenames: true

docs: complete schema normalization and tardis gap analysis research
  README.md
  conductor/tracks.md
  conductor/tracks/schema_normalization_20251220/plan.md
  docs/index.rst
  docs/research/schema_gap_analysis_20251220.md
  scripts/audit_current_schema.py
Due: ruff, ruff-format, ty

feat: implement PIT metadata catalogs for symbols and exchanges
  docs/specs/metadata_timezone_spec.md
  tests/test_metadata.py
  tradingview_scraper/symbols/stream/metadata.py
Due: ruff, ruff-format, ty

feat: integrate metadata auto-enrichment into data ingestion
  tradingview_scraper/symbols/overview.py
  tradingview_scraper/symbols/stream/persistent_loader.py
Due: ruff, ruff-format, ty

fix: resolve dated futures parsing and configuration
  configs/crypto_cex_base_top50_binance_dated.yaml
  tradingview_scraper/futures_universe_selector.py
Due: ruff, ruff-format

tool: enhance metadata build and research utilities
  scripts/build_metadata_catalog.py
  scripts/debug_selector.py
  scripts/research_metadata_fields.py
Due: ruff, ruff-format, ty

test: add metadata audit and temporal integrity suite
  scripts/audit_metadata_catalog.py
  scripts/audit_metadata_pit.py
  scripts/audit_metadata_timezones.py
  scripts/check_catalog_stats.py
  scripts/explore_metadata_catalogs.py
Due: ruff, ruff-format, ty

docs: finalize metadata service research and roadmap
  conductor/tracks.md
  conductor/tracks/metadata_enrichment_connectors_20251221/plan.md
  conductor/tracks/metadata_service_research_20251220/plan.md
  docs/research/metadata_requirements_20251221.md
  docs/research/metadata_service_final_report_20251221.md
Due: none

fix: handle NoneType data in Screener.screen
  tradingview_scraper/symbols/screener.py
Due: ruff, ruff-format, ty

feat: enhance portfolio data prep with alpha metadata
  scripts/prepare_portfolio_data.py
Due: ruff, ruff-format, ty

feat: implement Antifragility audit and Barbell strategy
  scripts/audit_antifragility.py
  scripts/optimize_barbell.py
Due: ruff, ruff-format, ty

feat: add MPT and Robust optimization engines
  scripts/optimize_portfolio.py
  scripts/optimize_portfolio_robust.py
Due: ruff, ruff-format, ty

tool: add strategy comparison and workflow spec
  docs/specs/quantitative_workflow.md
  scripts/compare_strategies.py
Due: ruff, ruff-format, ty

docs: finalize portfolio research and strategy comparison
  docs/research/portfolio_improvement_suggestions.md
  docs/research/portfolio_optimization_20251221.md
  docs/research/strategy_comparison_20251221.md
Due: none

docs: add Hierarchical Risk Parity implementation plan
  conductor/tracks/hierarchical_risk_parity_20251221/plan.md
Due: none

docs: establish Information Theory and SNR research tracks
  conductor/tracks/entropy_predictability_research_20251221/plan.md
  conductor/tracks/signal_noise_filtering_20251221/plan.md
Due: none

feat: add E2E quantitative pipeline prototype and track
  conductor/tracks/e2e_quantitative_orchestration_20251221/plan.md
  scripts/review_e2e_workflow.py
Due: ruff, ruff-format, ty

feat(orchestration): create unified QuantitativePipeline class
  tests/test_pipeline.py
  tradingview_scraper/pipeline.py
Due: ruff, ruff-format, ty

conductor(plan): Mark task 'Create tradingview_scraper/pipeline.py' as complete
  conductor/tracks/e2e_quantitative_orchestration_20251221/plan.md
Due: none

feat(async): implement AsyncScreener for parallelized TradingView scanning
  conductor/tech-stack.md
  pyproject.toml
  tests/test_async_screener.py
  tradingview_scraper/symbols/screener_async.py
Due: ruff, ruff-format, ty

conductor(plan): Mark task 'Implement AsyncScreener' as complete
  conductor/tracks/e2e_quantitative_orchestration_20251221/plan.md
Due: none

feat(orchestration): migrate pipeline to parallelized AsyncScreener
  tests/test_futures_universe_selector.py
  tests/test_pipeline.py
  tradingview_scraper/futures_universe_selector.py
  tradingview_scraper/pipeline.py
Due: ruff, ruff-format, ty

conductor(plan): Mark task 'Migrate existing configurations' as complete
  conductor/tracks/e2e_quantitative_orchestration_20251221/plan.md
Due: none

conductor(plan): Mark phase 'Unified Orchestrator & Async Discovery' as complete
  conductor/tracks/e2e_quantitative_orchestration_20251221/plan.md
Due: none

feat(risk): implement MarketRegimeDetector for adaptive risk management
  tests/test_regime.py
  tradingview_scraper/regime.py
Due: ruff, ruff-format, ty

conductor(plan): Mark task 'MarketRegimeDetector' as complete
  conductor/tracks/e2e_quantitative_orchestration_20251221/plan.md
Due: none

feat(risk): implement Ledoit-Wolf Shrinkage for robust covariance estimation
  conductor/tech-stack.md
  pyproject.toml
  tests/test_risk.py
  tradingview_scraper/risk.py
Due: ruff, ruff-format, ty

conductor(plan): Mark task 'Ledoit-Wolf Shrinkage' as complete
  conductor/tracks/e2e_quantitative_orchestration_20251221/plan.md
Due: none

feat(risk): implement regime-aware BarbellOptimizer
  tests/test_risk.py
  tradingview_scraper/risk.py
Due: ruff, ruff-format, ty

conductor(plan): Mark task 'Barbell Optimizer regime-aware split' as complete
  conductor/tracks/e2e_quantitative_orchestration_20251221/plan.md
Due: none

docs(orchestration): add specification for Phase 2 quantitative orchestration
  conductor/tracks/e2e_quantitative_orchestration_20251221/spec.md
Due: none

chore: update track status and dependency lockfile
  .coverage
  conductor/tracks.md
  uv.lock
Due: none

test(verification): add automated verification scripts for pipeline phases
  scripts/debug_async_screener.py
  scripts/verify_phase1.py
  scripts/verify_phase1_direct.py
  scripts/verify_phase1_flow.py
  scripts/verify_phase1_permissive.py
  scripts/verify_phase2.py
Due: ruff, ruff-format, ty

feat(orchestration): finalize V1 E2E pipeline and documentation
  docs/specs/quantitative_workflow_v1.md
  scripts/run_e2e_v1.py
  tests/test_pipeline.py
  tradingview_scraper/pipeline.py
  tradingview_scraper/risk.py
Due: ruff, ruff-format, ty

conductor(plan): Mark phase 'Scaling & Final Validation' as complete
  conductor/tracks/e2e_quantitative_orchestration_20251221/plan.md
Due: none

feat(async): sync supported markets and default columns with sync screener
  tests/test_async_screener.py
  tradingview_scraper/symbols/screener_async.py
Due: ruff, ruff-format, ty

conductor(plan): Mark task 'Sync constants to screener_async.py' as complete
  conductor/tracks/robust_async_screener_20251221/plan.md
Due: none

feat(async): implement robust retry logic using tenacity
  tests/test_async_screener.py
  tradingview_scraper/symbols/screener_async.py
Due: ruff, ruff-format, ty

conductor(plan): Mark task 'Implement async retry logic' as complete
  conductor/tracks/robust_async_screener_20251221/plan.md
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  ty: any of: \.py$, but not: (?x)^(
  tests/|
  tradingview_scraper/symbols/news\.py|
  tradingview_scraper/futures_universe_selector\.py|
  tradingview_scraper/symbols/cal\.py|
  tradingview_scraper/symbols/stream/streamer\.py
)

