Repository tommy-ca/tradingview-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty

ruff:
  name: ruff
  entry: uvx ruff check --fix
  language: system

ruff-format:
  name: ruff-format
  entry: uvx ruff format
  language: system

ty:
  name: ty
  entry: uvx ty
  args:
  - check
  language: system
  pass_filenames: true

feat(ops): implement institutional reproducibility and unified reporting source
  Makefile
  docs/TODO_improvements.md
  docs/plan/issues.md
  tradingview_scraper/settings.py
Due: ruff, ruff-format, ty

feat(ops): implement secular 200d backtest and unified baseline
  Makefile
  configs/manifest.json
  configs/manifest.schema.json
  docs/plan/issues.md
  docs/specs/backtest_framework_v2.md
  scripts/backtest_engine.py
  scripts/prepare_portfolio_data.py
  tradingview_scraper/settings.py
  tradingview_scraper/utils/metrics.py
Due: ruff, ruff-format, ty

feat(ops): implement secular 500d baseline and 200d tournament audit
  configs/manifest.json
  configs/manifest.schema.json
  scripts/backtest_engine.py
  scripts/generate_backtest_report.py
  scripts/generate_tearsheets.py
  scripts/prepare_portfolio_data.py
  tradingview_scraper/settings.py
  tradingview_scraper/utils/metrics.py
Due: ruff, ruff-format, ty

feat(analytics): unify strategy resume with full profile set and descriptive names
  scripts/generate_backtest_report.py
Due: ruff, ruff-format, ty

docs: finalize secular validation and baseline documentation
  AGENTS.md
  README.md
  docs/production_workflow.md
  docs/specs/backtest_framework_v2.md
  docs/specs/workflow_manifests.md
Due: none

feat(ops): implement standard Market engine and unified reporting
  Makefile
  configs/manifest.json
  docs/plan/issues.md
  docs/specs/backtest_framework_v2.md
  scripts/backtest_engine.py
  scripts/generate_backtest_report.py
  scripts/generate_tearsheets.py
  tradingview_scraper/portfolio_engines/engines.py
Due: ruff, ruff-format, ty

feat(ops): finalize unified reporting and standardized market baseline
  Makefile
  configs/manifest.json
  scripts/backtest_engine.py
  scripts/generate_backtest_report.py
  scripts/generate_reports.py
  scripts/generate_tearsheets.py
  tradingview_scraper/portfolio_engines/base.py
  tradingview_scraper/portfolio_engines/engines.py
  tradingview_scraper/settings.py
  tradingview_scraper/utils/metrics.py
Due: ruff, ruff-format, ty

feat(analytics): add detailed hierarchical and volatility cluster analysis reports
  scripts/analyze_clusters.py
  scripts/generate_reports.py
  scripts/generate_selection_report.py
Due: ruff, ruff-format, ty

docs: finalize quantitative framework and industrial workflow documentation
  AGENTS.md
  README.md
  docs/plan/issues.md
  docs/production_workflow.md
  docs/specs/workflow_manifests.md
Due: none

chore(ops): ignore .gemini/ directory
  .gitignore
Due: none

feat(risk): finalize HRP review and mathematical hardening
  docs/plan/issues.md
  docs/specs/backtest_framework_v2.md
  tradingview_scraper/portfolio_engines/engines.py
  tradingview_scraper/utils/metrics.py
Due: ruff, ruff-format, ty

feat(backtest): integrate VectorBT high-performance simulator
  Makefile
  configs/manifest.json
  configs/manifest.schema.json
  docs/plan/issues.md
  docs/specs/backtest_framework_v2.md
  pyproject.toml
  tests/test_backtest_simulators.py
  tradingview_scraper/portfolio_engines/__init__.py
  tradingview_scraper/portfolio_engines/backtest_simulators.py
  tradingview_scraper/settings.py
  uv.lock
Due: ruff, ruff-format, ty

feat: implement rebalancing intelligence, XS momentum, and spectral regimes (Phase 1 & 2)
  AGENTS.md
  Makefile
  configs/manifest.json
  configs/manifest.schema.json
  docs/TODO_improvements.md
  docs/plan/issues.md
  docs/plan/production_roadmap.md
  docs/production_workflow.md
  docs/specs/audit_system_v1.md
  docs/specs/backtest_framework_v2.md
  docs/specs/optimization_engine_v2.md
  docs/specs/phase_8_rebalancing_and_sensitivity.md
  docs/specs/quantitative_workflow.md
  docs/specs/workflow_manifests.md
  scripts/backtest_engine.py
  scripts/comprehensive_audit.py
  scripts/generate_reports.py
  scripts/natural_selection.py
  scripts/optimize_clustered_v2.py
  scripts/run_production_pipeline.py
  scripts/track_portfolio_state.py
  tests/test_backtest_simulators.py
  tradingview_scraper/portfolio_engines/backtest_simulators.py
  tradingview_scraper/portfolio_engines/base.py
  tradingview_scraper/portfolio_engines/engines.py
  tradingview_scraper/regime.py
  tradingview_scraper/settings.py
  tradingview_scraper/utils/metrics.py
  tradingview_scraper/utils/scoring.py
Due: ruff, ruff-format, ty

feat: implement core audit ledger utilities and df_hash
  tradingview_scraper/portfolio_engines/backtest_simulators.py
  tradingview_scraper/utils/audit.py
Due: ruff, ruff-format, ty

feat: integrate audit ledger into production orchestrator (Commit 2)
  scripts/run_production_pipeline.py
Due: ruff, ruff-format, ty

feat: retrofit optimization engine with audit evidence (Commit 3)
  scripts/optimize_clustered_v2.py
Due: ruff, ruff-format, ty

feat: retrofit selection logic with audit rationale (Commit 4)
  scripts/natural_selection.py
Due: ruff, ruff-format, ty

feat: implement audit ledger verification tool (Commit 5)
  scripts/natural_selection.py
  scripts/verify_ledger.py
Due: ruff, ruff-format, ty

docs: finalize audit system implementation and roadmap update (Commit 6)
  docs/TODO_improvements.md
  docs/plan/production_roadmap.md
Due: none

feat: integrate audit ledger with feature toggle and update manifest schema (Commit 7)
  configs/manifest.json
  configs/manifest.schema.json
  scripts/natural_selection.py
  scripts/optimize_clustered_v2.py
  scripts/run_production_pipeline.py
  tradingview_scraper/settings.py
Due: ruff, ruff-format, ty

test: add comprehensive tests for audit ledger and rebalance lifecycle (Commit 8)
  tests/test_audit_ledger.py
  tests/test_audit_utils.py
  tests/test_drift_monitor.py
  tests/test_optimization_penalties.py
  tests/test_pipeline_orchestrator.py
  tests/test_rebalance_lifecycle.py
Due: ruff, ruff-format

feat: implement high-fidelity backtesting with PIT risk and state persistence
  configs/manifest.json
  configs/manifest.schema.json
  docs/specs/audit_system_v1.md
  docs/specs/backtest_framework_v2.md
  docs/specs/quantitative_workflow.md
  scripts/backtest_engine.py
  tradingview_scraper/portfolio_engines/backtest_simulators.py
  tradingview_scraper/portfolio_engines/engines.py
  tradingview_scraper/settings.py
Due: ruff, ruff-format, ty

docs: finalize specifications for audit system and high-fidelity backtesting
  docs/TODO_improvements.md
  docs/plan/production_roadmap.md
  docs/specs/audit_system_v1.md
  docs/specs/quantitative_workflow.md
  docs/specs/workflow_manifests.md
  tests/test_backtest_fidelity.py
Due: ruff, ruff-format

feat: implement high-fidelity institutional backtesting with warm-start and alpha isolation
  configs/manifest.json
  docs/specs/backtest_framework_v2.md
  docs/specs/phase_9_validation_and_execution.md
  scripts/backtest_engine.py
  scripts/generate_reports.py
  tests/test_backtest_fidelity.py
  tradingview_scraper/portfolio_engines/backtest_simulators.py
Due: ruff, ruff-format, ty

feat: implement drift-aware rebalancing, short borrow costs, and scanner-locked directions
  configs/manifest.json
  configs/manifest.schema.json
  docs/specs/audit_system_v1.md
  docs/specs/backtest_framework_v2.md
  scripts/backtest_engine.py
  tradingview_scraper/portfolio_engines/backtest_simulators.py
  tradingview_scraper/settings.py
Due: ruff, ruff-format, ty

fix: resolve pd.concat FutureWarning and NumPy/QuantStats RuntimeWarnings in backtest engine
  scripts/backtest_engine.py
  tests/test_backtest_fidelity.py
  tradingview_scraper/utils/metrics.py
Due: ruff, ruff-format, ty

feat: implement unified hierarchical intelligence and dynamic cluster pruning
  configs/manifest.json
  configs/manifest.schema.json
  docs/plan/production_roadmap.md
  docs/specs/optimization_engine_v2.md
  docs/specs/quantitative_workflow.md
  docs/specs/selection_intelligence_v1.md
  scripts/backtest_engine.py
  scripts/natural_selection.py
  tests/test_portfolio_engines.py
  tradingview_scraper/portfolio_engines/base.py
  tradingview_scraper/settings.py
Due: ruff, ruff-format, ty

feat: enhance production orchestrator with rich progress bars and live activity feedback
  scripts/run_production_pipeline.py
Due: ruff, ruff-format, ty

docs: finalize 14-step production lifecycle and self-healing specifications
  AGENTS.md
  Makefile
  conductor/product.md
  conductor/workflow.md
  configs/manifest.json
  docs/production_workflow.md
  docs/specs/audit_system_v1.md
  docs/specs/quantitative_workflow.md
  scripts/backtest_engine.py
  scripts/debug_btc.py
  scripts/generate_reports.py
  scripts/recover_universe.py
  tradingview_scraper/portfolio_engines/backtest_simulators.py
  tradingview_scraper/utils/audit.py
Due: ruff, ruff-format, ty

docs: finalize production orchestrator guidelines and self-healing specs
  AGENTS.md
  docs/production_workflow.md
  docs/specs/audit_system_v1.md
  docs/specs/quantitative_workflow.md
Due: none

fix(portfolio): implement L2 regularization for custom engine and fix volatility reporting
  tradingview_scraper/portfolio_engines/engines.py
  tradingview_scraper/utils/metrics.py
Due: ruff, ruff-format, ty

fix(portfolio): apply L2 regularization to skfolio and riskfolio, attempt vectorbt turnover fix
  tradingview_scraper/portfolio_engines/backtest_simulators.py
  tradingview_scraper/portfolio_engines/engines.py
Due: ruff, ruff-format, ty

fix(vectorbt): resolve 0% turnover by adding group_by=True and robust order-based calculation
  tradingview_scraper/portfolio_engines/backtest_simulators.py
Due: ruff, ruff-format, ty

docs: implement Universe Selection 3.0 spec and evolutionary design
  configs/stress_calendar.yaml
  docs/design/engine_candidate_bundle.md
  docs/design/multiplicative_scoring_model.md
  docs/design/regime_survival_calendar.md
  docs/plan/universe_v3_implementation.md
  docs/research/evolutionary_foundations.md
  docs/specs/universe_selection_v2.md
  docs/specs/universe_selection_v3_fp.md
Due: none

feat: add MPS scoring utility and V3 feature flags
  tradingview_scraper/settings.py
  tradingview_scraper/utils/scoring.py
Due: ruff, ruff-format, ty

feat(selection): unify selection engines and implement robust metadata enrichment
  docs/specs/selection_intelligence_v1.md
  docs/specs/universe_selection_v2.md
  docs/specs/universe_selection_v3_fp.md
  scripts/enrich_candidates_metadata.py
  scripts/generate_selection_report.py
  scripts/natural_selection.py
  tradingview_scraper/selection_engines/__init__.py
  tradingview_scraper/selection_engines/base.py
  tradingview_scraper/selection_engines/engines.py
  tradingview_scraper/settings.py
  tradingview_scraper/utils/audit.py
  tradingview_scraper/utils/scoring.py
Due: ruff, ruff-format, ty

feat(portfolio): harden optimization engines and simulators
  docs/specs/multi_engine_optimization_benchmarks.md
  docs/specs/optimization_engine_v2.md
  scripts/generate_reports.py
  tradingview_scraper/portfolio_engines/__init__.py
  tradingview_scraper/portfolio_engines/backtest_simulators.py
  tradingview_scraper/portfolio_engines/engines.py
Due: ruff, ruff-format, ty

refactor(backtest): enhance backtest framework and infrastructure
  Makefile
  README.md
  conductor/product.md
  conductor/workflow.md
  configs/manifest.json
  scripts/backtest_engine.py
Due: ruff, ruff-format, ty

docs(reporting): implement robust cluster analysis and document lessons learned
  docs/design/natural_selection_benchmarking.md
  docs/plan/market_benchmark_audit_plan.md
  docs/research/market_simulator_benchmark.md
  docs/specs/lessons_learned_tournament_v2.md
  scripts/analyze_clusters.py
Due: ruff, ruff-format, ty

docs: comprehensive update of production roadmaps and specifications
  CLAUDE.md
  docs/plan/full_tournament_validation.md
  docs/plan/phase8_bayesian_feedback.md
  docs/plan/production_roadmap.md
  docs/plan/production_strategy_selection.md
  docs/plan/quadrant_adaptive_optimization.md
  docs/plan/vectorbt_fix_plan.md
  docs/research/audit_walkthrough.md
  docs/research/churn_penalty_audit.md
  docs/research/engine_behavioral_outliers.md
  docs/research/generalized_all_weather_regimes.md
  docs/research/hpo_study_results_2026.md
  docs/research/max_sharpe_deep_audit.md
  docs/research/max_sharpe_standardized_audit.md
  docs/research/secular_performance_audit_2026.md
  docs/research/simulator_fidelity_deep_dive.md
  docs/research/turnover_methodology_audit.md
  docs/research/vectorbt_anomaly_investigation.md
  docs/specs/audit_integrity_standard.md
  docs/specs/audit_ledger_v2.md
  docs/specs/audit_system_v1.md
  docs/specs/backtest_framework_v2.md
  docs/specs/data_resilience_v2.md
  docs/specs/hyperparameter_optimization_standard.md
  docs/specs/issues_to_fix.md
  docs/specs/market_profile_unification.md
  docs/specs/max_sharpe_standardization.md
  docs/specs/nautilus_simulator_integration.md
  docs/specs/quantitative_workflow.md
  docs/specs/regime_detection_standards.md
  docs/specs/strategy_archetypes_2026.md
  docs/specs/workflow_manifests.md
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  ty: any of: \.py$, but not: (?x)^(
  tests/|
  tradingview_scraper/symbols/news\.py|
  tradingview_scraper/futures_universe_selector\.py|
  tradingview_scraper/symbols/cal\.py|
  tradingview_scraper/symbols/stream/streamer\.py
)

