Repository tommy-ca/tradingview-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uvx ruff check --fix
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: uvx ruff format
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: uvx ty
        args: ["check"]
        language: system
        types: [python]
        pass_filenames: true
        # Exclude tests and currently failing files to allow incremental adoption
        exclude: >
          (?x)^(
            tests/|
            tradingview_scraper/symbols/news\.py|
            tradingview_scraper/futures_universe_selector\.py|
            tradingview_scraper/symbols/cal\.py|
            tradingview_scraper/symbols/stream/streamer\.py
          )

Phase 128: Baseline Standards & Benchmarking
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
  tests/test_selection_engine_factory.py
  tradingview_scraper/selection_engines/__init__.py
  tradingview_scraper/selection_engines/impl/baseline.py
  tradingview_scraper/selection_engines/impl/liquid_htr.py
Due: ruff, ruff-format, ty

Phase 129: Final Forensic Verification & Alpha Attribution
  docs/design/dynamic_selection_intelligence_v1.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
  scripts/backtest_engine.py
  scripts/run_master_tournament.py
Due: ruff, ruff-format, ty

Phase 130: End-to-End Pipeline Integration Audit
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
  docs/specs/universe_atoms_and_perspectives_v1.md
  tradingview_scraper/selection_engines/impl/v3_mps.py
Due: ruff, ruff-format, ty

Phase 132: Modular Inference & Clustering (v4)
  docs/design/selection_pipeline_v4_mlops.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
  scripts/audit_v4_parity.py
  scripts/test_v4_foundation.py
  tradingview_scraper/pipelines/selection/base.py
  tradingview_scraper/pipelines/selection/stages/clustering.py
  tradingview_scraper/pipelines/selection/stages/feature_engineering.py
  tradingview_scraper/pipelines/selection/stages/inference.py
  tradingview_scraper/pipelines/selection/stages/ingestion.py
  tradingview_scraper/selection_engines/impl/v3_mps.py
Due: ruff, ruff-format, ty

Phase 133: Policy Controller & HTR v4
  docs/design/selection_pipeline_v4_mlops.md
  docs/specs/plan.md
  scripts/test_v4_pipeline.py
  tradingview_scraper/pipelines/selection/base.py
  tradingview_scraper/pipelines/selection/pipeline.py
  tradingview_scraper/pipelines/selection/stages/policy.py
  tradingview_scraper/pipelines/selection/stages/synthesis.py
Due: ruff, ruff-format, ty

Phase 134: Champion/Challenger Production Rollout
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
  scripts/run_master_tournament.py
  scripts/test_v4_foundation.py
  scripts/test_v4_pipeline.py
  tradingview_scraper/pipelines/selection/adapter.py
  tradingview_scraper/pipelines/selection/pipeline.py
  tradingview_scraper/selection_engines/__init__.py
Due: ruff, ruff-format, ty

Phase 134: Documentation Wrap-up
  docs/specs/plan.md
  docs/specs/universe_atoms_and_perspectives_v1.md
Due: none

Phase 134: Test Coverage & Refactoring
  tests/test_selection_pipeline_adapter.py
  tests/test_selection_pipeline_v4.py
  tradingview_scraper/pipelines/selection/stages/clustering.py
  tradingview_scraper/pipelines/selection/stages/feature_engineering.py
  tradingview_scraper/selection_engines/__init__.py
  tradingview_scraper/selection_engines/base.py
  tradingview_scraper/utils/clustering.py
Due: ruff, ruff-format, ty

Phase 134: Final Test Fixes
  tests/test_selection_engines.py
Due: ruff, ruff-format

Phase 135: Deep Audit Integration & Telemetry
  docs/design/selection_pipeline_v4_mlops.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
  scripts/backtest_engine.py
  tests/test_audit_v4_integration.py
Due: ruff, ruff-format, ty

Phase 136: Grand Tournament Validation
  docs/design/selection_pipeline_v4_mlops.md
  docs/design/strategy_composition_v1.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
  scripts/backtest_engine.py
  scripts/production/generate_deep_report.py
Due: ruff, ruff-format, ty

Phase 137: Selection Coexistence Standard
  docs/design/selection_pipeline_v4_mlops.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
  scripts/backtest_engine.py
Due: ruff, ruff-format, ty

Phase 138: Full Risk Matrix Audit
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
  scripts/backtest_engine.py
  tradingview_scraper/pipelines/selection/adapter.py
Due: ruff, ruff-format, ty

Phase 140: Final Production Certification (v3.5.0)
  docs/design/selection_pipeline_v4_mlops.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
  scripts/backtest_engine.py
  tradingview_scraper/pipelines/selection/pipeline.py
  tradingview_scraper/settings.py
  tradingview_scraper/utils/audit.py
Due: ruff, ruff-format, ty

Phase 140: Production Certification & Statistical Hardening
  docs/design/selection_pipeline_v4_mlops.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
  tradingview_scraper/pipelines/selection/pipeline.py
  tradingview_scraper/pipelines/selection/stages/feature_engineering.py
  tradingview_scraper/settings.py
Due: ruff, ruff-format, ty

Phase 141: Full Portfolio Matrix Forensic & Bottleneck Audit
  docs/design/selection_pipeline_v4_mlops.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
Due: none

Phase 142: Grand Certification Matrix & Barbell Hardening
  docs/design/selection_pipeline_v4_mlops.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
  scripts/production/generate_deep_report.py
  tradingview_scraper/portfolio_engines/impl/custom.py
Due: ruff, ruff-format, ty

Phase 143: Deep Matrix Audit & Operational Standards (v3.5.4)
  docs/design/selection_pipeline_v4_mlops.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
Due: none

Phase 144: Final Sprint Validation & Full Matrix Audit
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
  tradingview_scraper/pipelines/selection/pipeline.py
Due: ruff, ruff-format, ty

Phase 145: Risk Hardening & Performance Benchmarking
  docs/design/selection_pipeline_v4_mlops.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
  scripts/backtest_engine.py
  tradingview_scraper/pipelines/selection/stages/feature_engineering.py
  tradingview_scraper/portfolio_engines/base.py
  tradingview_scraper/portfolio_engines/impl/custom.py
  tradingview_scraper/portfolio_engines/impl/riskfolio.py
  tradingview_scraper/portfolio_engines/impl/skfolio.py
Due: ruff, ruff-format, ty

Phase 147: Deep Forensic Audit & Institutional Tooling
  docs/design/selection_pipeline_v4_mlops.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
  scripts/production/comprehensive_audit_v4.py
  tradingview_scraper/portfolio_engines/impl/custom.py
  tradingview_scraper/portfolio_engines/impl/riskfolio.py
  tradingview_scraper/portfolio_engines/impl/skfolio.py
Due: ruff, ruff-format, ty

Phase 148: Tail-Risk Mitigation & Regime Hardening
  docs/design/selection_pipeline_v4_mlops.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
  tradingview_scraper/pipelines/selection/stages/feature_engineering.py
  tradingview_scraper/pipelines/selection/stages/inference.py
  tradingview_scraper/regime.py
  tradingview_scraper/settings.py
Due: ruff, ruff-format, ty

Phase 147: Stable Institutional Audit & Forensic Standard
  docs/design/selection_pipeline_v4_mlops.md
  docs/specs/plan.md
  scripts/backtest_engine.py
  scripts/production/stable_institutional_audit.py
Due: ruff, ruff-format, ty

Phase 149: Forensic Reporting & Schema Stabilization
  docs/specs/plan.md
  scripts/backtest_engine.py
  scripts/production/stable_institutional_audit.py
Due: ruff, ruff-format, ty

Phase 152: Meta-Portfolio Readiness & Multi-Sleeve Ingestion
  configs/manifest.json
  docs/design/selection_pipeline_v4_mlops.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/multi_sleeve_meta_portfolio_v1.md
  docs/specs/plan.md
  scripts/backtest_engine.py
  scripts/build_meta_returns.py
  scripts/production/final_system_certification_v361.py
  scripts/production/final_v361_certification.py
  scripts/production/stable_institutional_audit.py
  tests/test_selection_pipeline_v4.py
  tradingview_scraper/pipelines/selection/stages/feature_engineering.py
  tradingview_scraper/pipelines/selection/stages/inference.py
  tradingview_scraper/pipelines/selection/stages/policy.py
  tradingview_scraper/utils/clustering.py
  tradingview_scraper/utils/scoring.py
Due: ruff, ruff-format, ty

Clean: Remove temporary certification scripts from production
  scripts/production/final_system_certification_v361.py
  scripts/production/final_v361_certification.py
Due: ruff, ruff-format, ty

Phase 151: Final Forensic Audit Refinement
  scripts/production/stable_institutional_audit.py
  scripts/research/audit_v4_parity.py
Due: ruff, ruff-format, ty

Phase 151: Final Forensic Audit Refinement
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
Due: none

Phase 153: Compounded Return Normalization
  tradingview_scraper/utils/metrics.py
Due: ruff, ruff-format, ty

Phase 153: Compounded Return Normalization
  docs/design/short_lifecycle_architecture.md
  docs/specs/crypto_sleeve_requirements_v1.md
  scripts/production/final_v361_certification.py
  scripts/production/stable_institutional_audit.py
Due: ruff, ruff-format, ty

Phase 154: Proven Metrics Standard (QuantStats)
  docs/design/selection_pipeline_v4_mlops.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
  scripts/backtest_engine.py
  scripts/production/stable_institutional_audit.py
  tradingview_scraper/utils/metrics.py
Due: ruff, ruff-format, ty

Phase 155: Alpha Convergence & Meta-Sleeve Hardening
  docs/design/selection_pipeline_v4_mlops.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
  scripts/backtest_engine.py
  scripts/build_meta_returns.py
  scripts/production/stable_institutional_audit.py
  tradingview_scraper/pipelines/selection/stages/inference.py
  tradingview_scraper/pipelines/selection/stages/policy.py
  tradingview_scraper/utils/metrics.py
Due: ruff, ruff-format, ty

Phase 155: Conviction-Based Sorting & Profile Isolation
  configs/manifest.json
  configs/scanners/crypto/binance_perp_rating_long.yaml
  configs/scanners/crypto/binance_perp_rating_short.yaml
  configs/scanners/crypto/binance_spot_rating_long.yaml
  configs/scanners/crypto/binance_spot_rating_short.yaml
  docs/design/selection_pipeline_v4_mlops.md
  docs/specs/plan.md
  docs/specs/strategy_integration_v1.md
Due: none

Phase 155: Momentum Velocity Enrichment (ROC)
  configs/base/hygiene/institutional.yaml
  configs/base/hygiene/institutional_crypto.yaml
  docs/specs/plan.md
  docs/specs/strategy_integration_v1.md
  scripts/prepare_portfolio_data.py
  scripts/select_top_universe.py
  tradingview_scraper/futures_universe_selector.py
Due: ruff, ruff-format, ty

Phase 155: Strategy Abstraction & Atomization
  configs/manifest.json
  docs/design/selection_pipeline_v4_mlops.md
  docs/specs/plan.md
  docs/specs/strategy_integration_v1.md
  scripts/compose_pipeline.py
  scripts/select_top_universe.py
  tradingview_scraper/pipelines/selection/stages/policy.py
Due: ruff, ruff-format, ty

Phase 155: Institutional Liquidity Hardening (v3.7.2)
  configs/scanners/crypto/ratings/binance_perp_rating_all_long.yaml
  configs/scanners/crypto/ratings/binance_perp_rating_all_short.yaml
  configs/scanners/crypto/ratings/binance_perp_rating_ma_long.yaml
  configs/scanners/crypto/ratings/binance_perp_rating_ma_short.yaml
  configs/scanners/crypto/ratings/binance_perp_rating_osc_long.yaml
  configs/scanners/crypto/ratings/binance_perp_rating_osc_short.yaml
  configs/scanners/crypto/ratings/binance_spot_rating_all_long.yaml
  configs/scanners/crypto/ratings/binance_spot_rating_all_short.yaml
  configs/scanners/crypto/ratings/binance_spot_rating_ma_long.yaml
  configs/scanners/crypto/ratings/binance_spot_rating_ma_short.yaml
  configs/scanners/crypto/ratings/binance_spot_rating_osc_long.yaml
  configs/scanners/crypto/ratings/binance_spot_rating_osc_short.yaml
  docs/design/selection_pipeline_v4_mlops.md
  docs/specs/plan.md
Due: none

Phase 155: Pure Conviction Discovery (v3.7.3)
  configs/base/universes/binance_liquid_base.yaml
  configs/manifest.json
  configs/scanners/crypto/ratings/binance_perp_rating_all_long.yaml
  configs/scanners/crypto/ratings/binance_perp_rating_all_short.yaml
  configs/scanners/crypto/ratings/binance_perp_rating_ma_long.yaml
  configs/scanners/crypto/ratings/binance_perp_rating_ma_short.yaml
  configs/scanners/crypto/ratings/binance_perp_rating_osc_long.yaml
  configs/scanners/crypto/ratings/binance_perp_rating_osc_short.yaml
  configs/scanners/crypto/ratings/binance_spot_rating_all_long.yaml
  configs/scanners/crypto/ratings/binance_spot_rating_all_short.yaml
  configs/scanners/crypto/ratings/binance_spot_rating_ma_long.yaml
  configs/scanners/crypto/ratings/binance_spot_rating_ma_short.yaml
  configs/scanners/crypto/ratings/binance_spot_rating_osc_long.yaml
  configs/scanners/crypto/ratings/binance_spot_rating_osc_short.yaml
  docs/design/selection_pipeline_v4_mlops.md
  docs/specs/plan.md
  docs/specs/strategy_integration_v1.md
  scripts/backtest_engine.py
  scripts/maintenance/inspect_screener_fields.py
  scripts/validate_portfolio_artifacts.py
  tradingview_scraper/pipelines/selection/stages/feature_engineering.py
  tradingview_scraper/pipelines/selection/stages/inference.py
  tradingview_scraper/pipelines/selection/stages/ingestion.py
  tradingview_scraper/settings.py
Due: ruff, ruff-format, ty

Phase 155: Pure Liquidity Base & Tightened Ratings (v3.7.4)
  configs/base/universes/binance_liquid_base.yaml
  configs/scanners/crypto/ratings/binance_spot_rating_all_long.yaml
  configs/scanners/crypto/ratings/binance_spot_rating_all_short.yaml
  configs/scanners/crypto/ratings/binance_spot_rating_ma_long.yaml
  configs/scanners/crypto/ratings/binance_spot_rating_ma_short.yaml
  configs/scanners/crypto/ratings/binance_spot_rating_osc_long.yaml
  configs/scanners/crypto/ratings/binance_spot_rating_osc_short.yaml
  docs/specs/plan.md
  scripts/select_top_universe.py
Due: ruff, ruff-format, ty

Phase 155: Pure Baseline Liquidity Audited (v3.7.6)
  configs/base/universes/binance_liquid_base.yaml
  configs/base/universes/binance_perp_base.yaml
  configs/base/universes/binance_spot_base.yaml
  docs/design/selection_pipeline_v4_mlops.md
  docs/specs/plan.md
  docs/specs/strategy_integration_v1.md
  tradingview_scraper/futures_universe_selector.py
Due: ruff, ruff-format
