Repository tommy-ca/tradingview-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty

ruff:
  name: ruff
  entry: uvx ruff check --fix
  language: system

ruff-format:
  name: ruff-format
  entry: uvx ruff format
  language: system

ty:
  name: ty
  entry: uvx ty
  args:
  - check
  language: system
  pass_filenames: true

Phase 155: Venue Isolation & List Merge Fix (v3.7.7)
  configs/base/universes/binance_liquid_base.yaml
  configs/base/universes/binance_perp_base.yaml
  configs/base/universes/binance_perp_top100.yaml
  configs/base/universes/binance_spot_base.yaml
  configs/base/universes/binance_spot_top100.yaml
  configs/scanners/crypto/ratings/binance_perp_rating_all_long.yaml
  configs/scanners/crypto/ratings/binance_perp_rating_all_short.yaml
  configs/scanners/crypto/ratings/binance_perp_rating_ma_long.yaml
  configs/scanners/crypto/ratings/binance_perp_rating_ma_short.yaml
  configs/scanners/crypto/ratings/binance_perp_rating_osc_long.yaml
  configs/scanners/crypto/ratings/binance_perp_rating_osc_short.yaml
  configs/scanners/crypto/ratings/binance_spot_rating_all_long.yaml
  configs/scanners/crypto/ratings/binance_spot_rating_all_short.yaml
  configs/scanners/crypto/ratings/binance_spot_rating_ma_long.yaml
  configs/scanners/crypto/ratings/binance_spot_rating_ma_short.yaml
  configs/scanners/crypto/ratings/binance_spot_rating_osc_long.yaml
  configs/scanners/crypto/ratings/binance_spot_rating_osc_short.yaml
  docs/design/selection_pipeline_v4_mlops.md
  docs/specs/plan.md
  docs/specs/strategy_integration_v1.md
  scripts/maintenance/inspect_screener_fields.py
  tradingview_scraper/futures_universe_selector.py
Due: ruff, ruff-format, ty

Phase 156: Tail-Risk Hardening & Strategy Granularity (v3.8.1)
  configs/manifest.json
  docs/design/selection_pipeline_v4_mlops.md
  docs/specs/plan.md
  tradingview_scraper/pipelines/selection/stages/feature_engineering.py
  tradingview_scraper/pipelines/selection/stages/policy.py
Due: ruff, ruff-format, ty

Phase 156: Meta-Portfolio Allocation & Metric Hardening (v3.8.2)
  configs/manifest.json
  docs/specs/plan.md
  scripts/backtest_engine.py
  scripts/build_meta_returns.py
  scripts/production/stable_institutional_audit.py
  tradingview_scraper/utils/metrics.py
Due: ruff, ruff-format, ty

docs: Update Nautilus Simulator specs and design docs
  docs/specs/nautilus_parity_design_v1.md
  docs/specs/nautilus_simulator_integration.md
  docs/specs/plan.md
Due: none

chore: Execute Cross-Factor Data Preparation (Phase 171)
  docs/specs/plan.md
Due: none

chore: Document ZENUSDT data repair in Phase 171
  docs/specs/plan.md
Due: none

chore: Complete Phase 172 (Data Repair & Downstream Execution)
  docs/specs/plan.md
Due: none

docs: Plan Phase 173 (Streamlined Data Pipeline)
  docs/specs/data_pipeline_streamlining.md
  docs/specs/plan.md
Due: none

feat: Standardize Data Pipeline on Physical Symbols (Phase 173)
  docs/specs/plan.md
  scripts/prepare_portfolio_data.py
  scripts/select_top_universe.py
Due: ruff, ruff-format, ty

chore: Verify Physical Data Pipeline Execution (Phase 173)
  docs/specs/plan.md
Due: none

feat: Implement Just-In-Time Strategy Synthesis (Phase 174)
  docs/specs/plan.md
  scripts/analyze_clusters.py
  scripts/optimize_clustered_v2.py
  scripts/run_production_pipeline.py
  scripts/synthesize_strategy_matrix.py
Due: ruff, ruff-format, ty

docs: Update Workflow & Plan for Phase 173/174
  docs/specs/data_pipeline_streamlining.md
  docs/specs/plan.md
  docs/specs/quantitative_workflow.md
Due: none

chore: Complete Phase 175 (Production Cycle Initiation)
  docs/specs/plan.md
Due: none

docs: Update Strategy Synthesis Spec & Complete Phase 176
  docs/specs/plan.md
  docs/specs/strategy_synthesis_v1.md
Due: none

chore: Finalize Phase 176 (Production Execution & Audit)
  docs/reports/stable_forensic_report.md
  docs/specs/plan.md
  scripts/flatten_strategy_weights.py
  scripts/generate_forensic_report.py
  scripts/run_production_pipeline.py
Due: ruff, ruff-format, ty

chore: Complete Phase 177 (Deep Forensic & Ledger Audit)
  docs/reports/stable_forensic_report.md
  docs/specs/plan.md
  scripts/prepare_portfolio_data.py
  scripts/run_production_pipeline.py
Due: ruff, ruff-format, ty

chore: Finalize Phase 177 Forensic Audit
  docs/reports/stable_forensic_report.md
  docs/specs/plan.md
  scripts/generate_forensic_report.py
Due: ruff, ruff-format, ty

chore: Complete Phase 178 (Deep Forensic Audit)
  docs/reports/deep_ledger_audit.md
  docs/specs/plan.md
Due: none

chore: Complete Phase 179 (Liquidity Floor Adjustment & Re-Ingestion)
  configs/base/universes/binance_spot_base.yaml
  docs/specs/plan.md
Due: none

chore: Audit Scanner Filters (Phase 179)
  docs/specs/plan.md
  tradingview_scraper/futures_universe_selector.py
Due: ruff, ruff-format

chore: Complete Phase 180 (Production Re-Run & Convergence Fix)
  docs/reports/stable_forensic_report.md
  docs/specs/plan.md
  scripts/generate_portfolio_report.py
Due: ruff, ruff-format, ty

chore: Finalize Phase 180 (Production Certification)
  docs/specs/plan.md
Due: none

chore: Complete Phase 181 (Gold Asset Exclusion)
  configs/base/universes/binance_spot_base.yaml
  docs/reports/stable_forensic_report.md
  docs/specs/plan.md
Due: none

chore: Standardize Backtest Train Window to 252 Days (Phase 182)
  configs/manifest.json
  docs/specs/plan.md
  tradingview_scraper/settings.py
Due: ruff, ruff-format, ty

chore: Complete Phase 183 (Standardized Window Validation)
  docs/reports/stable_forensic_report.md
  docs/specs/plan.md
  docs/specs/quantitative_workflow.md
  scripts/generate_forensic_report.py
Due: ruff, ruff-format, ty

chore: Complete Phase 184 (Meta-Portfolio Verification)
  docs/specs/plan.md
Due: none

chore: Complete Phase 185 (Meta Optimization Upgrade)
  docs/specs/plan.md
  scripts/generate_meta_report.py
  scripts/run_production_pipeline.py
Due: ruff, ruff-format, ty

chore: Complete Phase 186 (Meta-Tournament & Selection)
  docs/specs/plan.md
  scripts/optimize_meta_portfolio.py
Due: ruff, ruff-format, ty

chore: Complete Phase 187 & 188 (Meta-Anomaly Fix & Final Selection)
  docs/specs/plan.md
  scripts/audit_meta_anomaly.py
  scripts/debug_toxic_asset.py
  scripts/inspect_raw_prices.py
  scripts/prepare_portfolio_data.py
  scripts/synthesize_strategy_matrix.py
Due: ruff, ruff-format, ty

chore: Complete Phase 189 (Toxic Data Cleanup)
  docs/specs/plan.md
  scripts/audit_ada_short.py
  scripts/audit_prom.py
  scripts/audit_xrp.py
Due: ruff, ruff-format, ty

docs: Architecture Decision - Synthetic Logic Necessity (Phase 191)
  configs/manifest.json
  docs/design/adaptive_rebalancing_strategy.md
  docs/design/adr_synthetic_logic_necessity.md
  docs/specs/plan.md
Due: none

release: v4.0.0 (Production Ready)
  AGENTS.md
  docs/specs/plan.md
Due: none

feat: Implement Short Risk Isolation (Phase 193)
  docs/design/short_risk_isolation.md
  scripts/backtest_engine.py
  tradingview_scraper/portfolio_engines/backtest_simulators.py
Due: ruff, ruff-format, ty

chore: Complete Phase 194 (Data Integrity Audit)
  docs/reports/data_corruption_audit_ada.md
  docs/specs/plan.md
  scripts/audit_data_spikes.py
Due: ruff, ruff-format, ty

chore: Complete Phase 196 (Data Restoration)
  docs/specs/plan.md
Due: none

docs: Define DataOps Architecture (Phase 197)
  docs/specs/dataops_architecture_v1.md
  docs/specs/plan.md
Due: none

feat: Implement Decoupled DataOps Architecture (Phase 197)
  Makefile
  docs/specs/plan.md
  scripts/prepare_portfolio_data.py
  scripts/run_production_pipeline.py
  scripts/services/ingest_data.py
  tests/scripts/test_prepare_portfolio_data.py
  tests/services/test_ingest_data.py
Due: ruff, ruff-format, ty

feat: Implement Isolated Metadata Pipeline (Phase 198)
  Makefile
  docs/specs/data_pipeline_metadata_v2.md
  docs/specs/plan.md
  scripts/run_production_pipeline.py
Due: ruff, ruff-format, ty

docs: Formalize Lakehouse Schema Registry (Phase 199)
  docs/design/lakehouse_schema_registry.md
  docs/specs/dataops_architecture_v1.md
  docs/specs/plan.md
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  ty: any of: \.py$, but not: (?x)^(
  tests/|
  tradingview_scraper/symbols/news\.py|
  tradingview_scraper/futures_universe_selector\.py|
  tradingview_scraper/symbols/cal\.py|
  tradingview_scraper/symbols/stream/streamer\.py
)

