Repository tommy-ca/tradingview-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty

ruff:
  name: ruff
  entry: uvx ruff check --fix
  language: system

ruff-format:
  name: ruff-format
  entry: uvx ruff format
  language: system

ty:
  name: ty
  entry: uvx ty
  args:
  - check
  language: system
  pass_filenames: true

fix(backtest): stabilize wealth process and summary metrics to resolve anomalous returns
  docs/specs/plan.md
  tradingview_scraper/portfolio_engines/backtest_simulators.py
  tradingview_scraper/utils/metrics.py
Due: ruff, ruff-format, ty

docs: finalize v3.6.6 requirements and design updates
  docs/design/crypto_sleeve_design_v1.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
Due: none

docs: finalize v3.6.6 infrastructure and stability audit
  docs/design/crypto_sleeve_design_v1.md
  docs/reports/forensic_audit_v3.6.6_stability.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
  scripts/debug_cvx_wealth.py
  tradingview_scraper/portfolio_engines/backtest_simulators.py
Due: ruff, ruff-format, ty

docs: certify institutional baseline and document high-alpha barbell trace
  configs/manifest.json
  docs/design/crypto_sleeve_design_v1.md
  docs/specs/plan.md
Due: none

feat(meta): implement fractal nesting and recursive aggregation for meta-portfolios
  Makefile
  configs/manifest.json
  docs/design/crypto_sleeve_design_v1.md
  docs/specs/crypto_sleeve_requirements_v1.md
  scripts/build_meta_returns.py
  scripts/flatten_meta_weights.py
  scripts/generate_meta_report.py
  scripts/optimize_meta_portfolio.py
Due: ruff, ruff-format, ty

docs: sync plan.md with latest completions
  docs/specs/plan.md
Due: none

feat(meta): implementation of fractal recursive aggregation and audit tree persistence
  docs/specs/crypto_sleeve_requirements_v1.md
  scripts/optimize_meta_portfolio.py
Due: ruff, ruff-format, ty

docs: finalize fractal implementation and SDD flow definition
  docs/specs/plan.md
  docs/specs/sdd_flow.md
Due: none

feat(meta): finalize fractal meta-portfolio with recursive aggregation and physical asset collapse
  Makefile
  configs/manifest.json
  docs/design/crypto_sleeve_design_v1.md
  docs/reports/fractal_meta_audit_20260118.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/fractal_meta_portfolio_v1.md
  docs/specs/plan.md
  scripts/build_meta_returns.py
  scripts/run_meta_pipeline.py
Due: ruff, ruff-format, ty

feat(backtest): implement synthetic feature backfill service
  docs/design/dynamic_backtesting_v1.md
  docs/specs/plan.md
  scripts/services/backfill_features.py
Due: ruff, ruff-format, ty

feat(backtest): optimize backfill service with step-size and robust timezones
  pyproject.toml
  scripts/services/backfill_features.py
  uv.lock
Due: ruff, ruff-format, ty

feat(backtest): implement synthetic feature backfill service
  scripts/services/backfill_features.py
Due: ruff, ruff-format, ty

docs: rerun meta portfolio pipelines for binance spot ratings and update specs
  configs/manifest.json
  docs/specs/binance_ratings_rerun_status_20260118.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
  scripts/generate_meta_report.py
Due: ruff, ruff-format, ty

audit: meta-portfolio forensic audit and streamlining proposal
  docs/specs/binance_ratings_rerun_status_20260118.md
  docs/specs/meta_streamlining_v1.md
  docs/specs/plan.md
  scripts/audit_windows.py
Due: ruff, ruff-format, ty

feat: meta-portfolio hardening with health guardrails, caching, and forensic anomalies
  configs/manifest.json
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
  scripts/build_meta_returns.py
  scripts/generate_meta_report.py
  scripts/run_meta_pipeline.py
  scripts/validate_sleeve_health.py
Due: ruff, ruff-format, ty

docs: schedule Phase 223 and cleanup redundant scripts
  docs/specs/plan.md
  scripts/audit_windows.py
Due: ruff, ruff-format, ty

audit: forensic audit of healthy meta-data and parallelization design
  docs/design/parallel_orchestration_v1.md
  docs/specs/plan.md
  scripts/validate_sleeve_health.py
Due: ruff, ruff-format, ty

feat: implement Ray-based parallel orchestration for meta-portfolio sleeves
  docs/design/parallel_orchestration_v1.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
  scripts/parallel_orchestrator_ray.py
  scripts/run_meta_pipeline.py
Due: ruff, ruff-format, ty

feat: implement institutional anomaly mitigation with adaptive ridge and numerical clipping
  docs/design/anomaly_mitigation_v1.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
  scripts/backtest_engine.py
  scripts/parallel_orchestrator_ray.py
  tradingview_scraper/utils/metrics.py
Due: ruff, ruff-format, ty

docs: finalize Phase 224 and schedule Phase 225
  docs/specs/plan.md
Due: none

feat: certify institutional anomaly mitigation and hardened ray orchestration
  configs/manifest.json
  docs/specs/plan.md
  scripts/backtest_engine.py
  scripts/generate_meta_report.py
  scripts/parallel_orchestrator_ray.py
Due: ruff, ruff-format, ty

feat: implement arithmetic annualization and hardened diversity caps
  docs/design/anomaly_mitigation_v1.md
  docs/specs/plan.md
  scripts/backtest_engine.py
  scripts/generate_meta_report.py
  scripts/parallel_orchestrator_ray.py
  tradingview_scraper/utils/metrics.py
Due: ruff, ruff-format, ty

docs: finalize Phase 225 and Phase 226
  docs/specs/plan.md
Due: none

docs: update requirements, specs, and design for fractal framework and orchestration layer
  AGENTS.md
  docs/design/claude_skills_v1.md
  docs/design/dynamic_backtesting_v1.md
  docs/design/fractal_framework_v1.md
  docs/design/hmm_regime_optimization_v1.md
  docs/design/metrics_reporting_v2.md
  docs/design/orchestration_layer_v1.md
  docs/design/ray_native_filesystem_isolation.md
  docs/design/ray_native_migration_v1.md
  docs/design/regime_detector_upgrade_v1.md
  docs/design/regime_directional_filter_v1.md
  docs/design/regime_risk_integration_v1.md
  docs/design/strategy_regime_ranker_v1.md
  docs/design/workspace_isolation_v1.md
  docs/design/workspace_isolation_v2.md
  docs/production_workflow.md
  docs/specs/crypto_sleeve_v2.md
  docs/specs/distributed_execution_v1.md
  docs/specs/known_issues_v3.6.md
  docs/specs/lakehouse_policy.md
  docs/specs/numerical_stability.md
  docs/specs/plan.md
  docs/specs/production_workflow_v2.md
  docs/specs/requirements_v3.md
Due: none

feat(orchestration): introduce Ray-based parallel compute layer for sleeve execution
  docs/design/orchestration_audit_v1.md
  docs/design/orchestration_refinement_v1.md
  docs/design/prefect_integration_v1.md
  docs/design/ray_compute_v1.md
  docs/design/ray_validation_v1.md
  scripts/audit_orchestration.py
  tests/integration/test_ray_meta_orchestration.py
  tests/test_orchestration_audit.py
  tests/test_ray_compute.py
  tradingview_scraper/orchestration/compute.py
  tradingview_scraper/orchestration/registry.py
  tradingview_scraper/orchestration/sdk.py
  tradingview_scraper/orchestration/sleeve_executor.py
Due: ruff, ruff-format, ty

feat(meta): register meta-pipeline stages and enhance recursive aggregation
  docs/audit/meta_portfolio_readiness.md
  docs/design/module_integration_v1.md
  docs/specs/fractal_meta_portfolio_v1.md
  docs/specs/meta_streamlining_v1.md
  docs/specs/strategy_integration_v1.md
  scripts/build_meta_returns.py
  scripts/flatten_meta_weights.py
  scripts/generate_meta_report.py
  scripts/optimize_meta_portfolio.py
  scripts/run_meta_pipeline.py
  scripts/validate_meta_parity.py
  scripts/validate_meta_run.py
  scripts/validate_sleeve_health.py
  tests/test_meta_flatten_physical_assets.py
  tests/test_meta_integration.py
  tests/test_meta_weight_bounds.py
  tests/test_validate_meta_run_sign_test_gate.py
  tradingview_scraper/settings.py
Due: ruff, ruff-format, ty

feat(selection): introduce PredictabilityFilter and HTR stage refinements
  tests/test_policy_integration.py
  tests/test_selection_filters.py
  tradingview_scraper/pipelines/selection/filters/darwinian.py
  tradingview_scraper/pipelines/selection/filters/friction.py
  tradingview_scraper/pipelines/selection/filters/predictability.py
  tradingview_scraper/pipelines/selection/filters/spectral.py
  tradingview_scraper/pipelines/selection/pipeline.py
  tradingview_scraper/pipelines/selection/stages/feature_engineering.py
  tradingview_scraper/pipelines/selection/stages/ingestion.py
  tradingview_scraper/pipelines/selection/stages/policy.py
  tradingview_scraper/utils/candidates.py
  tradingview_scraper/utils/metrics.py
  tradingview_scraper/utils/scoring.py
Due: ruff, ruff-format, ty

feat(audit): introduce directional correction sign test and audit gate
  docs/design/adr_synthetic_logic_necessity.md
  docs/design/directional_synthetic_logic_v1.md
  docs/design/short_lifecycle_architecture.md
  docs/design/strategy_composition_v1.md
  docs/specs/directional_correction_sign_test_v1.md
  scripts/audit_directional_sign_test.py
  tests/test_directional_sign_test.py
  tests/test_meta_pipeline_sign_test_gate.py
  tests/test_production_pipeline_sign_test_gate.py
Due: ruff, ruff-format, ty

docs(hardening): implement correctness hardening and contract tightening (Phases 370-380)
  docs/audit/binance_spot_ratings_atomic_audit_plan_v1.md
  docs/design/alpha_readonly_enforcement_phase372_v1.md
  docs/design/atomic_sleeve_audit_contract_v1.md
  docs/design/contract_tightening_phase380_v1.md
  docs/design/correctness_hardening_phase370_v1.md
  docs/design/modular_pipeline_safety_phase373_v1.md
  docs/design/path_determinism_phase371_v1.md
  docs/design/validation_no_padding_phase374_v1.md
  docs/specs/atomic_run_validation_v1.md
  docs/specs/phase370_correctness_hardening_todo.md
  docs/specs/phase371_374_sdd_todo.md
  docs/specs/phase380_contract_tightening_todo.md
  scripts/run_atomic_audit.py
  scripts/validate_atomic_run.py
  tests/test_phase370_correctness_hardening.py
  tests/test_phase371_374_sdd.py
  tests/test_phase373_modular_pipeline_safety.py
  tests/test_phase380_contract_tightening.py
  tests/test_run_atomic_audit.py
  tests/test_validate_atomic_run_gate.py
Due: ruff, ruff-format, ty

feat(crypto): enhance Binance hygiene and crypto annualization metrics
  configs/base/hygiene/institutional_crypto.yaml
  docs/design/crypto_sleeve_design_v1.md
  docs/specs/binance_spot_ratings_atomic_pipelines_v1.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/crypto_sleeve_v2.md
  tests/test_metrics_annualization_crypto.py
Due: ruff, ruff-format

chore: update infrastructure, discovery pipeline, and documentation
  Makefile
  configs/manifest.json
  docs/specs/dataops_architecture_v1.md
  docs/specs/plan.md
  docs/specs/production_workflow_v2.md
  docs/specs/reproducibility_standard.md
  docs/specs/requirements_v3.md
  docs/specs/strategy_synthesis_v1.md
  docs/specs/universe_atoms_and_perspectives_v1.md
  docs/specs/workflow_manifests.md
  ralph.yml
  scripts/compose_pipeline.py
  scripts/lint_universe_configs.py
  scripts/prepare_portfolio_data.py
  scripts/run_production_pipeline.py
  scripts/services/consolidate_candidates.py
  scripts/services/ingest_data.py
  tests/test_discovery_integration.py
  tradingview_scraper/pipelines/discovery/base.py
  tradingview_scraper/pipelines/discovery/pipeline.py
  tradingview_scraper/pipelines/discovery/tradingview.py
Due: ruff, ruff-format, ty

docs: add SOP planning, runbooks, and task tracking
  .sop/planning/idea-honing.md
  .sop/planning/research/audit-acceptance-criteria.md
  .sop/planning/research/config-and-repro.md
  .sop/planning/research/current-architecture.md
  .sop/planning/research/fractal-meta-portfolio.md
  .sop/planning/research/repo-prd-inventory.md
  .sop/planning/rough-idea.md
  docs/runbooks/binance_spot_ratings_all_long_short_runbook_v1.md
  tasks/step21/task-01-meta-stage-registration-bootstrap.code-task.md
  tasks/step21/task-02-meta-stages-package-implementation.code-task.md
  tasks/step21/task-03-meta-pipeline-orchestrator-unification.code-task.md
  tasks/step21/task-04-e2e-meta-pipeline-contracts-and-tests.code-task.md
Due: none

feat(telemetry): introduce OpenTelemetry shared package and harden Ray lifecycle
  AGENTS.md
  docs/design/ray_lifecycle_v2.md
  docs/design/telemetry_standard_v1.md
  docs/specs/plan.md
  docs/specs/requirements_v3.md
  scripts/run_production_pipeline.py
  tests/test_ray_lifecycle.py
  tests/test_telemetry_provider.py
  tradingview_scraper/orchestration/compute.py
  tradingview_scraper/orchestration/sdk.py
  tradingview_scraper/telemetry/__init__.py
  tradingview_scraper/telemetry/logging.py
  tradingview_scraper/telemetry/provider.py
  tradingview_scraper/telemetry/tracing.py
Due: ruff, ruff-format, ty

docs: mark Phase 400 as completed in plan
  docs/specs/plan.md
Due: none

feat(telemetry): implement distributed trace propagation and automatic metrics
  docs/design/telemetry_standard_v1.md
  docs/specs/plan.md
  scripts/run_meta_pipeline.py
  scripts/run_production_pipeline.py
  tests/test_distributed_tracing.py
  tests/test_ray_lifecycle.py
  tests/test_telemetry_metrics.py
  tests/test_telemetry_provider.py
  tradingview_scraper/orchestration/compute.py
  tradingview_scraper/orchestration/sleeve_executor.py
  tradingview_scraper/telemetry/context.py
  tradingview_scraper/telemetry/logging.py
  tradingview_scraper/telemetry/provider.py
  tradingview_scraper/telemetry/tracing.py
Due: ruff, ruff-format, ty

feat(pipelines): formalize discovery scanners and filter modules
  tradingview_scraper/pipelines/discovery/binance.py
  tradingview_scraper/pipelines/discovery/pipeline.py
  tradingview_scraper/pipelines/selection/filters/darwinian.py
  tradingview_scraper/pipelines/selection/filters/friction.py
  tradingview_scraper/pipelines/selection/filters/predictability.py
Due: ruff, ruff-format, ty

feat(orchestration): register pipeline stages in StageRegistry
  scripts/optimize_clustered_v2.py
  tradingview_scraper/pipelines/selection/pipeline.py
  tradingview_scraper/pipelines/selection/stages/clustering.py
  tradingview_scraper/pipelines/selection/stages/feature_engineering.py
  tradingview_scraper/pipelines/selection/stages/inference.py
  tradingview_scraper/pipelines/selection/stages/ingestion.py
  tradingview_scraper/pipelines/selection/stages/policy.py
  tradingview_scraper/pipelines/selection/stages/synthesis.py
Due: ruff, ruff-format, ty

feat(orchestration): introduce Prefect flows for selection and meta-portfolios
  tests/test_prefect_flows.py
  tradingview_scraper/orchestration/flows/__init__.py
  tradingview_scraper/orchestration/flows/meta.py
  tradingview_scraper/orchestration/flows/selection.py
Due: ruff, ruff-format, ty

feat(skills): implement Claude Code skills for high-level quant operations
  .claude/skills/quant-backtest/SKILL.md
  .claude/skills/quant-backtest/scripts/run_backtest.py
  .claude/skills/quant-discover/SKILL.md
  .claude/skills/quant-discover/scripts/run_discovery.py
  .claude/skills/quant-optimize/SKILL.md
  .claude/skills/quant-optimize/scripts/run_optimize.py
  AGENTS.md
  tests/test_claude_skills.py
Due: ruff, ruff-format, ty

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  ty: any of: \.py$, but not: (?x)^(
  tests/|
  tradingview_scraper/symbols/news\.py|
  tradingview_scraper/futures_universe_selector\.py|
  tradingview_scraper/symbols/cal\.py|
  tradingview_scraper/symbols/stream/streamer\.py
)

