Repository tommy-ca/tradingview-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uvx ruff check --fix
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: uvx ruff format
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: uvx ty
        args: ["check"]
        language: system
        types: [python]
        pass_filenames: true
        # Exclude tests and currently failing files to allow incremental adoption
        exclude: >
          (?x)^(
            tests/|
            tradingview_scraper/symbols/news\.py|
            tradingview_scraper/futures_universe_selector\.py|
            tradingview_scraper/symbols/cal\.py|
            tradingview_scraper/symbols/stream/streamer\.py
          )

docs(plan): record risk profile audit and pytest warnings
  docs/specs/plan.md
Due: none

fix(symbols): replace pkg_resources with importlib.resources
  tradingview_scraper/symbols/news.py
  tradingview_scraper/symbols/technicals.py
Due: ruff, ruff-format, ty

fix(metadata): avoid pandas warnings in catalog updates
  scripts/maintenance/cleanup_metadata_catalog.py
  tradingview_scraper/symbols/stream/metadata.py
Due: ruff, ruff-format, ty

fix(metrics): avoid runtime warnings in calmar and ADF
  tradingview_scraper/utils/metrics.py
  tradingview_scraper/utils/predictability.py
Due: ruff, ruff-format, ty

docs(plan): mark pytest warnings resolved
  docs/specs/plan.md
Due: none

Fix tournament instrumentation and strict scoreboard gating
  Makefile
  configs/manifest.json
  scripts/backtest_engine.py
  scripts/research/grand_4d_tournament.py
  scripts/research/tournament_scoreboard.py
  scripts/validate_portfolio_artifacts.py
  tests/test_tournament_scoreboard.py
  tradingview_scraper/portfolio_engines/backtest_simulators.py
  tradingview_scraper/portfolio_engines/engines.py
  tradingview_scraper/portfolio_engines/nautilus_adapter.py
  tradingview_scraper/regime.py
  tradingview_scraper/settings.py
  tradingview_scraper/utils/metrics.py
Due: ruff, ruff-format, ty

Docs: standardize strict scoreboard and multi-perspective roadmap
  docs/specs/audit_iss002_af_dist_dominance_20260105.md
  docs/specs/audit_recent_smokes_strict_scoreboard_20260105.md
  docs/specs/audit_smoke_20260105_154839.md
  docs/specs/audit_smoke_production_defaults_20260105_191332.md
  docs/specs/audit_smoke_production_defaults_min_af_dist_neg0p2_20260105_201357.md
  docs/specs/audit_smoke_regime_windowing_20260105_174600_vs_180000.md
  docs/specs/audit_window_compare_20260105_170135_vs_170324.md
  docs/specs/benchmark_standards_v1.md
  docs/specs/discovery_venue_coverage_matrix_v1.md
  docs/specs/iss002_policy_decision_20260105.md
  docs/specs/iss003_iss004_policy_decisions_20260105.md
  docs/specs/live_trading_promotion_pipeline_v1.md
  docs/specs/natural_selection_spec_v1.md
  docs/specs/plan.md
  docs/specs/production_pipeline_status_and_expansion_roadmap_20260105.md
  docs/specs/regime_labeling_semantics_v1.md
  docs/specs/scanner_expansion_breadth_first_asset_types_v1.md
  docs/specs/selection_intelligence_v1.md
  docs/specs/selection_jaccard_v1.md
  docs/specs/selection_stability_jaccard_v1.md
  docs/specs/strict_scoreboard_issue_execution_plan_2026q1.md
  docs/specs/strict_scoreboard_issue_playbooks_v1.md
  docs/specs/strict_scoreboard_metrics_spec_v1.md
  docs/specs/universe_atoms_and_perspectives_v1.md
  docs/specs/universe_expansion_execution_plan_2026q1.md
  docs/specs/workflow_manifests.md
Due: none

UE-010: add commodity proxy ETF basket scanner
  configs/base/universes/commodity_proxy_etfs.yaml
  configs/manifest.json
  configs/scanners/tradfi/commodity_proxy_etfs.yaml
Due: none

UE-010: support static universe scanners
  configs/base/universes/commodity_proxy_etfs.yaml
  tradingview_scraper/futures_universe_selector.py
Due: ruff, ruff-format

UE-010: fix commodity ETF basket symbols
  configs/base/universes/commodity_proxy_etfs.yaml
Due: none

UE-010: log commodity ETF smoke audit and add ISS-008 gating issue
  docs/specs/audit_smoke_ue010_commodity_proxy_etfs_20260105_214909.md
  docs/specs/plan.md
Due: none

Docs: detail active investigations for ISS-001/006/008
  docs/specs/strict_scoreboard_issue_execution_plan_2026q1.md
Due: none

Scoreboard: implement sleeve-aware thresholds and resolve ISS-001/008
  docs/specs/plan.md
  docs/specs/strict_scoreboard_issue_execution_plan_2026q1.md
  scripts/research/tournament_scoreboard.py
Due: ruff, ruff-format, ty

Simulators: align friction calculation with CVXPortfolio and resolve ISS-005
  docs/specs/plan.md
  docs/specs/strict_scoreboard_issue_execution_plan_2026q1.md
  tradingview_scraper/portfolio_engines/backtest_simulators.py
Due: ruff, ruff-format, ty

Docs: resolve remaining scoreboard issues (ISS-002, ISS-007) and finalize validation runs
  docs/specs/plan.md
  docs/specs/strict_scoreboard_issue_execution_plan_2026q1.md
Due: none

Docs: finalize Q1 2026 stabilization audit and update production plan
  docs/specs/audit_q1_2026_scoreboard_stabilization.md
  docs/specs/benchmark_standards_v1.md
  docs/specs/plan.md
Due: none

Production: finalize Q1 2026 tournament sweep and audit validation
  docs/specs/audit_production_sweep_q1_2026_20260106.md
  docs/specs/plan.md
Due: none

Production: finalize Q1 2026 winner forensics and order generation audit
  docs/specs/audit_production_sweep_q1_2026_20260106.md
  docs/specs/plan.md
Due: none

Production: unify order generation with riskfolio winner and harden engines
  docs/specs/benchmark_standards_v1.md
  docs/specs/plan.md
  scripts/maintenance/track_portfolio_state.py
  scripts/production/generate_orders_v3.py
  tradingview_scraper/portfolio_engines/engines.py
Due: ruff, ruff-format, ty

Docs: define implementation taxonomy and update Q1 production focus
  docs/specs/benchmark_standards_v1.md
  docs/specs/plan.md
Due: none

Production: enhance V3 order generator with dynamic winner selection
  scripts/production/generate_orders_v3.py
Due: ruff, ruff-format, ty

Plan: mark replayable orders task as completed
  docs/specs/plan.md
Due: none

Production: implement multi-winner order generation with strategy deduplication
  docs/specs/live_trading_promotion_pipeline_v1.md
  docs/specs/plan.md
  scripts/production/generate_orders_v3.py
Due: ruff, ruff-format, ty

Production: bridge drift monitor to Multi-Winner V3 schema and update specs
  docs/specs/live_trading_promotion_pipeline_v1.md
  docs/specs/plan.md
  scripts/maintenance/track_portfolio_state.py
Due: ruff, ruff-format, ty

Docs: formalize Execution Engine (Nautilus/MT5) and Metadata Service V1 specs
  docs/specs/execution_engine_v1.md
  docs/specs/live_trading_promotion_pipeline_v1.md
  docs/specs/plan.md
Due: none

feat(nautilus): implement core engines, strategy, and parity tests
  .opencode/plan/mt5_native_pivot.md
  conductor/archived/metadata_enrichment_connectors_20251221/plan.md
  docs/specs/archive/mt5_deployment_guide_zmq_deprecated.md
  docs/specs/archive/mt5_oms_design_zmq_deprecated.md
  docs/specs/metadata_service_v1.md
  docs/specs/mt5_native_adapter_design.md
  docs/specs/nautilus_live_design.md
  docs/specs/nautilus_parity_design_v1.md
  docs/specs/unified_oms_design.md
  pyproject.toml
  scripts/build_execution_catalog.py
  scripts/run_live_shadow.py
  scripts/run_live_unified.py
  scripts/validate_matrix.py
  scripts/validate_parity.py
  tests/test_execution_metadata.py
  tests/test_nautilus_adapter.py
  tests/test_nautilus_loader.py
  tests/test_nautilus_metrics.py
  tests/test_nautilus_parity.py
  tests/test_nautilus_provider.py
  tests/test_nautilus_strategy.py
  tradingview_scraper/execution/__init__.py
  tradingview_scraper/execution/adapters/mt5_adapter.py
  tradingview_scraper/execution/adapters/nautilus_adapter.py
  tradingview_scraper/execution/metadata.py
  tradingview_scraper/execution/mt5/client.py
  tradingview_scraper/execution/mt5/data.py
  tradingview_scraper/execution/mt5/execution.py
  tradingview_scraper/execution/oms.py
  tradingview_scraper/portfolio_engines/nautilus_adapter.py
  tradingview_scraper/portfolio_engines/nautilus_live.py
  tradingview_scraper/portfolio_engines/nautilus_live_strategy.py
  tradingview_scraper/portfolio_engines/nautilus_loader.py
  tradingview_scraper/portfolio_engines/nautilus_provider.py
  tradingview_scraper/portfolio_engines/nautilus_strategy.py
  uv.lock
Due: ruff, ruff-format, ty

chore: cleanup legacy requirements and plans
  tests/test_nautilus_parity.py
  tradingview_scraper/portfolio_engines/nautilus_adapter.py
  tradingview_scraper/portfolio_engines/nautilus_live.py
  tradingview_scraper/portfolio_engines/nautilus_provider.py
  tradingview_scraper/portfolio_engines/nautilus_strategy.py
Due: ruff, ruff-format, ty

fix(nautilus): harden parity smoke test and fix portfolio attribute errors
  Makefile
  scripts/validate_parity.py
  tradingview_scraper/portfolio_engines/nautilus_strategy.py
Due: ruff, ruff-format, ty

feat(etf): add institutional etf profile and robust discovery rules
  configs/base/universes/bond_etfs.yaml
  configs/manifest.json
  configs/scanners/tradfi/bond_trend.yaml
  configs/scanners/tradfi/commodity_proxy_etfs.yaml
Due: none

feat(selection): robustify scoring engines and inject alpha metrics into audit ledger
  scripts/natural_selection.py
  tradingview_scraper/futures_universe_selector.py
  tradingview_scraper/selection_engines/engines.py
  tradingview_scraper/settings.py
  tradingview_scraper/utils/predictability.py
  tradingview_scraper/utils/scoring.py
Due: ruff, ruff-format, ty

feat(audit): improve selection alpha reporting and centralize optimization engines
  AGENTS.md
  scripts/backtest_engine.py
  scripts/correlation_report.py
  scripts/generate_reports.py
  scripts/generate_selection_report.py
  scripts/optimize_clustered_v2.py
Due: ruff, ruff-format, ty

feat(tournament): unify production and research orchestrators into grand_tournament.py
  scripts/grand_tournament.py
  scripts/research/grand_4d_tournament.py
Due: ruff, ruff-format, ty

feat(execution): implement metadata service and shadow loop for drift reconciliation
  scripts/fetch_execution_metadata.py
  scripts/maintenance/shadow_loop_sim.py
Due: ruff, ruff-format, ty

feat(live): implement live adapter shadow mode and order submission logic
  scripts/live/run_nautilus_shadow.py
  tradingview_scraper/portfolio_engines/nautilus_live_strategy.py
Due: ruff, ruff-format, ty

docs(audit): finalize q1 2026 etf validation and forensic audit results
  docs/specs/forensic_audit_jan_2026.md
  docs/specs/nautilus_live_adapter.md
  docs/specs/nautilus_live_design.md
  docs/specs/plan.md
Due: none

fix(engines): add missing Type metadata to optimized weights
  tradingview_scraper/portfolio_engines/engines.py
Due: ruff, ruff-format, ty

feat(etf): expand institutional etf discovery with broad index, sector, and commodity scanners
  configs/base/hygiene/institutional.yaml
  configs/base/universes/bond_etfs.yaml
  configs/base/universes/commodity_etfs.yaml
  configs/base/universes/index_etfs.yaml
  configs/base/universes/sector_etfs.yaml
  configs/manifest.json
  configs/scanners/tradfi/commodity_etf_trend.yaml
  configs/scanners/tradfi/index_etf_trend.yaml
  configs/scanners/tradfi/sector_etf_trend.yaml
  docs/specs/institutional_etf_scanners.md
Due: none

feat(live): implement phase 3 persistence loop and robust multi-winner rebalance logic
  docs/specs/plan.md
  scripts/live/run_nautilus_shadow.py
  tradingview_scraper/portfolio_engines/nautilus_live.py
  tradingview_scraper/portfolio_engines/nautilus_live_strategy.py
Due: ruff, ruff-format, ty

fix(live): harden strategy logic for shadow mode and metadata limit enforcement
  tradingview_scraper/portfolio_engines/nautilus_live.py
  tradingview_scraper/portfolio_engines/nautilus_live_strategy.py
Due: ruff, ruff-format, ty

docs(audit): update specs and design with final certified results and live adapter architecture
  docs/specs/forensic_audit_jan_2026.md
  docs/specs/nautilus_live_design.md
  docs/specs/plan.md
Due: none
