Repository tommy-ca/tradingview-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uvx ruff check --fix
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: uvx ruff format
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: uvx ty
        args: ["check"]
        language: system
        types: [python]
        pass_filenames: true
        # Exclude tests and currently failing files to allow incremental adoption
        exclude: >
          (?x)^(
            tests/|
            tradingview_scraper/symbols/news\.py|
            tradingview_scraper/futures_universe_selector\.py|
            tradingview_scraper/symbols/cal\.py|
            tradingview_scraper/symbols/stream/streamer\.py
          )

feat(backtest): implement raw pool baseline and improve tournament orchestration
  scripts/backtest_engine.py
  scripts/run_4d_tournament.py
  tradingview_scraper/portfolio_engines/engines.py
  tradingview_scraper/selection_engines/__init__.py
Due: ruff, ruff-format, ty

feat(reporting): refactor selection and human-readable tables for 4D tournament data
  scripts/generate_human_table.py
  scripts/generate_risk_report.py
  scripts/generate_selection_report.py
  scripts/print_tournament_table.py
Due: ruff, ruff-format, ty

chore(scripts): add research and diagnostic utilities for 2026 quantitative audit
  scripts/benchmark_risk_models.py
  scripts/benchmark_rp_fidelity.py
  scripts/debug_vbt_alignment.py
  scripts/debug_vbt_fix.py
  scripts/debug_vbt_outlier.py
  scripts/debug_vbt_shift.py
  scripts/diagnose_v3_internals.py
  scripts/prototype_cvx_rp.py
Due: ruff, ruff-format, ty

test(backtest): add rebalance lifecycle verification test
  tests/test_rebalance_lifecycle.py
Due: ruff, ruff-format

feat(tournament): refactor for grand matrix with spectral modes and 100% coverage
  scripts/run_4d_tournament.py
  tests/test_run_tournament_grand.py
Due: ruff, ruff-format, ty

conductor(plan): mark tournament refactor as complete
  conductor/tracks/grand_validation_spectral_20260101/plan.md
Due: none

feat(backtest): implement rebalance mode audit and fix tolerance logic
  scripts/generate_human_table.py
  scripts/generate_rebalance_table.py
  scripts/run_4d_tournament.py
  tests/test_run_tournament_grand.py
  tradingview_scraper/portfolio_engines/backtest_simulators.py
Due: ruff, ruff-format, ty

conductor(plan): Mark track 'Window Rebalance Mode Review' as complete
  conductor/tracks/window_rebalance_audit_20260101/plan.md
Due: none

docs: synchronize product guide and tech stack with rebalance audit findings
  conductor/product.md
  conductor/tech-stack.md
Due: none

chore(conductor): initialize and finalize 2026 validation research tracks
  conductor/tracks/grand_validation_spectral_20260101/metadata.json
  conductor/tracks/grand_validation_spectral_20260101/plan.md
  conductor/tracks/grand_validation_spectral_20260101/spec.md
  conductor/tracks/quant_improvement_plan_20260101/metadata.json
  conductor/tracks/quant_improvement_plan_20260101/plan.md
  conductor/tracks/quant_improvement_plan_20260101/spec.md
  conductor/tracks/window_rebalance_audit_20260101/metadata.json
  conductor/tracks/window_rebalance_audit_20260101/spec.md
Due: none

chore(scripts): add tournament outlier detection utility
  scripts/audit_tournament_outliers.py
Due: ruff, ruff-format, ty

docs(tracks): update main tracks file status
  conductor/tracks.md
Due: none

docs: formalize v3.1 alpha standard, window rebalance momentum drift, and behavioral auditing gates
  conductor/workflow.md
  docs/specs/audit_system_v1.md
  docs/specs/rebalance_modes_spec.md
  docs/specs/selection_intelligence_v1.md
Due: none

chore(conductor): initialize system integrity, replayability & determinism (SIRD) track
  conductor/tracks.md
  conductor/tracks/system_integrity_determinism_20260101/metadata.json
  conductor/tracks/system_integrity_determinism_20260101/plan.md
  conductor/tracks/system_integrity_determinism_20260101/spec.md
Due: none

feat(selection): implement Log-MPS 3.2 standard with feature flag isolation
  tests/test_selection_v3_2.py
  tradingview_scraper/selection_engines/__init__.py
  tradingview_scraper/selection_engines/engines.py
  tradingview_scraper/settings.py
Due: ruff, ruff-format, ty

feat(hpo): implement selection feature caching for rapid Optuna tuning
  scripts/cache_selection_features.py
  scripts/natural_selection.py
  tradingview_scraper/selection_engines/__init__.py
  tradingview_scraper/selection_engines/engines.py
Due: ruff, ruff-format, ty

feat(hpo): add selection tuning script and optimized weights for stressed regimes
  artifacts/hpo/selection_best_stressed.json
  scripts/tune_selection_alpha.py
Due: ruff, ruff-format, ty

feat(selection): implement dynamic regime-aware weight switching for Log-MPS 3.2
  scripts/backtest_engine.py
  scripts/natural_selection.py
  tradingview_scraper/selection_engines/base.py
  tradingview_scraper/selection_engines/engines.py
  tradingview_scraper/settings.py
Due: ruff, ruff-format, ty

docs(research): finalize Log-MPS 3.2 HPO research report and validation tournament
  docs/research/hpo_selection_standard_2026.md
  scripts/validate_hpo_selection.py
Due: ruff, ruff-format, ty

docs: synchronize product guide and tech stack with HPO and Log-MPS features
  conductor/product.md
  conductor/tech-stack.md
Due: none

feat(selection): finalize Global Robust Log-MPS 3.2 tuning and research
  docs/research/hpo_selection_standard_2026.md
  scripts/backtest_engine.py
  scripts/natural_selection.py
  scripts/tune_selection_alpha.py
  scripts/validate_hpo_selection.py
  tradingview_scraper/selection_engines/base.py
  tradingview_scraper/selection_engines/engines.py
  tradingview_scraper/settings.py
Due: ruff, ruff-format, ty

docs: synchronize product guide with Global Robust selection findings
  conductor/product.md
Due: none

docs: synchronize product guide with Selection v2.1 architectural victory
  conductor/product.md
Due: none

feat(quant): Implement Multi-Method Normalization protocol for Selection v2.1
  artifacts/hpo/selection_best_stressed.json
  conductor/tracks.md
  conductor/tracks/global_robust_selection_tuning_20260102/metadata.json
  conductor/tracks/global_robust_selection_tuning_20260102/plan.md
  conductor/tracks/global_robust_selection_tuning_20260102/spec.md
  conductor/tracks/hpo_selection_logmps_20260101/metadata.json
  conductor/tracks/hpo_selection_logmps_20260101/plan.md
  conductor/tracks/hpo_selection_logmps_20260101/spec.md
  conductor/tracks/normalization_sensitivity_audit_20260102/metadata.json
  conductor/tracks/normalization_sensitivity_audit_20260102/plan.md
  conductor/tracks/normalization_sensitivity_audit_20260102/spec.md
  conductor/tracks/v2_tuned_cars_optimization_20260102/metadata.json
  conductor/tracks/v2_tuned_cars_optimization_20260102/plan.md
  conductor/tracks/v2_tuned_cars_optimization_20260102/spec.md
  docs/research/battle_of_architectures_2026.md
  docs/research/normalization_audit_2026.md
  scripts/cache_selection_features.py
  scripts/run_architecture_battle.py
  scripts/tournament_normalization.py
  scripts/tune_v2_alpha.py
  tradingview_scraper/selection_engines/__init__.py
  tradingview_scraper/selection_engines/engines.py
  tradingview_scraper/settings.py
  tradingview_scraper/utils/scoring.py
Due: ruff, ruff-format, ty

docs(quant): Finalize Selection v2.1 benchmark vs v2 baseline
  AGENTS.md
  conductor/tracks.md
  conductor/tracks/normalization_sensitivity_audit_20260102/plan.md
  conductor/tracks/v2_vs_v2_1_benchmark_20260102/metadata.json
  conductor/tracks/v2_vs_v2_1_benchmark_20260102/plan.md
  conductor/tracks/v2_vs_v2_1_benchmark_20260102/spec.md
  docs/research/v2_vs_v2_1_benchmark_2026.md
  scripts/tournament_v2_vs_v2_1.py
Due: ruff, ruff-format, ty

feat(bench): add definitive unified benchmark utility for 2026 selection architectures
  scripts/unified_benchmark_2026.py
Due: ruff, ruff-format, ty

docs(agent): promote Selection v3.2 (Log-MPS) to high-performance standard
  AGENTS.md
Due: none

docs(quant): update research reports with 2025 full-year benchmark results
  docs/research/battle_of_architectures_2026.md
  docs/research/hpo_selection_standard_2026.md
Due: none

docs(spec): add Log-MPS (v3.2) selection strategy specification
  docs/specs/selection_intelligence_v1.md
Due: none

Standardize crypto scanners: institutional liquidity floors (0M) and aligned momentum horizons (1M/3M)
  configs/crypto_cex_base_top50.yaml
  configs/crypto_cex_base_top50_binance.yaml
  configs/crypto_cex_base_top50_binance_perp.yaml
  configs/crypto_cex_base_top50_bitget.yaml
  configs/crypto_cex_base_top50_bitget_perp.yaml
  configs/crypto_cex_base_top50_bybit.yaml
  configs/crypto_cex_base_top50_bybit_perp.yaml
  configs/crypto_cex_base_top50_dated.yaml
  configs/crypto_cex_base_top50_okx.yaml
  configs/crypto_cex_base_top50_okx_perp.yaml
  configs/crypto_cex_base_top50_perp.yaml
  configs/crypto_cex_trend_binance_perp_daily_long.yaml
  configs/crypto_cex_trend_binance_perp_daily_short.yaml
  configs/crypto_cex_trend_binance_spot_daily_long.yaml
  configs/crypto_cex_trend_binance_spot_daily_short.yaml
  configs/crypto_cex_trend_bitget_perp_daily_long.yaml
  configs/crypto_cex_trend_bitget_perp_daily_short.yaml
  configs/crypto_cex_trend_bitget_spot_daily_long.yaml
  configs/crypto_cex_trend_bitget_spot_daily_short.yaml
  configs/crypto_cex_trend_bybit_perp_daily_long.yaml
  configs/crypto_cex_trend_bybit_perp_daily_short.yaml
  configs/crypto_cex_trend_bybit_spot_daily_long.yaml
  configs/crypto_cex_trend_bybit_spot_daily_short.yaml
  configs/crypto_cex_trend_momentum.yaml
  configs/crypto_cex_trend_okx_perp_daily_long.yaml
  configs/crypto_cex_trend_okx_perp_daily_short.yaml
  configs/crypto_cex_trend_okx_spot_daily_long.yaml
  configs/crypto_cex_trend_okx_spot_daily_short.yaml
  configs/presets/base_binance_perp.yaml
  configs/presets/base_binance_spot.yaml
  configs/presets/base_bitget_perp.yaml
  configs/presets/base_bitget_spot.yaml
  configs/presets/base_bybit_perp.yaml
  configs/presets/base_bybit_spot.yaml
  configs/presets/base_crypto_perp.yaml
  configs/presets/base_crypto_spot.yaml
  configs/presets/base_okx_perp.yaml
  configs/presets/base_okx_spot.yaml
Due: none

Finalize Crypto Factor Alignment: standardized columns and validated live scanners
  conductor/tracks/crypto_factor_alignment_20260102/AUDIT_REPORT.md
  conductor/tracks/crypto_factor_alignment_20260102/metadata.json
  conductor/tracks/crypto_factor_alignment_20260102/plan.md
  conductor/tracks/crypto_factor_alignment_20260102/spec.md
  configs/presets/base_cfd.yaml
  configs/presets/base_crypto_spot.yaml
  configs/presets/base_forex.yaml
  configs/presets/base_futures.yaml
  configs/presets/base_us_etf.yaml
  configs/presets/base_us_stocks.yaml
Due: none

Consolidate pipeline: moved alpha scoring to Natural Selection and simplified Discovery to Venue Consolidator
  conductor/tracks/pipeline_efficiency_audit_20260102/metadata.json
  conductor/tracks/pipeline_efficiency_audit_20260102/plan.md
  conductor/tracks/pipeline_efficiency_audit_20260102/spec.md
  scripts/prepare_portfolio_data.py
  scripts/select_top_universe.py
Due: ruff, ruff-format, ty

Finalize Pipeline Efficiency: fixed Makefile SELECTION_MODE and validated Log-MPS 3.2 end-to-end
  conductor/tracks/pipeline_efficiency_audit_20260102/plan.md
Due: none

Implement calendar-aware data health audit: reduced false positive gaps for TradFi assets
  conductor/tracks/calendar_aware_health_audit_20260102/metadata.json
  conductor/tracks/calendar_aware_health_audit_20260102/plan.md
  conductor/tracks/calendar_aware_health_audit_20260102/spec.md
  scripts/audit_antifragility.py
  scripts/validate_portfolio_artifacts.py
  tradingview_scraper/symbols/stream/lakehouse.py
  tradingview_scraper/symbols/stream/metadata.py
Due: ruff, ruff-format, ty

Integrate exchange_calendars for precise, institutional-grade data health audit
  conductor/tracks/calendar_aware_health_audit_20260102/plan.md
  conductor/tracks/calendar_aware_health_audit_20260102/spec.md
  pyproject.toml
  scripts/audit_antifragility.py
  tradingview_scraper/symbols/stream/lakehouse.py
  tradingview_scraper/symbols/stream/metadata.py
  uv.lock
Due: ruff, ruff-format, ty

docs: add artifacts for factor audit and grand validation tournament tracks
  conductor/tracks/e2e_pipeline_factor_audit_20260102/AUDIT_REPORT.md
  conductor/tracks/e2e_pipeline_factor_audit_20260102/metadata.json
  conductor/tracks/e2e_pipeline_factor_audit_20260102/plan.md
  conductor/tracks/e2e_pipeline_factor_audit_20260102/spec.md
  conductor/tracks/grand_validation_tournament_20260102/plan.md
  scripts/run_grand_tournament.py
Due: ruff, ruff-format, ty

refactor: standardize strategy configs with institutional presets and performance columns
  configs/cfd_trend_momentum.yaml
  configs/forex_trend_momentum.yaml
  configs/futures_trend_momentum.yaml
  configs/us_etf_trend_momentum.yaml
  configs/us_stocks_trend_momentum.yaml
Due: none

feat: enhance selection engines with multiplicative scoring and institutional liquidity baselines
  tradingview_scraper/futures_universe_selector.py
  tradingview_scraper/selection_engines/__init__.py
  tradingview_scraper/selection_engines/engines.py
  tradingview_scraper/settings.py
  tradingview_scraper/utils/scoring.py
Due: ruff, ruff-format, ty

chore: update scripts and tests for selection engine improvements
  scripts/enrich_candidates_metadata.py
  scripts/inspect_screener_fields.py
  scripts/natural_selection.py
  tests/test_selection_engines.py
Due: ruff, ruff-format, ty

docs: finalize track metadata and update selection engine specifications
  conductor/product.md
  conductor/tracks.md
  conductor/tracks/v2_vs_v2_1_benchmark_20260102/plan.md
  docs/specs/universe_selection_v3_fp.md
Due: none
