Repository tommy-ca/tradingview-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty

ruff:
  name: ruff
  entry: uvx ruff check --fix
  language: system

ruff-format:
  name: ruff-format
  entry: uvx ruff format
  language: system

ty:
  name: ty
  entry: uvx ty
  args:
  - check
  language: system
  pass_filenames: true

docs: update development plan for Orchestration and Skills
  docs/specs/plan.md
Due: none

feat(mlops): implement L0-L4 lifecycle hardening and data contract enforcement
  docs/design/atomic_pipeline_v2_mlops.md
  docs/specs/requirements_v3.md
  scripts/build_meta_returns.py
  scripts/flatten_meta_weights.py
  scripts/generate_meta_report.py
  scripts/optimize_clustered_v2.py
  scripts/optimize_meta_portfolio.py
  scripts/run_meta_pipeline.py
  scripts/run_production_pipeline.py
  tests/test_data_contracts.py
  tests/test_model_lineage.py
  tests/test_prefect_flows.py
  tradingview_scraper/orchestration/flows/meta.py
  tradingview_scraper/orchestration/flows/selection.py
  tradingview_scraper/orchestration/registry.py
  tradingview_scraper/orchestration/sdk.py
  tradingview_scraper/pipelines/selection/base.py
  tradingview_scraper/pipelines/selection/pipeline.py
  tradingview_scraper/pipelines/selection/stages/clustering.py
  tradingview_scraper/pipelines/selection/stages/feature_engineering.py
  tradingview_scraper/pipelines/selection/stages/inference.py
  tradingview_scraper/pipelines/selection/stages/ingestion.py
  tradingview_scraper/pipelines/selection/stages/policy.py
  tradingview_scraper/pipelines/selection/stages/synthesis.py
Due: ruff, ruff-format, ty

feat(orchestration): implement Unified DAG Orchestrator and Forensic Hardening
  configs/manifest.json
  docs/design/path_determinism_phase371_v1.md
  docs/design/unified_dag_orchestrator_v1.md
  docs/specs/plan.md
  docs/specs/requirements_v3.md
  pyproject.toml
  scripts/prepare_portfolio_data.py
  scripts/run_meta_pipeline.py
  scripts/run_production_pipeline.py
  scripts/validate_meta_parity.py
  scripts/validate_meta_run.py
  tests/scripts/test_prepare_portfolio_data.py
  tests/test_dag_orchestration.py
  tests/test_path_determinism.py
  tests/test_prefect_flows.py
  tradingview_scraper/orchestration/runner.py
  tradingview_scraper/orchestration/sdk.py
  tradingview_scraper/pipeline_legacy.py
  tradingview_scraper/pipelines/selection/pipeline.py
  tradingview_scraper/utils/metrics.py
  uv.lock
Due: ruff, ruff-format, ty

feat(telemetry): implement forensic trace persistence and dashboarding
  docs/design/forensic_telemetry_v1.md
  docs/specs/plan.md
  docs/specs/requirements_v3.md
  scripts/generate_meta_report.py
  scripts/generate_portfolio_report.py
  tests/test_telensic_reporting.py
  tradingview_scraper/orchestration/sdk.py
  tradingview_scraper/telemetry/exporter.py
  tradingview_scraper/telemetry/provider.py
Due: ruff, ruff-format, ty

feat(dataops): implement advanced microstructure toxicity and foundation registry
  Makefile
  docs/design/data_pipeline_hardening_v1.md
  docs/specs/plan.md
  docs/specs/requirements_v3.md
  scripts/services/ingest_data.py
  tests/test_advanced_toxicity.py
  tests/test_auto_repair.py
  tradingview_scraper/orchestration/sdk.py
  tradingview_scraper/pipelines/selection/base.py
Due: ruff, ruff-format, ty

feat(telemetry): implement distributed forensic merging for Ray workers
  docs/design/distributed_forensic_merging_v1.md
  docs/specs/plan.md
  docs/specs/requirements_v3.md
  tests/test_distributed_telemetry_merge.py
  tradingview_scraper/orchestration/compute.py
  tradingview_scraper/orchestration/sdk.py
  tradingview_scraper/orchestration/sleeve_executor.py
Due: ruff, ruff-format, ty

feat(selection): implement multi-engine ensemble ranker with WoE scoring
  docs/design/multi_engine_selection_v1.md
  docs/specs/plan.md
  docs/specs/requirements_v3.md
  tests/test_ensemble_selection.py
  tradingview_scraper/pipelines/selection/rankers/__init__.py
  tradingview_scraper/pipelines/selection/rankers/base.py
  tradingview_scraper/pipelines/selection/rankers/ensemble.py
  tradingview_scraper/pipelines/selection/rankers/factory.py
Due: ruff, ruff-format, ty

feat(observability): implement real-time pipeline monitoring with Prometheus
  docs/design/prometheus_monitoring_v1.md
  docs/specs/plan.md
  docs/specs/requirements_v3.md
  pyproject.toml
  tests/test_prometheus_metrics.py
  tradingview_scraper/orchestration/sdk.py
  tradingview_scraper/telemetry/provider.py
  tradingview_scraper/telemetry/tracing.py
  uv.lock
Due: ruff, ruff-format, ty

feat(telemetry): standardize on OTel standard APIs for Tracing, Metrics, and Logging
  docs/design/telemetry_standard_v2.md
  docs/specs/plan.md
  docs/specs/requirements_v3.md
  pyproject.toml
  tests/test_otel_logging_bridge.py
  tests/test_otel_metrics_api.py
  tradingview_scraper/telemetry/context.py
  tradingview_scraper/telemetry/logging.py
  tradingview_scraper/telemetry/provider.py
  tradingview_scraper/telemetry/tracing.py
  uv.lock
Due: ruff, ruff-format, ty

feat(telemetry): implement OTLP forensic export and collector integration
  docs/design/otlp_collector_v1.md
  docs/specs/plan.md
  tests/test_otlp_export_config.py
  tradingview_scraper/telemetry/provider.py
Due: ruff, ruff-format, ty

feat(discovery): implement registry-aware vetoes and harden scanner production readiness
  docs/audit/data_pipeline_audit_v1.md
  docs/design/scanner_hardening_v1.md
  docs/specs/plan.md
  scripts/services/consolidate_candidates.py
  scripts/services/repair_data.py
  tests/test_scanner_hardening.py
  tradingview_scraper/orchestration/sdk.py
  tradingview_scraper/pipelines/discovery/binance.py
  tradingview_scraper/pipelines/discovery/pipeline.py
  tradingview_scraper/pipelines/discovery/tradingview.py
  tradingview_scraper/pipelines/selection/base.py
  tradingview_scraper/settings.py
  tradingview_scraper/telemetry/provider.py
Due: ruff, ruff-format, ty

feat(workspace): implement WorkspaceManager and harden distributed isolation
  Makefile
  docs/audit/workspace_isolation_audit_v1.md
  docs/specs/plan.md
  scripts/build_meta_returns.py
  scripts/fetch_execution_metadata.py
  scripts/generate_meta_report.py
  scripts/generate_portfolio_report.py
  scripts/optimize_clustered_v2.py
  scripts/research_regime_v3.py
  scripts/run_production_pipeline.py
  scripts/validate_meta_run.py
  tests/test_workspace_isolation.py
  tradingview_scraper/execution/metadata.py
  tradingview_scraper/orchestration/compute.py
  tradingview_scraper/orchestration/sdk.py
  tradingview_scraper/orchestration/sleeve_executor.py
  tradingview_scraper/regime.py
  tradingview_scraper/symbols/stream/lakehouse.py
  tradingview_scraper/symbols/stream/metadata.py
  tradingview_scraper/symbols/stream/persistent_loader.py
  tradingview_scraper/utils/workspace.py
Due: ruff, ruff-format, ty

feat(orchestration): automate stage discovery and harden workspace isolation
  docs/audit/pipeline_composability_audit_v1.md
  docs/specs/plan.md
  scripts/run_meta_pipeline.py
  tradingview_scraper/orchestration/registry.py
  tradingview_scraper/orchestration/runner.py
  tradingview_scraper/pipelines/discovery/__init__.py
  tradingview_scraper/pipelines/meta/__init__.py
  tradingview_scraper/pipelines/selection/__init__.py
  tradingview_scraper/pipelines/selection/filters/__init__.py
  tradingview_scraper/pipelines/selection/stages/__init__.py
  tradingview_scraper/utils/workspace.py
Due: ruff, ruff-format, ty

feat(backtest): introduce framework for recursive meta-portfolio backtesting
  docs/audit/meta_pipeline_audit_v1.md
  docs/design/meta_pipeline_hardening_v1.md
  docs/design/recursive_meta_backtest_v1.md
  docs/specs/plan.md
  docs/specs/requirements_v3.md
  scripts/backtest_engine.py
  scripts/build_meta_returns.py
  scripts/flatten_meta_weights.py
  tests/test_meta_hardening.py
  tests/test_recursive_backtest.py
Due: ruff, ruff-format, ty

feat(backtest): implement recursive meta-portfolio backtesting
  docs/specs/plan.md
  docs/specs/requirements_v3.md
  scripts/backtest_engine.py
  tests/test_recursive_backtest.py
Due: ruff, ruff-format, ty

feat(meta): implement numerical resilience and forensic attribution for meta-portfolios
  docs/audit/meta_pipeline_forensic_audit_v1.md
  docs/design/meta_resilience_v1.md
  docs/specs/plan.md
  scripts/build_meta_returns.py
  scripts/flatten_meta_weights.py
  scripts/generate_meta_report.py
  tests/test_meta_resilience.py
Due: ruff, ruff-format, ty

feat(meta): finalize recursive backtest benchmarking and reporting
  docs/design/meta_backtest_benchmarking_v1.md
  docs/specs/plan.md
  scripts/backtest_engine.py
  scripts/generate_meta_report.py
  tests/test_meta_backtest_benchmarking.py
Due: ruff, ruff-format, ty

feat(deployment): complete final production deployment audit and meta-portfolio validation
  docs/design/production_deployment_audit_v1.md
  docs/specs/plan.md
  scripts/flatten_meta_weights.py
  tests/test_production_integrity.py
Due: ruff, ruff-format, ty

feat(mlops): implement formal data contracts using Pandera
  docs/audit/anomaly_collection_v1.md
  docs/design/data_contracts_v2.md
  docs/design/tail_risk_hardening_v1.md
  docs/specs/plan.md
  pyproject.toml
  scripts/backtest_engine.py
  scripts/build_meta_returns.py
  scripts/flatten_meta_weights.py
  tests/test_anomaly_detection.py
  tests/test_pandera_contracts.py
  tradingview_scraper/pipelines/contracts.py
  tradingview_scraper/pipelines/selection/base.py
  uv.lock
Due: ruff, ruff-format, ty

feat(mlops): implement feature store consistency audit and PIT integrity gates
  docs/audit/feature_store_audit_v1.md
  docs/design/feature_store_resilience_v1.md
  docs/specs/plan.md
  docs/specs/requirements_v3.md
  scripts/services/backfill_features.py
  tests/test_feature_consistency.py
  tradingview_scraper/orchestration/registry.py
  tradingview_scraper/orchestration/sdk.py
  tradingview_scraper/pipelines/contracts.py
  tradingview_scraper/utils/features.py
Due: ruff, ruff-format, ty

feat(audit): implement feature parity audit and vectorized ratings consolidation
  docs/audit/feature_parity_audit_v1.md
  docs/design/feature_parity_standard_v1.md
  docs/specs/plan.md
  scripts/audit/__init__.py
  scripts/audit/audit_feature_parity.py
  scripts/services/backfill_features.py
  tests/test_feature_parity.py
  tradingview_scraper/utils/technicals.py
Due: ruff, ruff-format, ty

fix(features): tune Ichimoku displacement logic and repair vectorized alignment errors
  docs/design/rating_tuning_v1.md
  docs/specs/plan.md
  tests/test_rating_tuning.py
  tradingview_scraper/utils/technicals.py
Due: ruff, ruff-format, ty

fix(technicals): restore calculate_recommend_all_series and fix method missing error
  tests/test_vectorization_parity.py
  tradingview_scraper/utils/technicals_original.py
Due: ruff, ruff-format, ty

feat(audit): implement alpha correlation and regime sensitivity test
  docs/design/alpha_correlation_v1.md
  docs/specs/plan.md
  scripts/audit/audit_feature_parity.py
  tests/test_alpha_correlation.py
Due: ruff, ruff-format, ty

fix(features): restore scalar weighting and achieve correlation parity
  docs/design/rating_tuning_v1.md
  docs/specs/plan.md
  tradingview_scraper/utils/technicals_v0.py
Due: ruff, ruff-format, ty

fix(features): tune StochK/D and Ichimoku logic for better alignment
  docs/design/ratings_refinement_v1.md
  docs/specs/plan.md
  tradingview_scraper/utils/technicals.py
Due: ruff, ruff-format, ty

feat(technicals): update oscillator constituents to align with TradingView defaults
  docs/specs/feature_composition_v3.6.5.md
  docs/specs/plan.md
  tradingview_scraper/utils/technicals.py
Due: ruff, ruff-format, ty

feat(audit): implement constituent-level parity audit with detailed breakdown
  docs/design/constituent_parity_v1.md
  docs/specs/plan.md
  tests/test_constituent_extraction.py
Due: ruff, ruff-format

feat(audit): implement constituent-level parity audit with detailed breakdown
  docs/design/component_regression_v1.md
  docs/specs/plan.md
  tests/test_component_isolation.py
Due: ruff, ruff-format

feat(technicals): update oscillator constituents for improved parity
  docs/specs/plan.md
Due: none

feat(validation): finalize production deployment audit and meta-portfolio verification
  docs/specs/plan.md
Due: none

docs: complete SDD cycle for Phases 59-62 (Audit, Regression, Validation)
  docs/specs/plan.md
Due: none

feat: run-scoped metadata ingestion
  Makefile
  scripts/build_metadata_catalog.py
Due: ruff, ruff-format, ty

feat(data): implement run-scoped metadata ingestion
  Makefile
  docs/plans/2026-01-29-feat-run-scoped-metadata-ingestion-plan.md
  scripts/build_metadata_catalog.py
  scripts/fetch_execution_metadata.py
  tradingview_scraper/symbols/stream/metadata.py
Due: ruff, ruff-format, ty

chore(config): update universe definitions and scanner thresholds
  configs/base/hygiene/institutional_crypto.yaml
  configs/base/universes/binance_perp_base.yaml
  configs/base/universes/binance_spot_base.yaml
  configs/base/universes/sp500.yaml
  configs/manifest.json.bak
  configs/manifest_audit.json
  configs/scanners/crypto/binance_spot_liquidity.yaml
  configs/scanners/crypto/binance_spot_liquidity_short.yaml
  configs/scanners/crypto/binance_spot_long_trend.yaml
  configs/scanners/crypto/binance_spot_short_trend.yaml
  configs/scanners/crypto/debug_curve.yaml
  configs/scanners/crypto/ratings/binance_perp_rating_all_long.yaml
  configs/scanners/crypto/ratings/binance_perp_rating_all_short.yaml
  configs/scanners/crypto/ratings/binance_perp_rating_ma_long.yaml
  configs/scanners/crypto/ratings/binance_perp_rating_ma_short.yaml
  configs/scanners/crypto/ratings/binance_perp_rating_osc_long.yaml
  configs/scanners/crypto/ratings/binance_perp_rating_osc_short.yaml
  configs/scanners/crypto/ratings/binance_spot_rating_all_long.yaml
  configs/scanners/crypto/ratings/binance_spot_rating_all_short.yaml
  configs/scanners/crypto/ratings/binance_spot_rating_ma_long.yaml
  configs/scanners/crypto/ratings/binance_spot_rating_ma_short.yaml
  configs/scanners/crypto/ratings/binance_spot_rating_osc_long.yaml
  configs/scanners/crypto/ratings/binance_spot_rating_osc_short.yaml
Due: none

docs: update design specs and audit records
  docs/audit/binance_spot_ratings_atomic_audit_v2.md
  docs/audit/feature_store_audit_v1.md
  docs/audit/meta_pipeline_audit_v2.md
  docs/audit/ratings_sleeve_forensic_v1.md
  docs/audit/trend_selection_narrative_v1.md
  docs/brainstorms/2026-01-29-optimized-metadata-ingestion-brainstorm.md
  docs/design/data_contracts_v2.md
  docs/design/feature_logic_consolidation_v1.md
  docs/design/feature_store_resilience_v1.md
  docs/design/fractal_strategy_v1.md
  docs/design/meta_sleeve_completeness_v1.md
  docs/design/mtf_trend_strategy_v1.md
  docs/design/offline_alpha_v1.md
  docs/design/rating_tuning_v1.md
  docs/design/scanner_simplification_v1.md
  docs/design/synthetic_short_justification_v1.md
  docs/design/tv_screener_feature_fetching_v1.md
  docs/plans/2026-01-30-clean-worktree-atomic-commits-plan.md
  docs/research/advanced_trend_filters_v1.md
  docs/runbooks/binance_spot_ratings_ma_long_short_runbook_v1.md
  docs/specs/binance_spot_ratings_atomic_pipelines_v1.md
  docs/specs/plan.md
  docs/specs/production_workflow_v2.md
  docs/specs/requirements_v3.md
Due: none

style: apply pre-commit auto-fixes
  debug_run_id.py
  debug_streamer_raw.py
  scripts/audit/audit_adx_winners.py
  scripts/audit_l0_l4_ledger.py
  scripts/audit_ledger_anomalies.py
  scripts/debug_scanner_v2.py
  scripts/flatten_meta_weights.py
  scripts/flatten_strategy_weights.py
  scripts/inspect_scanner_v3.py
  scripts/production/generate_deep_report.py
  scripts/raw_test.py
  scripts/services/backfill_features.py
  scripts/validate_portfolio_artifacts.py
  tests/services/test_ingestion_integrity.py
  tests/test_advanced_trend_filter.py
  tests/test_directional_integrity.py
  tests/test_generate_reports_index_profile.py
  tests/test_meta_pipeline_guards.py
  tests/test_meta_sleeve_completeness.py
  tests/test_multi_simulator.py
  tests/test_pandera_contracts.py
  tests/test_quant_sdk.py
  tests/test_ray_compute.py
  tests/test_scoped_backfill.py
  tests/test_stage_registry.py
  tests/test_trend_filter.py
  tradingview_scraper/futures_universe_selector.py
  tradingview_scraper/pipelines/selection/filters/advanced_trend.py
  tradingview_scraper/pipelines/selection/filters/trend.py
  tradingview_scraper/pipelines/selection/stages/feature_engineering.py
  tradingview_scraper/pipelines/selection/stages/inference.py
  tradingview_scraper/pipelines/selection/stages/policy.py
  tradingview_scraper/symbols/overview.py
  tradingview_scraper/telemetry/exporter.py
  tradingview_scraper/utils/features.py
  tradingview_scraper/utils/technicals.py
Due: ruff, ruff-format, ty

refactor: optimize backfill performance and harden schema validation
  scripts/services/backfill_features.py
  tradingview_scraper/futures_universe_selector.py
  tradingview_scraper/pipelines/contracts.py
  tradingview_scraper/utils/technicals.py
Due: ruff, ruff-format, ty

feat(remediation): complete validation and certification
  Makefile
  docs/plans/2026-01-30-refactor-metadata-ingestion-review-remediation-plan.md
  docs/plans/2026-01-30-refactor-remediation-validation-and-rerun-plan.md
  docs/specs/plan.md
  docs/specs/requirements_v3.md
  pyproject.toml
  scripts/services/backfill_features.py
  scripts/validate_atomic_run.py
  todos/001-pending-p1-perf-double-computation.md
  todos/002-pending-p2-quality-legacy-typing.md
  todos/003-pending-p2-integrity-schema-validation.md
  todos/004-pending-p2-perf-safe-vote-vectorization.md
  tradingview_scraper/symbols/stream/fetching.py
  tradingview_scraper/utils/technicals.py
  uv.lock
Due: ruff, ruff-format, ty

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  ty: any of: \.py$, but not: (?x)^(
  tests/|
  tradingview_scraper/symbols/news\.py|
  tradingview_scraper/futures_universe_selector\.py|
  tradingview_scraper/symbols/cal\.py|
  tradingview_scraper/symbols/stream/streamer\.py
)

