Repository tommy-ca/tradingview-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uvx ruff check --fix
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: uvx ruff format
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: uvx ty
        args: ["check"]
        language: system
        types: [python]
        pass_filenames: true
        # Exclude tests and currently failing files to allow incremental adoption
        exclude: >
          (?x)^(
            tests/|
            tradingview_scraper/symbols/news\.py|
            tradingview_scraper/futures_universe_selector\.py|
            tradingview_scraper/symbols/cal\.py|
            tradingview_scraper/symbols/stream/streamer\.py
          )

refactor(selection): implement robust asset identity and asset-class specific alpha scoring
  scripts/select_top_universe.py
Due: ruff, ruff-format, ty

docs(optimization): add specs and roadmap for multi-engine portfolio optimization
  AGENTS.md
  README.md
  docs/TODO_improvements.md
  docs/plan/issues.md
  docs/specs/multi_engine_optimization_benchmarks.md
Due: none

docs(optimization): update plan to maintain custom risk engine as baseline
  docs/plan/issues.md
  docs/specs/multi_engine_optimization_benchmarks.md
Due: none

feat(risk): add multi-engine portfolio optimization framework
  tradingview_scraper/portfolio_engines/__init__.py
  tradingview_scraper/portfolio_engines/base.py
  tradingview_scraper/portfolio_engines/cluster_adapter.py
  tradingview_scraper/portfolio_engines/engines.py
Due: ruff, ruff-format, ty

feat(backtest): add tournament mode and multi-engine reporting
  scripts/backtest_engine.py
  scripts/generate_backtest_report.py
Due: ruff, ruff-format, ty

chore(config): add optional engine dependencies and Makefile targets
  Makefile
  pyproject.toml
  uv.lock
Due: none

test(risk): add unit tests for capped simplex projection
  tests/test_portfolio_engines_constraints.py
Due: ruff, ruff-format

feat(ops): implement reproducible workflow manifests
  Makefile
  configs/README.md
  configs/daily_production.env
  configs/repro_dev.env
Due: none

chore(ops): rename manifest to manifest.json and update references
  configs/manifest.json
  configs/manifest.schema.json
Due: none

chore(ops): update references to manifest.json in Makefile and settings
  Makefile
  configs/README.md
  tradingview_scraper/settings.py
Due: ruff, ruff-format, ty

chore(ops): remove obsolete .env manifest files
  configs/daily_production.env
  configs/repro_dev.env
Due: none

fix(risk): align skfolio and cvxportfolio with modern APIs
  tradingview_scraper/portfolio_engines/engines.py
Due: ruff, ruff-format, ty

docs(plan): add Phase 8 Centralized Discovery and update specs
  configs/manifest.json
  configs/manifest.schema.json
  docs/plan/issues.md
  docs/specs/workflow_manifests.md
Due: none

feat(ops): support discovery config in manifest and pydantic settings
  tradingview_scraper/settings.py
Due: ruff, ruff-format, ty

feat(discovery): support manifest profile in universe selector
  tradingview_scraper/futures_universe_selector.py
Due: ruff, ruff-format

feat(ops): propagate PROFILE to discovery shell scripts
  scripts/run_crypto_scans.sh
  scripts/run_local_scans.sh
Due: none

feat(ops): implement manifest-driven discovery configuration
  configs/manifest.json
  configs/manifest.schema.json
Due: none

feat(ops): finalize manifest-driven discovery
  configs/manifest.json
Due: none

fix(discovery): ensure universe selector code is committed
  tradingview_scraper/futures_universe_selector.py
Due: ruff, ruff-format

docs: sync institutional documentation with manifest and multi-engine framework
  AGENTS.md
  Makefile
  README.md
  configs/README.md
  docs/TODO_improvements.md
  docs/production_workflow.md
  docs/research/multi_engine_validation_20251229.md
  docs/specs/multi_engine_optimization_benchmarks.md
Due: none

chore(ops): ignore temporary gist directories in .gitignore
  .gitignore
Due: none

docs(research): add analysis of cvxportfolio performance vs other engines
  docs/research/cvxportfolio_performance_analysis_20251229.md
Due: none

test(risk): add comprehensive unit tests for portfolio engines
  tests/test_portfolio_engines.py
Due: ruff, ruff-format

docs(plan): add Phase 9 Multi-Simulator Backtesting Framework
  docs/plan/issues.md
  docs/specs/backtest_framework_v2.md
Due: none

feat(backtest): implement multi-simulator framework with cvxportfolio support
  Makefile
  configs/manifest.json
  configs/manifest.schema.json
  scripts/backtest_engine.py
  tests/test_backtest_simulators.py
  tradingview_scraper/portfolio_engines/__init__.py
  tradingview_scraper/portfolio_engines/backtest_simulators.py
  tradingview_scraper/settings.py
Due: ruff, ruff-format, ty

feat(backtest): implement 3D tournament matrix (Engine x Simulator x Profile)
  Makefile
  docs/plan/issues.md
  docs/specs/backtest_framework_v2.md
  scripts/backtest_engine.py
  scripts/generate_backtest_report.py
  tests/test_tournament_matrix.py
Due: ruff, ruff-format, ty

feat(risk): upgrade custom engine to use cvxpy and convex solvers
  tradingview_scraper/portfolio_engines/engines.py
Due: ruff, ruff-format, ty

feat(ops): harden core infrastructure and centralize scoring logic
  scripts/natural_selection.py
  scripts/optimize_clustered_v2.py
  tradingview_scraper/settings.py
  tradingview_scraper/symbols/screener_async.py
  tradingview_scraper/utils/scoring.py
Due: ruff, ruff-format, ty

chore: clean up async tests and update project plan
  docs/plan/issues.md
  tests/test_async_screener.py
Due: ruff, ruff-format

feat(ops): implement automated data quality gates and self-healing
  Makefile
  docs/plan/issues.md
  scripts/recover_universe.py
  scripts/validate_portfolio_artifacts.py
  tradingview_scraper/settings.py
  tradingview_scraper/utils/metrics.py
Due: ruff, ruff-format, ty

feat(analytics): integrate QuantStats for standardized performance audit
  AGENTS.md
  Makefile
  configs/manifest.json
  configs/manifest.schema.json
  docs/plan/issues.md
  docs/production_workflow.md
  docs/specs/backtest_framework_v2.md
  pyproject.toml
  scripts/backtest_engine.py
  scripts/generate_backtest_report.py
  scripts/generate_tearsheets.py
  scripts/natural_selection.py
  scripts/optimize_clustered_v2.py
  tradingview_scraper/portfolio_engines/backtest_simulators.py
  tradingview_scraper/portfolio_engines/engines.py
  tradingview_scraper/utils/metrics.py
Due: ruff, ruff-format, ty

chore(ops): flatten top tearsheets for Gist visibility
  Makefile
  uv.lock
Due: none

fix(ops): flatten Gist artifacts and exclude binaries
  scripts/push_summaries_to_gist.sh
Due: none

fix(ops): follow symlinks in Gist sync
  scripts/push_summaries_to_gist.sh
Due: none

feat(analytics): export QuantStats metrics as Markdown and link in reports
  scripts/generate_backtest_report.py
  scripts/generate_tearsheets.py
  tradingview_scraper/utils/metrics.py
Due: ruff, ruff-format, ty

feat(analytics): export comprehensive Markdown reports and refined Gist selection
  Makefile
  scripts/generate_tearsheets.py
  tradingview_scraper/utils/metrics.py
Due: ruff, ruff-format, ty

feat(analytics): unify reports using tournament results as single source of truth
  Makefile
  scripts/generate_backtest_report.py
Due: ruff, ruff-format, ty

chore(analytics): exclude HTML from essential gist reports
  scripts/generate_tearsheets.py
Due: ruff, ruff-format, ty

feat(analytics): finalize portfolio engine audit and refined reporting
  Makefile
  docs/research/portfolio_engine_audit_20251230.md
  scripts/generate_tearsheets.py
Due: ruff, ruff-format, ty

docs: finalize quantitative framework and workflow documentation
  AGENTS.md
  README.md
  docs/plan/issues.md
  docs/production_workflow.md
  docs/specs/backtest_framework_v2.md
Due: none
