Repository tommy-ca/tradingview-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty

ruff:
  name: ruff
  entry: uvx ruff check --fix
  language: system

ruff-format:
  name: ruff-format
  entry: uvx ruff format
  language: system

ty:
  name: ty
  entry: uvx ty
  args:
  - check
  language: system
  pass_filenames: true

feat: implement Phase 6 refinements: canonical venue merging, improved clustering sensitivity, and multi-lookback persistence
  configs/us_etf_trend_momentum.yaml
  scripts/correlation_report.py
  scripts/natural_selection.py
  scripts/select_top_universe.py
Due: ruff, ruff-format, ty

feat: implement Phase 7 - Institutional Discovery, Factor-Balanced Selection, and Net/Gross Exposure Reporting
  Makefile
  configs/us_etf_trend_momentum.yaml
  configs/us_etf_trend_momentum_short.yaml
  configs/us_stocks_trend_momentum.yaml
  configs/us_stocks_trend_momentum_short.yaml
  scripts/correlation_report.py
  scripts/display_portfolio_dashboard.py
  scripts/enrich_candidates_metadata.py
  scripts/generate_portfolio_report.py
  scripts/natural_selection.py
  scripts/optimize_clustered_v2.py
  scripts/select_top_universe.py
  scripts/validate_portfolio_artifacts.py
Due: ruff, ruff-format, ty

feat: finalize Phase 8 - Multi-Option Factor implementation, Canonical Venue Merging, and Decision Auditing Dashboard
  Makefile
  scripts/analyze_clusters.py
  scripts/correlation_report.py
  scripts/generate_audit_summary.py
  scripts/generate_portfolio_report.py
  scripts/monitor_cluster_drift.py
  scripts/natural_selection.py
  scripts/optimize_clustered_v2.py
  scripts/push_summaries_to_gist.sh
  scripts/select_top_universe.py
  scripts/validate_portfolio_artifacts.py
  tradingview_scraper/symbols/stream/metadata.py
Due: ruff, ruff-format, ty

docs: finalize technical specifications and production runbooks for Phase 8 platform
  CLAUDE.md
  Makefile
  README.md
  docs/production_workflow.md
  docs/specs/alpha_ranking.md
  docs/specs/data_resilience_v2.md
  docs/specs/hierarchical_clustering.md
  docs/specs/optimization_engine_v2.md
Due: none

feat: integrate comprehensive data health audit and multi-option implementation dashboard
  Makefile
  scripts/generate_portfolio_report.py
  scripts/validate_portfolio_artifacts.py
Due: ruff, ruff-format, ty

feat: improve crypto discovery and integrate health validation gates into production workflow
  Makefile
  scripts/select_top_universe.py
Due: ruff, ruff-format, ty

feat: implement automated data health reporting in Markdown format
  scripts/validate_portfolio_artifacts.py
Due: ruff, ruff-format, ty

feat: implement identity-based merging in natural selection and tiered health reporting
  Makefile
  scripts/natural_selection.py
Due: ruff, ruff-format, ty

feat: finalize Phase 8 - Systematic Rebalancing, Market Sensitivity, and Factor Visualization
  Makefile
  docs/specs/phase_8_rebalancing_and_sensitivity.md
  scripts/generate_portfolio_report.py
  scripts/optimize_clustered_v2.py
  scripts/prepare_portfolio_data.py
  scripts/validate_portfolio_artifacts.py
  scripts/visualize_factor_map.py
Due: ruff, ruff-format, ty

docs: add AI Agent Guide for quantitative portfolio platform
  AGENT.md
Due: none

feat: add walk-forward backtest engine and report
  scripts/__init__.py
  scripts/backtest_engine.py
  scripts/generate_backtest_report.py
Due: ruff, ruff-format, ty

feat: formalize make pipeline with backtest validation
  Makefile
  scripts/repair_portfolio_gaps.py
Due: ruff, ruff-format, ty

feat: add execution intelligence to selection and optimizer
  scripts/natural_selection.py
  scripts/optimize_clustered_v2.py
Due: ruff, ruff-format, ty

fix: tune regime thresholds and update tests
  tests/test_regime.py
  tradingview_scraper/regime.py
Due: ruff, ruff-format, ty

fix: lazy-init Streamer in DataLoader
  tradingview_scraper/symbols/stream/loader.py
Due: ruff, ruff-format, ty

fix: make symbol scrapers use requests session
  tradingview_scraper/symbols/ideas.py
  tradingview_scraper/symbols/news.py
  tradingview_scraper/symbols/overview.py
Due: ruff, ruff-format, ty

test: harden offline indicators and benchmark tests
  tests/test_indicators.py
  tests/test_performance.py
Due: ruff, ruff-format

docs: document phase 9 validation and updated workflow
  AGENT.md
  docs/plan/issues.md
  docs/specs/alpha_ranking.md
  docs/specs/phase_9_validation_and_execution.md
  docs/specs/quantitative_workflow.md
Due: none

feat: add daily-run workflow with gist safety and state snapshots
  Makefile
  scripts/push_summaries_to_gist.sh
  scripts/track_portfolio_state.py
Due: ruff, ruff-format, ty

fix: avoid invalid screener index filter in US stocks configs
  configs/us_stocks_trend_momentum.yaml
  configs/us_stocks_trend_momentum_short.yaml
Due: none

docs: document daily-run health gates and state snapshots
  docs/production_workflow.md
  docs/specs/data_resilience_v2.md
  docs/specs/phase_8_rebalancing_and_sensitivity.md
  docs/specs/phase_9_validation_and_execution.md
  docs/specs/quantitative_workflow.md
Due: none

chore: standardize uv run usage across docs and scripts
  .github/workflows/universe_scan.yml
  README.md
  conductor/tracks/index_lists.md
  conductor/workflow.md
  docs/exchange_symbol_audit_report.md
  docs/metadata_schema_guide.md
  docs/plan/issues.md
  scripts/run_base_scans.sh
  scripts/run_crypto_scans.sh
  scripts/run_local_scans.sh
Due: none

fix: enrich candidates metadata from local catalog
  scripts/enrich_candidates_metadata.py
Due: ruff, ruff-format, ty

feat: persist profile and improve metadata catalog upserts
  scripts/build_metadata_catalog.py
  scripts/run_missing_symbols_build.py
  tradingview_scraper/symbols/stream/metadata.py
  tradingview_scraper/symbols/stream/persistent_loader.py
Due: ruff, ruff-format, ty

chore: reorganize Makefile targets and add meta workflows
  Makefile
Due: none

docs: define PIT-safe metadata catalog contracts and workflows
  docs/exchange_symbol_audit_report.md
  docs/metadata_schema_guide.md
  docs/research/metadata_requirements_20251221.md
  docs/research/metadata_service_final_report_20251221.md
  docs/specs/metadata_timezone_spec.md
Due: none

docs: update workflow runbooks and universe selector roadmap
  docs/plan/issues.md
  docs/production_workflow.md
  docs/specs/quantitative_workflow.md
Due: none

docs: rename AGENT.md to AGENTS.md
  AGENTS.md
Due: none

feat: scope scan exports by run id
  Makefile
  scripts/audit_multi_quote_pairs.py
  scripts/compare_universes.py
  scripts/enrich_candidates_metadata.py
  scripts/lint_universe_configs.py
  scripts/prepare_portfolio_data.py
  scripts/research_mtf_alignment.py
  scripts/review_matrix.py
  scripts/select_top_universe.py
  scripts/summarize_crypto_results.py
  scripts/summarize_results.py
  scripts/verify_universe_quality.py
  tradingview_scraper/futures_universe_selector.py
  tradingview_scraper/symbols/utils.py
Due: ruff, ruff-format, ty

fix: correct universe scan config invariants
  configs/crypto_cex_base_top50_bitget_dated.yaml
  configs/crypto_cex_base_top50_bybit_dated.yaml
  configs/crypto_cex_base_top50_dated.yaml
  configs/crypto_cex_base_top50_okx_dated.yaml
  configs/crypto_cex_trend_binance_dated_daily_long.yaml
  configs/crypto_cex_trend_binance_dated_daily_short.yaml
  configs/crypto_cex_trend_bitget_dated_daily_long.yaml
  configs/crypto_cex_trend_bitget_dated_daily_short.yaml
  configs/crypto_cex_trend_bybit_dated_daily_long.yaml
  configs/crypto_cex_trend_bybit_dated_daily_short.yaml
  configs/crypto_cex_trend_momentum_dated_daily_long.yaml
  configs/crypto_cex_trend_momentum_dated_daily_short.yaml
  configs/crypto_cex_trend_okx_dated_daily_long.yaml
  configs/crypto_cex_trend_okx_dated_daily_short.yaml
  configs/crypto_cex_xs_momentum_long_short.yaml
  configs/us_etf_base_universe.yaml
Due: none

docs: update runbooks for run-scoped scans
  conductor/tracks/mtf_technical_filtering_20251220/plan.md
  conductor/tracks/portfolio_workflow.md
  docs/plan/issues.md
  docs/production_workflow.md
  docs/specs/quantitative_workflow.md
  docs/universe_selection_strategy.md
Due: none

ci: enforce scan config lint
  .github/workflows/python-app.yml
  .github/workflows/universe_scan.yml
Due: none

feat(core): add centralized settings and path management via Pydantic
  pyproject.toml
  tradingview_scraper/settings.py
  uv.lock
Due: ruff, ruff-format, ty

feat(selector): add forex support and recent performance filtering to FuturesUniverseSelector
  tradingview_scraper/futures_universe_selector.py
Due: ruff, ruff-format

refactor(scripts): use centralized settings for artifact path management
  scripts/analyze_clusters.py
  scripts/analyze_subcluster.py
  scripts/backtest_engine.py
  scripts/correlation_report.py
  scripts/detect_hedge_anchors.py
  scripts/display_portfolio_dashboard.py
  scripts/generate_audit_summary.py
  scripts/generate_backtest_report.py
  scripts/generate_portfolio_report.py
  scripts/monitor_cluster_drift.py
  scripts/summarize_results.py
  scripts/validate_portfolio_artifacts.py
  scripts/visualize_factor_map.py
Due: ruff, ruff-format, ty

feat(forex): add forex universe analysis and improved asset identity merging
  configs/forex_base_universe.yaml
  configs/presets/forex_liquid.yaml
  scripts/analyze_forex_universe.py
  scripts/select_top_universe.py
Due: ruff, ruff-format, ty

docs(workflow): update production pipeline docs and automation scripts
  .gitignore
  AGENTS.md
  CLAUDE.md
  Makefile
  conductor/tracks/portfolio_workflow.md
  docs/plan/issues.md
  docs/production_workflow.md
  docs/specs/artifacts_paths.md
  docs/specs/phase_8_rebalancing_and_sensitivity.md
  docs/specs/phase_9_validation_and_execution.md
  docs/specs/quantitative_workflow.md
  scripts/push_summaries_to_gist.sh
Due: none

feat(analysis): add volatility-based hierarchical clustering to portfolio risk engine
  scripts/analyze_clusters.py
  tradingview_scraper/risk.py
Due: ruff, ruff-format, ty

fix(analysis): refine hierarchical cluster report assembly and layout
  scripts/analyze_clusters.py
Due: ruff, ruff-format, ty

feat(forex): harden momentum filters and isolate base universe from portfolio candidates
  configs/forex_trend_momentum.yaml
  configs/forex_trend_momentum_short.yaml
  scripts/select_top_universe.py
Due: ruff, ruff-format, ty

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  ty: any of: \.py$, but not: (?x)^(
  tests/|
  tradingview_scraper/symbols/news\.py|
  tradingview_scraper/futures_universe_selector\.py|
  tradingview_scraper/symbols/cal\.py|
  tradingview_scraper/symbols/stream/streamer\.py
)

