Repository tommy-ca/tradingview-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uvx ruff check --fix
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: uvx ruff format
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: uvx ty
        args: ["check"]
        language: system
        types: [python]
        pass_filenames: true
        # Exclude tests and currently failing files to allow incremental adoption
        exclude: >
          (?x)^(
            tests/|
            tradingview_scraper/symbols/news\.py|
            tradingview_scraper/futures_universe_selector\.py|
            tradingview_scraper/symbols/cal\.py|
            tradingview_scraper/symbols/stream/streamer\.py
          )

docs: Define Feature Store Architecture (Phase 200)
  docs/design/feature_store_architecture.md
  docs/design/lakehouse_schema_registry.md
  docs/specs/dataops_architecture_v1.md
  docs/specs/plan.md
Due: none

feat: Implement Feature Store (Phase 200)
  Makefile
  docs/specs/plan.md
  scripts/services/ingest_features.py
  tests/services/test_ingest_features.py
Due: ruff, ruff-format, ty

docs: Define Legacy Pipeline Migration (Phase 201)
  docs/specs/dataops_architecture_v1.md
  docs/specs/plan.md
Due: none

feat: Centralize Data Repair Service (Phase 201)
  Makefile
  docs/specs/plan.md
  scripts/services/repair_data.py
Due: ruff, ruff-format, ty

docs: Add TradingView Features Catalog (Phase 203)
  docs/data_dictionary/tradingview_features.md
  docs/specs/plan.md
Due: none

chore: Complete Phase 205 (System Cleanup & Runbook)
  docs/operations/runbook.md
  docs/specs/plan.md
  tests/integration/test_crypto_flow.py
Due: ruff, ruff-format

docs: Define DataOps Migration Plan (Phase 206)
  docs/specs/dataops_migration_v2.md
  docs/specs/plan.md
Due: none

chore: Complete Phase 206 (End-to-End Migration Validation)
  docs/specs/plan.md
Due: none

chore: Complete Phase 207 (Aggregate Profile Validation)
  docs/specs/plan.md
Due: none

chore: Update Forensic Report (Phase 207)
  docs/reports/stable_forensic_report.md
Due: none

chore: Finalize Forensic Report for Aggregate Validation (Phase 207)
  docs/reports/stable_forensic_report.md
  docs/specs/dataops_architecture_v1.md
  docs/specs/plan.md
  scripts/generate_forensic_report.py
  scripts/run_production_pipeline.py
Due: ruff, ruff-format, ty

release: v4.5.0 (Strict Pipeline Separation & Forensic Audit)
  docs/specs/plan.md
Due: none

chore: Complete Phase 209 (Stablecoin Exclusion)
  configs/base/universes/binance_spot_base.yaml
  docs/specs/plan.md
Due: none

chore: Finalize Forensic Audit with Stablecoin Exclusion Runs
  docs/reports/stable_forensic_report.md
Due: none

chore: Complete Phase 208 (Strict Pipeline Separation)
  scripts/run_production_pipeline.py
Due: ruff, ruff-format, ty

chore: Finalize Forensic Audit with Phase 209 (Stablecoin Exclusion)
  docs/reports/stable_forensic_report.md
  scripts/generate_forensic_report.py
Due: ruff, ruff-format, ty

chore: Finalize Forensic Audit with Phase 209 Runs
  docs/reports/stable_forensic_report.md
  docs/specs/plan.md
  scripts/generate_forensic_report.py
Due: ruff, ruff-format, ty

chore: Make Gist Sync Optional (GIST_SYNC=1)
  scripts/run_production_pipeline.py
Due: ruff, ruff-format, ty

chore: Enforce Strict Offline Pipeline (Removed Auto-Recovery)
  scripts/run_production_pipeline.py
Due: ruff, ruff-format, ty

docs: Plan Phase 212 (Technical Feature Expansion)
  docs/specs/plan.md
Due: none

fix(backtest): resolve turnover reporting and cagr calculation anomalies
  scripts/backtest_engine.py
  scripts/generate_reports.py
Due: ruff, ruff-format, ty

feat(selection): implement pluggable rankers and signal dominance
  tradingview_scraper/pipelines/selection/pipeline.py
  tradingview_scraper/pipelines/selection/rankers/base.py
  tradingview_scraper/pipelines/selection/rankers/factory.py
  tradingview_scraper/pipelines/selection/rankers/mps.py
  tradingview_scraper/pipelines/selection/rankers/signal.py
  tradingview_scraper/pipelines/selection/stages/policy.py
  tradingview_scraper/settings.py
Due: ruff, ruff-format, ty

feat(data): add mtf feature ingestion and technical rating reconstruction
  scripts/services/ingest_features.py
  tradingview_scraper/symbols/overview.py
  tradingview_scraper/utils/technicals.py
Due: ruff, ruff-format, ty

chore(research): add rating reconstruction and audit scripts
  scripts/research/README.md
  scripts/research/audit_recommend_all.py
  scripts/research/explore_mtf_perf.py
  scripts/research/reconstruct_recommend_ma.py
  scripts/research/reconstruct_recommend_other.py
  scripts/services/consolidate_candidates.py
Due: ruff, ruff-format, ty

chore(config): update production manifest with v3 profiles
  configs/manifest.json
Due: none

chore(build): update makefile for data consolidation
  Makefile
Due: none

chore(deps): add pandas-ta-classic to analytics group
  pyproject.toml
  uv.lock
Due: none

chore: remove backup files
  tradingview_scraper/pipelines/selection/pipeline.py.bak
  tradingview_scraper/settings.py.bak
Due: none

fix(meta): correct profile handling and explicit run_id support
  Makefile
  scripts/build_meta_returns.py
Due: ruff, ruff-format, ty

docs: update requirements and design for v3.6.6 resilience
  docs/design/crypto_sleeve_design_v1.md
  docs/plan/backtest_dynamic_reranking_20260117.md
  docs/plan/fix_optimization_failures_20260117.md
  docs/plan/rerun_optimization_failures_20260117.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/known_issues_v3.6.md
  docs/specs/plan.md
Due: none

fix(meta): implement best-effort proxy fallback for missing risk profiles
  scripts/build_meta_returns.py
Due: ruff, ruff-format, ty

chore(deps): add optimization solvers and reporting utilities
  pyproject.toml
  uv.lock
Due: none

fix(core): commit pending stability fixes and cleanup legacy scripts
  scripts/analyze_audit_windows.py
  scripts/audit_ada_short.py
  scripts/audit_meta_anomaly.py
  scripts/audit_prom.py
  scripts/audit_xrp.py
  scripts/debug_toxic_asset.py
  scripts/generate_portfolio_report.py
  scripts/inspect_raw_prices.py
  scripts/recover_universe.py
  scripts/repair_portfolio_gaps.py
  scripts/services/ingest_data.py
  scripts/validate_nautilus_parity.py
  tradingview_scraper/symbols/stream/persistent_loader.py
Due: ruff, ruff-format, ty

docs: update plan with phase 218 progress
  docs/specs/plan.md
Due: none

chore(config): harden production profiles and disable nautilus
  configs/manifest.json
  docs/design/crypto_sleeve_design_v1.md
  docs/plan/audit_meta_portfolio_validation_20260117.md
  docs/reports/meta_portfolio_audit_20260117.md
  docs/reports/sleeve_audit_ma_long_20260117.md
  docs/reports/sleeve_health_audit_final.md
  docs/specs/plan.md
Due: none

docs: certify meta-portfolio infrastructure and log strategic failure
  docs/reports/final_meta_audit_20260117.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
  tradingview_scraper/portfolio_engines/impl/custom.py
  tradingview_scraper/utils/metrics.py
Due: ruff, ruff-format, ty

chore(core): enforce DataOps separation and harden correctness sweep
  docs/specs/plan.md
  scripts/run_production_pipeline.py
Due: ruff, ruff-format, ty

chore(core): finalize v3.6.6 infrastructure, meta-flattening fixes, and docs
  pyproject.toml
  scripts/flatten_meta_weights.py
  uv.lock
Due: ruff, ruff-format, ty

fix(backtest): resolve anomalous returns via state persistence and stitched metrics
  docs/specs/plan.md
  scripts/backtest_engine.py
  scripts/generate_reports.py
  scripts/inspect_anom_returns.py
  tradingview_scraper/portfolio_engines/backtest_simulators.py
  tradingview_scraper/utils/metrics.py
Due: ruff, ruff-format, ty
