Repository tommy-ca/tradingview-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uvx ruff check --fix
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: uvx ruff format
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: uvx ty
        args: ["check"]
        language: system
        types: [python]
        pass_filenames: true
        # Exclude tests and currently failing files to allow incremental adoption
        exclude: >
          (?x)^(
            tests/|
            tradingview_scraper/symbols/news\.py|
            tradingview_scraper/futures_universe_selector\.py|
            tradingview_scraper/symbols/cal\.py|
            tradingview_scraper/symbols/stream/streamer\.py
          )

docs: update pipeline sequence and project dependencies
  AGENTS.md
  requirements.txt
Due: none

docs: update plan with persistence research phases
  docs/specs/plan.md
Due: none

docs: add mlops scaling specification and hybrid architecture design
  docs/design/mlops_architecture.md
  docs/specs/mlops_scaling_v1.md
Due: none

docs: update project plan and agent guide with MLOps roadmap
  AGENTS.md
  docs/specs/plan.md
Due: none

build: add mlops dependency group
  pyproject.toml
  uv.lock
Due: none

feat: add prefect production flow and backtest profiling utility
  flows/production_flow.py
  scripts/profile_backtest.py
Due: ruff, ruff-format, ty

docs: add mlops scaling specification and hybrid architecture design
  docs/design/mlops_architecture.md
  docs/specs/mlops_scaling_v1.md
  docs/specs/plan.md
Due: none

build: add mlops dependency group
  pyproject.toml
Due: none

feat: implement slim metrics and backtest profiling utility
  scripts/profile_backtest.py
  tradingview_scraper/utils/metrics.py
Due: ruff, ruff-format, ty

feat: add prefect production flow and update agent guide
  AGENTS.md
  flows/production_flow.py
Due: ruff, ruff-format, ty

feat: implement ray-parallelized backtest engine
  scripts/backtest_engine.py
Due: ruff, ruff-format, ty

feat: add ray validation utility for MLOps PoC
  scripts/validate_ray_poc.py
Due: ruff, ruff-format, ty

fix: restore full backtest logic and re-implement ray integration correctly
  scripts/backtest_engine.py
Due: ruff, ruff-format, ty

docs: update crypto production specs and sign-off reports
  docs/audit/crypto_grand_evaluation_q1_2026.md
  docs/crypto_production_readiness_report_final.md
  docs/design/crypto_sleeve_design_v1.md
  docs/production_workflow.md
  docs/reports/2026_q1_crypto_signoff.md
  docs/reports/grand_linkage_tournament_20260109-193501.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
Due: none

feat(scripts): add research and experiment tooling for engine auditing
  scripts/analyze_audit_windows.py
  scripts/experiments/compare_linkage_backtest.py
  scripts/experiments/optimize_pypfopt_hrp.py
  scripts/experiments/report_grand_linkage.py
  scripts/experiments/run_grand_linkage_tournament.py
  scripts/inspect_pypfopt.py
  scripts/research/audit_custom_dd.py
  scripts/research/audit_max_dd.py
  scripts/research/audit_selection_funnel.py
  scripts/research/audit_window_matrix.py
  scripts/research/check_asset_drawdowns.py
  scripts/research/check_crash_identity.py
  scripts/research/check_identity.py
  scripts/research/find_return_series.py
  scripts/research/parse_optimized_results.py
  scripts/research/replay_audit_ledger.py
  scripts/research/visualize_clusters.py
  scripts/research_regime_v3.py
Due: ruff, ruff-format, ty

feat(infra): update production infrastructure and engine flexibility
  Makefile
  configs/manifest.json
  scripts/backtest_engine.py
  scripts/maintenance/archive_runs.py
  scripts/optimize_clustered_v2.py
  tradingview_scraper/portfolio_engines/engines.py
Due: ruff, ruff-format, ty

test: add production readiness and selection evolution tests
  tests/test_crypto_recovery_validation.py
  tests/test_selection_evolution.py
Due: ruff, ruff-format

feat(config): add institutional crypto hygiene and scan configurations
  configs/base/hygiene/institutional_crypto.yaml
  configs/base/templates/crypto_perp.yaml
  configs/base/templates/crypto_spot.yaml
  configs/scanners/crypto/binance_mtf_trend.yaml
  configs/scanners/crypto/vol_breakout.yaml
  docs/specs/crypto_cex_presets.rst
  docs/specs/multi_sleeve_meta_portfolio_v1.md
  scripts/run_crypto_scans.sh
  scripts/run_production_pipeline.py
  scripts/validate_portfolio_artifacts.py
  tradingview_scraper/utils/metrics.py
Due: ruff, ruff-format, ty

test: add production infrastructure verification tests
  tests/test_crypto_production_infrastructure.py
  tests/test_crypto_production_learnings.py
Due: ruff, ruff-format

docs: add preliminary readiness and validation reports
  docs/crypto_production_readiness_report.md
  docs/specs/crypto_pipeline_validation_20260109.md
Due: none

docs(agent): document archival and maintenance commands
  AGENTS.md
Due: none

docs: finalize system freeze and retention policies
  docs/design/crypto_sleeve_design_v1.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
Due: none

docs: finalize deployment and maintenance specifications
  docs/design/crypto_sleeve_design_v1.md
  docs/production_workflow.md
  docs/specs/plan.md
Due: none

docs: sync robust selection standards and history floor updates
  configs/scanners/crypto/binance_perp_long_mtf.yaml
  configs/scanners/crypto/binance_perp_long_trend.yaml
  configs/scanners/crypto/binance_perp_short_trend.yaml
  configs/scanners/crypto/binance_spot_long_trend.yaml
  docs/design/crypto_sleeve_design_v1.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
Due: none

fix(risk): enforce history floor and add antifragility significance weighting
  Makefile
  configs/manifest.json
  docs/reports/2026_q1_crypto_signoff.md
  scripts/prepare_portfolio_data.py
  scripts/run_production_pipeline.py
  tradingview_scraper/risk.py
Due: ruff, ruff-format, ty

feat(config): refine base universe with Top 50 Liquid / Top 100 Mcap filter
  configs/base/universes/binance_perp_top100.yaml
  configs/base/universes/binance_perp_top50.yaml
  configs/base/universes/binance_perp_top50_vol.yaml
  configs/base/universes/binance_spot_top100.yaml
  configs/base/universes/binance_spot_top50.yaml
  docs/reports/2026_q1_crypto_signoff.md
Due: none

fix(selection): improve robustness and diversification in selection engines
  scripts/natural_selection.py
  tradingview_scraper/selection_engines/engines.py
Due: ruff, ruff-format, ty

feat(config): harden crypto scanner base universes and standardize metadata
  configs/base/universes/binance_perp_top50_vol.yaml
  configs/scanners/crypto/binance_perp_long_trend.yaml
  configs/scanners/crypto/binance_perp_short_mtf.yaml
  configs/scanners/crypto/binance_perp_short_trend.yaml
  configs/scanners/crypto/binance_spot_short_trend.yaml
  configs/scanners/crypto/vol_breakout.yaml
Due: none

docs(crypto): update design, requirements, and project plan for v3.1
  docs/design/crypto_sleeve_design_v1.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
Due: none

feat(research): add history and antifragility audit scripts
  scripts/research/audit_history_af.py
  scripts/research/check_myx_history.py
Due: ruff, ruff-format, ty

fix(selection): implement antifragility significance multiplier for robust ranking
  tradingview_scraper/selection_engines/engines.py
Due: ruff, ruff-format, ty

fix(infra): allow PROFILE to be inherited from TV_PROFILE in Makefile
  Makefile
Due: none

feat(crypto): finalize institutional discovery and selection standards v3.1
  docs/design/crypto_sleeve_design_v1.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
Due: none

docs(crypto): update refinement funnel standards and lock lookback at 180d
  configs/manifest.json
  docs/design/crypto_sleeve_design_v1.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
Due: none

feat(crypto): implement 90-day alpha immersion standard and lock cross-asset lookback at 300d
  configs/manifest.json
  docs/design/crypto_sleeve_design_v1.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
Due: none

feat(selection): implement balanced alpha standard with dynamic ECI hurdles and 36-winner pool
  Makefile
  configs/manifest.json
  tradingview_scraper/selection_engines/engines.py
Due: ruff, ruff-format, ty

fix(risk): implement Toxic Persistence Veto and Benchmark Exemption to resolve performance issues
  Makefile
  configs/manifest.json
  docs/design/crypto_sleeve_design_v1.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
  scripts/natural_selection.py
  scripts/prepare_portfolio_data.py
  tradingview_scraper/selection_engines/engines.py
Due: ruff, ruff-format, ty

feat(config): lock v3.2.8 production standards in manifest and pydantic settings
  configs/manifest.json
  tradingview_scraper/settings.py
Due: ruff, ruff-format, ty

docs(crypto): finalize institutional production standards v3.2.8
  Makefile
  configs/base/universes/binance_perp_top100.yaml
  configs/base/universes/binance_spot_top100.yaml
  configs/manifest.json
  configs/scanners/crypto/binance_perp_long_mtf.yaml
  configs/scanners/crypto/binance_perp_long_trend.yaml
  configs/scanners/crypto/binance_perp_secular_short.yaml
  configs/scanners/crypto/binance_perp_short_mtf.yaml
  configs/scanners/crypto/binance_perp_short_trend.yaml
  configs/scanners/crypto/binance_spot_long_trend.yaml
  docs/design/crypto_sleeve_design_v1.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
  tradingview_scraper/regime.py
Due: ruff, ruff-format, ty
