Repository tommy-ca/tradingview-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uvx ruff check --fix
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: uvx ruff format
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: uvx ty
        args: ["check"]
        language: system
        types: [python]
        pass_filenames: true
        # Exclude tests and currently failing files to allow incremental adoption
        exclude: >
          (?x)^(
            tests/|
            tradingview_scraper/symbols/news\.py|
            tradingview_scraper/futures_universe_selector\.py|
            tradingview_scraper/symbols/cal\.py|
            tradingview_scraper/symbols/stream/streamer\.py
          )

feat(async): implement result export logic
  tests/test_async_screener.py
  tradingview_scraper/symbols/screener_async.py
Due: ruff, ruff-format, ty

conductor(plan): Mark task 'Integrate result export logic' as complete
  conductor/tracks/robust_async_screener_20251221/plan.md
Due: none

feat(async): implement internal pagination for large limits
  tests/test_async_screener.py
  tradingview_scraper/symbols/screener_async.py
Due: ruff, ruff-format, ty

conductor(plan): Mark task 'Implement internal pagination' as complete
  conductor/tracks/robust_async_screener_20251221/plan.md
Due: none

feat(async): add concurrency control to parallel scans
  tests/test_async_screener.py
  tradingview_scraper/symbols/screener_async.py
Due: ruff, ruff-format, ty

conductor(plan): Mark Phase 2 tasks as complete
  conductor/tracks/robust_async_screener_20251221/plan.md
Due: none

feat(async): achieve full signature parity with sync screener
  tests/test_async_screener.py
  tradingview_scraper/symbols/screener_async.py
Due: ruff, ruff-format, ty

docs: create final report for robust async screener parity
  conductor/tracks/robust_async_screener_20251221/report.md
Due: none

conductor(plan): Mark track 'Robust Async Screener Parity' as complete
  conductor/tracks/robust_async_screener_20251221/plan.md
Due: none

feat(stream): create AsyncStreamHandler for non-blocking WebSocket management
  tests/test_async_stream_handler.py
  tradingview_scraper/symbols/stream/stream_handler_async.py
Due: ruff, ruff-format, ty

conductor(plan): Mark task 'Create tradingview_scraper/symbols/stream/stream_handler_async.py' as complete
  conductor/tracks/async_streamer_v1_20251221/plan.md
Due: none

feat(stream): implement background heartbeat handling and data queuing
  tests/test_async_stream_handler.py
  tradingview_scraper/symbols/stream/stream_handler_async.py
Due: ruff, ruff-format, ty

conductor(plan): Mark Phase 1 core tasks as complete
  conductor/tracks/async_streamer_v1_20251221/plan.md
Due: none

feat(stream): implement AsyncStreamer with async generator support
  tests/test_async_streamer.py
  tradingview_scraper/symbols/stream/streamer_async.py
Due: ruff, ruff-format, ty

conductor(plan): Mark Phase 2 tasks as complete
  conductor/tracks/async_streamer_v1_20251221/plan.md
Due: none

feat(stream): implement AsyncRetryHandler for non-blocking backoff
  tests/test_async_retry.py
  tradingview_scraper/symbols/stream/retry_async.py
Due: ruff, ruff-format, ty

conductor(plan): Mark Task 1 of Phase 3 as complete
  conductor/tracks/async_streamer_v1_20251221/plan.md
Due: none

feat(stream): implement state restoration and auto-reconnect
  tests/test_async_stream_reconnect.py
  tradingview_scraper/symbols/stream/stream_handler_async.py
  tradingview_scraper/symbols/stream/streamer_async.py
Due: ruff, ruff-format, ty

conductor(plan): Mark Phase 3 tasks as complete
  conductor/tracks/async_streamer_v1_20251221/plan.md
Due: none

docs(example): add async_stream_demo.py
  examples/async_stream_demo.py
Due: ruff, ruff-format, ty

conductor(plan): Mark Task 2 of Phase 4 as complete
  conductor/tracks/async_streamer_v1_20251221/plan.md
Due: none

docs: create final report for async streamer v1
  conductor/tracks/async_streamer_v1_20251221/report.md
Due: none

conductor(plan): Mark track 'Async Streamer V1' as complete
  conductor/tracks/async_streamer_v1_20251221/plan.md
Due: none

feat(stream): port serialization logic to AsyncStreamer
  tests/test_async_streamer_serialization.py
  tradingview_scraper/symbols/stream/streamer_async.py
Due: ruff, ruff-format, ty

conductor(plan): Mark Task 1 of Phase 1 as complete
  conductor/tracks/async_streamer_parity_20251221/plan.md
Due: none

feat(stream): enable formatted output in AsyncStreamer.get_data()
  tests/test_async_streamer_serialization.py
  tradingview_scraper/symbols/stream/streamer_async.py
Due: ruff, ruff-format, ty

conductor(plan): Mark Task 2 of Phase 1 as complete
  conductor/tracks/async_streamer_parity_20251221/plan.md
Due: none

test(stream): add integrated parity tests for Streamer and AsyncStreamer
  tests/test_streamer_parity.py
Due: ruff, ruff-format

conductor(plan): Mark Phase 1 as complete
  conductor/tracks/async_streamer_parity_20251221/plan.md
Due: none

feat(stream): implement one-shot data collection and export in AsyncStreamer
  tests/test_async_streamer_serialization.py
  tradingview_scraper/symbols/stream/streamer_async.py
Due: ruff, ruff-format, ty

conductor(plan): Mark Phase 2 as complete
  conductor/tracks/async_streamer_parity_20251221/plan.md
Due: none

refactor(stream): finalize structural consolidation of serialization logic
  tradingview_scraper/symbols/stream/streamer.py
  tradingview_scraper/symbols/stream/utils.py
Due: ruff, ruff-format, ty

conductor(plan): Mark Phase 3 as complete
  conductor/tracks/async_streamer_parity_20251221/plan.md
Due: none

feat(stream): align AsyncStreamer API and improve test mocks
  tests/test_async_stream_reconnect.py
  tests/test_async_streamer.py
  tradingview_scraper/symbols/stream/streamer_async.py
Due: ruff, ruff-format, ty

conductor(plan): Mark track 'Async Streamer Feature Parity' as complete
  conductor/tracks/async_streamer_parity_20251221/plan.md
Due: none

fix(async): improve error resilience in screen_many
  tradingview_scraper/symbols/screener_async.py
Due: ruff, ruff-format, ty

refine forex majors base and trend filters
  configs/forex_base_universe.yaml
  configs/forex_trend_momentum.yaml
  configs/forex_trend_momentum_short.yaml
Due: none

feat(indexes): add index list updater and index-based bases
  conductor/tracks/index_lists.md
  conductor/tracks/portfolio_workflow.md
  configs/presets/stocks_us_liquid.yaml
  configs/us_etf_base_universe.yaml
  configs/us_stocks_base_universe.yaml
  scripts/update_index_lists.py
  tradingview_scraper/futures_universe_selector.py
Due: ruff, ruff-format, ty

feat(scan-configs): relax base/strategy filters for crypto, forex, us equities
  configs/crypto_cex_base_top50_binance.yaml
  configs/crypto_cex_base_top50_binance_perp.yaml
  configs/crypto_cex_base_top50_bitget.yaml
  configs/crypto_cex_base_top50_bitget_perp.yaml
  configs/crypto_cex_base_top50_bybit.yaml
  configs/crypto_cex_base_top50_bybit_perp.yaml
  configs/crypto_cex_base_top50_okx.yaml
  configs/crypto_cex_base_top50_okx_perp.yaml
  configs/forex_mtf_weekly_daily_daily.yaml
  configs/forex_trend_momentum.yaml
  configs/forex_trend_momentum_short.yaml
  configs/presets/crypto_cex_preset_binance_top50_perp.yaml
  configs/presets/crypto_cex_preset_binance_top50_spot.yaml
  configs/presets/crypto_cex_preset_bitget_top50_perp.yaml
  configs/presets/crypto_cex_preset_bitget_top50_spot.yaml
  configs/presets/crypto_cex_preset_bybit_top50_perp.yaml
  configs/presets/crypto_cex_preset_bybit_top50_spot.yaml
  configs/presets/crypto_cex_preset_okx_top50_perp.yaml
  configs/presets/crypto_cex_preset_okx_top50_spot.yaml
  configs/us_etf_trend_momentum.yaml
  configs/us_etf_trend_momentum_short.yaml
  configs/us_stocks_trend_momentum.yaml
  configs/us_stocks_trend_momentum_short.yaml
Due: none

feat(portfolio): update prep and optimization scripts
  scripts/audit_antifragility.py
  scripts/compare_strategies.py
  scripts/optimize_barbell.py
  scripts/optimize_portfolio.py
  scripts/prepare_portfolio_data.py
  scripts/research_alternative_fields.py
  tradingview_scraper/symbols/stream/persistent_loader.py
Due: ruff, ruff-format, ty
