Repository tommy-ca/tradingview-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uvx ruff check --fix
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: uvx ruff format
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: uvx ty
        args: ["check"]
        language: system
        types: [python]
        pass_filenames: true
        # Exclude tests and currently failing files to allow incremental adoption
        exclude: >
          (?x)^(
            tests/|
            tradingview_scraper/symbols/news\.py|
            tradingview_scraper/futures_universe_selector\.py|
            tradingview_scraper/symbols/cal\.py|
            tradingview_scraper/symbols/stream/streamer\.py
          )

chore(crypto): Finalize Top 50 base universe review and optimization
  conductor/tracks.md
  conductor/tracks/crypto_top50_review_20251220/metadata.json
  conductor/tracks/crypto_top50_review_20251220/plan.md
  conductor/tracks/crypto_top50_review_20251220/spec.md
  conductor/tracks/universe_selectors_20251220/plan.md
  conductor/tracks/websocket_retry_20251220/plan.md
  configs/crypto_cex_base_top50_bitget.yaml
  configs/crypto_cex_base_top50_bitget_perp.yaml
  configs/crypto_cex_base_top50_bybit.yaml
  configs/crypto_cex_base_top50_bybit_perp.yaml
  configs/crypto_cex_base_top50_okx.yaml
  configs/crypto_cex_base_top50_okx_perp.yaml
  configs/presets/crypto_cex_preset_binance_top50_perp.yaml
  configs/presets/crypto_cex_preset_binance_top50_spot.yaml
  scripts/run_base_scans.sh
  scripts/verify_universe_quality.py
Due: ruff, ruff-format, ty

feat(selector): Implement hybrid market cap guard (Rank and Floor)
  tests/test_universe_selector_guards.py
  tradingview_scraper/futures_universe_selector.py
Due: ruff, ruff-format

conductor(plan): Mark Phase 1 refactor tasks as complete
  conductor/tracks/universe_selector_guards_20251220/plan.md
Due: none

conductor(checkpoint): Checkpoint end of Phase 1: Logic Refactor (TDD)
  conductor/tracks.md
  conductor/tracks/crypto_top50_review_20251220/plan.md
  conductor/tracks/universe_selector_guards_20251220/metadata.json
  conductor/tracks/universe_selector_guards_20251220/spec.md
Due: none

conductor(plan): Mark phase 'Phase 1: Logic Refactor (TDD)' as complete
  conductor/tracks/universe_selector_guards_20251220/plan.md
Due: none

feat(selector): Integrate hybrid market cap guards into crypto base configs
  configs/crypto_cex_base_top50_bitget.yaml
  configs/crypto_cex_base_top50_bitget_perp.yaml
  configs/crypto_cex_base_top50_bybit.yaml
  configs/crypto_cex_base_top50_bybit_perp.yaml
  configs/crypto_cex_base_top50_okx.yaml
  configs/crypto_cex_base_top50_okx_perp.yaml
  configs/presets/crypto_cex_preset_binance_top50_perp.yaml
  configs/presets/crypto_cex_preset_binance_top50_spot.yaml
  configs/presets/crypto_cex_preset_bitget_top50_perp.yaml
  configs/presets/crypto_cex_preset_bitget_top50_spot.yaml
  configs/presets/crypto_cex_preset_bybit_top50_perp.yaml
  configs/presets/crypto_cex_preset_bybit_top50_spot.yaml
  configs/presets/crypto_cex_preset_okx_top50_perp.yaml
  configs/presets/crypto_cex_preset_okx_top50_spot.yaml
  scripts/verify_universe_quality.py
  tradingview_scraper/futures_universe_selector.py
Due: ruff, ruff-format, ty

conductor(plan): Mark Phase 2 integration tasks as complete
  conductor/tracks/universe_selector_guards_20251220/plan.md
Due: none

refactor(selector): Implement explicit processing pipeline and base symbol aggregation
  tests/test_universe_selector_guards.py
  tradingview_scraper/futures_universe_selector.py
Due: ruff, ruff-format

conductor(plan): Mark pipeline refactor as complete
  conductor/tracks/universe_selector_guards_20251220/plan.md
Due: none

docs: Finalize documentation for universe selector guards
  conductor/product.md
  conductor/tech-stack.md
  conductor/tracks/universe_selector_guards_20251220/plan.md
Due: none

docs(conductor): Update spec for universe selector guards
  conductor/tracks/universe_selector_guards_20251220/spec.md
Due: none

fix(selector): Expand STABLE_BASES and fix aggregation tests
  tests/test_universe_selector_guards.py
  tradingview_scraper/futures_universe_selector.py
Due: ruff, ruff-format

feat(selector): Implement absolute uniqueness with scaling prefix handling and final guard
  tests/test_universe_selector_guards.py
  tradingview_scraper/futures_universe_selector.py
Due: ruff, ruff-format

conductor(plan): Mark all tasks as complete
  conductor/tracks/universe_selector_guards_20251220/plan.md
Due: none

feat(selector): Finalize institutional liquidity aggregation and quote prioritization strategy
  docs/liquidity_review_20251220.md
  scripts/debug_selector.py
  scripts/liquidity_deep_dive.py
  scripts/review_aggregation.py
  scripts/test_raw_screen.py
Due: ruff, ruff-format, ty

feat(audit): Add comprehensive universe audit utility
  scripts/audit_base_universes.py
Due: ruff, ruff-format, ty

feat(selector): Group and aggregate duplicates for pairs trading support
  configs/presets/crypto_cex_preset_binance_perp.yaml
  configs/presets/crypto_cex_preset_binance_spot.yaml
  configs/presets/crypto_cex_preset_binance_top50_perp.yaml
  configs/presets/crypto_cex_preset_binance_top50_spot.yaml
  configs/presets/crypto_cex_preset_bitget_perp.yaml
  configs/presets/crypto_cex_preset_bitget_spot.yaml
  configs/presets/crypto_cex_preset_bitget_top50_perp.yaml
  configs/presets/crypto_cex_preset_bitget_top50_spot.yaml
  configs/presets/crypto_cex_preset_bybit_perp.yaml
  configs/presets/crypto_cex_preset_bybit_spot.yaml
  configs/presets/crypto_cex_preset_bybit_top50_perp.yaml
  configs/presets/crypto_cex_preset_bybit_top50_spot.yaml
  configs/presets/crypto_cex_preset_okx_perp.yaml
  configs/presets/crypto_cex_preset_okx_spot.yaml
  configs/presets/crypto_cex_preset_okx_top50_perp.yaml
  configs/presets/crypto_cex_preset_okx_top50_spot.yaml
  tradingview_scraper/futures_universe_selector.py
Due: ruff, ruff-format

core: refine base/quote parsing and global ensure_symbols logic
  tradingview_scraper/futures_universe_selector.py
Due: ruff, ruff-format

config: optimize crypto base presets with tuned floors and ensure_symbols
  configs/presets/crypto_cex_preset_binance_top50_perp.yaml
  configs/presets/crypto_cex_preset_binance_top50_spot.yaml
  configs/presets/crypto_cex_preset_bitget_top50_spot.yaml
  configs/presets/crypto_cex_preset_okx_top50_perp.yaml
  configs/presets/crypto_cex_preset_okx_top50_spot.yaml
Due: none

scripts: enhance diagnostic and reporting tools for universe quality
  scripts/debug_selector.py
  scripts/review_matrix.py
  scripts/run_base_scans.sh
  scripts/summarize_crypto_results.py
  scripts/verify_universe_quality.py
Due: ruff, ruff-format, ty

conductor(plan): Mark track 'Update Trend Following Strategy Universe Selectors' as archived
  conductor/tracks/update_trend_strategy_20251220/plan.md
Due: none

docs: integrate arbitrage and streamer research reports
  README.md
  docs/index.rst
  docs/raw_packet_research.json
  docs/research/arbitrage_research_20251220.md
  docs/research/streamer_research_20251220.md
  docs/universe_selection_strategy.md
Due: none

feat(stream): add close() methods and auto_close support to fix sequential blocking; add historical technicals research report
  .github/workflows/docs.yml
  .github/workflows/pylint.yml
  .github/workflows/python-app.yml
  .github/workflows/release-demo.yml
  README.md
  conductor/tracks.md
  conductor/tracks/arbitrage_exploration_20251220/plan.md
  conductor/tracks/historical_technicals_research_20251220/plan.md
  conductor/tracks/streamer_research_20251220/plan.md
  docs/historical_technicals_summary.json
  docs/index.rst
  docs/multi_indicator_research.json
  docs/research/historical_technicals_20251220.md
  scripts/audit_multi_quote_pairs.py
  scripts/fetch_high_res_data.py
  scripts/research_historical_technicals.py
  scripts/research_stream_schemas.py
  scripts/run_base_scans.sh
  scripts/scan_arbitrage.py
  scripts/verify_streamer_fix.py
  scripts/verify_streamer_sequential.py
  tradingview_scraper/symbols/stream/stream_handler.py
  tradingview_scraper/symbols/stream/streamer.py
Due: ruff, ruff-format, ty

docs: complete MTF technical filtering research and documentation
  README.md
  conductor/tracks.md
  conductor/tracks/arbitrage_exploration_20251220/plan.md
  conductor/tracks/historical_technicals_research_20251220/plan.md
  conductor/tracks/mtf_technical_filtering_20251220/plan.md
  conductor/tracks/streamer_research_20251220/plan.md
  docs/index.rst
  docs/research/mtf_alignment_summary.json
  docs/research/mtf_technical_filtering_20251220.md
  scripts/research_mtf_alignment.py
Due: ruff, ruff-format, ty

docs: complete alternative technical indicators research and documentation
  README.md
  conductor/tracks.md
  conductor/tracks/alternative_technicals_research_20251220/plan.md
  docs/index.rst
  docs/research/alternative_fields_availability.json
  docs/research/alternative_technicals_20251220.md
  scripts/research_alternative_fields.py
Due: ruff, ruff-format, ty

feat(loader): implement DataLoader for date-range based backtesting and add research report
  README.md
  conductor/tracks.md
  conductor/tracks/historical_data_loader_20251220/plan.md
  docs/index.rst
  docs/research/historical_loader_20251220.md
  docs/research/historical_loader_limits.json
  scripts/backtest_loader_demo.py
  scripts/research_loader_interface.py
  tradingview_scraper/symbols/stream/loader.py
Due: ruff, ruff-format, ty

test(loader): add multi-market test suite and quality audit research
  README.md
  conductor/tracks.md
  conductor/tracks/dataloader_multi_market_20251220/plan.md
  docs/index.rst
  docs/research/dataloader_multi_market_20251220.md
  scripts/audit_market_samples.py
  tests/test_dataloader_markets.py
Due: ruff, ruff-format, ty

docs: complete deep historical data reach and feasibility research
  README.md
  conductor/tracks.md
  conductor/tracks/deep_history_research_20251220/plan.md
  docs/index.rst
  docs/research/deep_history_feasibility_20251220.md
  scripts/research_genesis_reach.py
Due: ruff, ruff-format, ty

feat(lakehouse): implement PersistentDataLoader and LakehouseStorage for deep history accumulation
  README.md
  conductor/tracks.md
  conductor/tracks/lakehouse_ingestor_20251220/plan.md
  data/lakehouse/BINANCE_BTCUSDT_1d.parquet
  data/lakehouse/BINANCE_BTCUSDT_1h.parquet
  data/lakehouse/BINANCE_BTCUSDT_1m.parquet
  docs/index.rst
  docs/research/lakehouse_ingestor_20251220.md
  scripts/run_lakehouse_sync.py
  tradingview_scraper/symbols/stream/lakehouse.py
  tradingview_scraper/symbols/stream/persistent_loader.py
Due: ruff, ruff-format, ty

feat(lakehouse): implement gap detection and automated repair for historical data
  README.md
  conductor/tracks.md
  conductor/tracks/lakehouse_quality_20251220/plan.md
  data/lakehouse/BINANCE_BTCUSDT_1m.parquet
  docs/index.rst
  docs/research/lakehouse_gap_management_20251220.md
  scripts/demo_gap_management.py
  tests/test_lakehouse_storage.py
  tradingview_scraper/symbols/stream/lakehouse.py
  tradingview_scraper/symbols/stream/persistent_loader.py
Due: ruff, ruff-format, ty

docs: complete historical candle resolution mapping and discovery research
  README.md
  conductor/tracks.md
  conductor/tracks/resolution_research_20251220/plan.md
  docs/index.rst
  docs/research/resolution_discovery_matrix.json
  docs/research/resolution_matrix_20251220.md
  scripts/research_resolutions.py
Due: ruff, ruff-format, ty

feat: consolidate research learnings into core library, tests, and examples
  README.md
  conductor/tracks.md
  conductor/tracks/research_consolidation_20251220/plan.md
  tests/test_dataloader_markets.py
  tradingview_scraper/symbols/stream/loader.py
  tradingview_scraper/symbols/stream/streamer.py
Due: ruff, ruff-format, ty

feat(resilience): integrate tenacity for API retries and implement jittered backoff
  conductor/tracks.md
  conductor/tracks/api_resilience_20251220/plan.md
  pyproject.toml
  scripts/probe_rate_limits.py
  scripts/probe_ws_limits.py
  scripts/verify_resilience.py
  tradingview_scraper/symbols/screener.py
  tradingview_scraper/symbols/stream/retry.py
  uv.lock
Due: ruff, ruff-format, ty

docs: complete stress and performance load testing research and benchmarks
  README.md
  conductor/tracks.md
  conductor/tracks/performance_testing_20251220/plan.md
  data/locust_lakehouse/BINANCE_ADAUSDT_1h.parquet
  data/locust_lakehouse/BINANCE_BTCUSDT_1h.parquet
  data/locust_lakehouse/BINANCE_ETHUSDT_1h.parquet
  data/locust_lakehouse/BINANCE_SOLUSDT_1h.parquet
  data/locust_lakehouse/BINANCE_XRPUSDT_1h.parquet
  docs/index.rst
  docs/research/performance_load_tests_20251220.md
  pyproject.toml
  tests/locustfile.py
  tests/test_performance.py
  uv.lock
Due: ruff, ruff-format

chore: stop tracking data/ folder and update gitignore
  .gitignore
  data/lakehouse/BINANCE_BTCUSDT_1d.parquet
  data/lakehouse/BINANCE_BTCUSDT_1h.parquet
  data/lakehouse/BINANCE_BTCUSDT_1m.parquet
  data/locust_lakehouse/BINANCE_ADAUSDT_1h.parquet
  data/locust_lakehouse/BINANCE_BTCUSDT_1h.parquet
  data/locust_lakehouse/BINANCE_ETHUSDT_1h.parquet
  data/locust_lakehouse/BINANCE_SOLUSDT_1h.parquet
  data/locust_lakehouse/BINANCE_XRPUSDT_1h.parquet
Due: none

chore: move research artifacts to docs/research/ folder
  docs/research/historical_technicals_summary.json
  docs/research/multi_indicator_research.json
  docs/research/raw_packet_research.json
Due: none

chore: update track statuses and plans for cleanup
  conductor/tracks.md
  conductor/tracks/lakehouse_quality_20251220/plan.md
Due: none

chore: optimize gitignore with more robust patterns
  .gitignore
Due: none
