Repository tommy-ca/tradingview-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uvx ruff check --fix
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: uvx ruff format
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: uvx ty
        args: ["check"]
        language: system
        types: [python]
        pass_filenames: true
        # Exclude tests and currently failing files to allow incremental adoption
        exclude: >
          (?x)^(
            tests/|
            tradingview_scraper/symbols/news\.py|
            tradingview_scraper/futures_universe_selector\.py|
            tradingview_scraper/symbols/cal\.py|
            tradingview_scraper/symbols/stream/streamer\.py
          )

docs: clarify audit ledger log locations and terminology
  docs/specs/audit_artifact_map.md
  scripts/generate_reports.py
  tradingview_scraper/utils/audit.py
Due: ruff, ruff-format, ty

docs: add script audit and cleanup roadmap to plan
  docs/specs/plan.md
Due: none

docs: finalize detailed script reorganization roadmap
  docs/specs/plan.md
Due: none

feat: create skeleton for script reorganization
  scripts/archive/__init__.py
  scripts/maintenance/__init__.py
  scripts/research/__init__.py
Due: ruff, ruff-format, ty

refactor: move maintenance tools to scripts/maintenance/
  scripts/maintenance/check_backfill_status.py
  scripts/maintenance/check_catalog_stats.py
  scripts/maintenance/check_genesis_ts.py
  scripts/maintenance/check_overview_fields.py
  scripts/maintenance/check_overview_fields_extended.py
  scripts/maintenance/cleanup_exports.py
  scripts/maintenance/cleanup_metadata_catalog.py
  scripts/maintenance/inspect_screener_fields.py
  scripts/maintenance/list_missing_symbols.py
  scripts/maintenance/populate_genesis_single.py
  scripts/maintenance/probe_rate_limits.py
  scripts/maintenance/probe_ws_limits.py
  scripts/maintenance/run_lakehouse_sync.py
  scripts/maintenance/run_missing_symbols_build.py
  scripts/maintenance/targeted_sync_missing.py
  scripts/maintenance/track_portfolio_state.py
  scripts/maintenance/update_config_quotes.py
  scripts/maintenance/update_index_lists.py
Due: ruff, ruff-format, ty

refactor: move research and prototypes to scripts/research/
  scripts/research/analyze_forex_universe.py
  scripts/research/analyze_subcluster.py
  scripts/research/benchmark_risk_models.py
  scripts/research/benchmark_rp_fidelity.py
  scripts/research/cache_selection_features.py
  scripts/research/compare_strategies.py
  scripts/research/compare_universes.py
  scripts/research/demo_gap_management.py
  scripts/research/diagnose_v3_internals.py
  scripts/research/display_portfolio_dashboard.py
  scripts/research/explore_binance_other.py
  scripts/research/explore_mean_reversion.py
  scripts/research/explore_metadata_catalogs.py
  scripts/research/explore_quotes.py
  scripts/research/explore_top_200.py
  scripts/research/fetch_high_res_data.py
  scripts/research/liquidity_deep_dive.py
  scripts/research/load_portfolio_history.py
  scripts/research/optimize_barbell.py
  scripts/research/optimize_portfolio.py
  scripts/research/proto_async_ws.py
  scripts/research/proto_async_ws_controlled.py
  scripts/research/prototype_cvx_rp.py
  scripts/research/research_alternative_fields.py
  scripts/research/research_genesis_reach.py
  scripts/research/research_historical_technicals.py
  scripts/research/research_loader_interface.py
  scripts/research/research_metadata_fields.py
  scripts/research/research_mtf_alignment.py
  scripts/research/research_resolutions.py
  scripts/research/research_stream_schemas.py
  scripts/research/scan_arbitrage.py
  scripts/research/summarize_crypto_results.py
  scripts/research/tournament_normalization.py
  scripts/research/tournament_v2_vs_v2_1.py
  scripts/research/tune_selection_alpha.py
  scripts/research/tune_v2_alpha.py
  scripts/research/unified_benchmark_2026.py
  scripts/research/validate_hpo_selection.py
  scripts/research/visualize_matrix_cli.py
Due: ruff, ruff-format, ty

docs: finalize script reorganization and update plan
  docs/specs/plan.md
Due: none

docs: validate artifact reorganization with production run evidence
  docs/specs/plan.md
Due: none

refactor: decommission legacy market_baseline and benchmark_baseline profiles in engine
  scripts/backtest_engine.py
Due: ruff, ruff-format, ty

fix: align research benchmarks and reporting with official taxonomy
  scripts/baseline_audit.py
  scripts/generate_reports.py
  scripts/research/unified_benchmark_2026.py
Due: ruff, ruff-format, ty

docs: finalize taxonomy unification in master plan
  docs/specs/plan.md
Due: none

docs: finalize taxonomy unification and restore plan structure
  docs/specs/market_profile_unification.md
  docs/specs/optimization_engine_v2.md
  docs/specs/plan.md
Due: none

docs: formalize MLOps Scalability Pivot with Ray and Prefect stack
  docs/specs/mlops_scalability_v1.md
  docs/specs/performance_tuning.md
  docs/specs/plan.md
Due: none

fix: resolve cvxportfolio alignment and type errors in core scripts
  scripts/analyze_clusters.py
  scripts/audit_antifragility.py
  tradingview_scraper/portfolio_engines/backtest_simulators.py
Due: ruff, ruff-format, ty

feat: add 4d tournament orchestrator and reporting utility
  scripts/research/generate_grand_table.py
  scripts/research/grand_4d_tournament.py
Due: ruff, ruff-format, ty

docs: audit validate 4d tournament and finalize plan
  docs/specs/plan.md
Due: none

feat: add tournament forensics audit utility
  scripts/research/audit_tournament_forensics.py
Due: ruff, ruff-format, ty

docs: expand benchmark standards with institutional gates
  docs/specs/benchmark_standards_v1.md
  docs/specs/plan.md
Due: none

feat: add antifragility benchmark metrics and tests
  tests/test_benchmark_antifragility.py
  tradingview_scraper/utils/metrics.py
Due: ruff, ruff-format, ty

feat: record antifragility metrics in tournament summaries
  scripts/backtest_engine.py
Due: ruff, ruff-format, ty

feat: extend tournament forensics with antifragility gate
  scripts/research/audit_tournament_forensics.py
Due: ruff, ruff-format, ty

feat: add antifragility fields to strategy resume
  scripts/generate_reports.py
Due: ruff, ruff-format, ty

feat: add tournament scoreboard generator
  scripts/research/tournament_scoreboard.py
Due: ruff, ruff-format, ty

fix: parse backtest_summary metrics from audit ledger
  scripts/research/audit_tournament_forensics.py
Due: ruff, ruff-format, ty

fix: align beta covariance calculation
  scripts/research/tournament_scoreboard.py
Due: ruff, ruff-format, ty

test: add tournament scoreboard unit tests
  tests/test_tournament_scoreboard.py
Due: ruff, ruff-format

docs: add tournament scoreboard workflow
  docs/specs/benchmark_standards_v1.md
  docs/specs/plan.md
Due: none

fix(stream): handle batched packets and idle timeouts
  docs/specs/data_resilience_v2.md
  docs/specs/price_stream_resilience.md
  tradingview_scraper/symbols/stream/stream_handler_async.py
  tradingview_scraper/symbols/stream/streamer.py
Due: ruff, ruff-format, ty

fix(selection): restore dynamic top-n and raw ECI veto
  tests/test_selection_v3_2.py
  tradingview_scraper/selection_engines/__init__.py
  tradingview_scraper/selection_engines/engines.py
Due: ruff, ruff-format, ty

fix(simulators): fall back when optional deps missing
  tradingview_scraper/portfolio_engines/backtest_simulators.py
Due: ruff, ruff-format, ty

fix(engines): harden barbell and single-cluster paths
  tradingview_scraper/portfolio_engines/engines.py
Due: ruff, ruff-format, ty

feat(tournament): persist artifacts and record audit outcomes
  scripts/backtest_engine.py
  scripts/research/grand_4d_tournament.py
  tests/test_run_tournament_grand.py
  tradingview_scraper/utils/audit.py
Due: ruff, ruff-format, ty

fix(pipeline): avoid clearing settings cache
  scripts/run_production_pipeline.py
Due: ruff, ruff-format, ty

feat(scoreboard): add Make targets and markdown fallback
  Makefile
  scripts/research/tournament_scoreboard.py
Due: ruff, ruff-format, ty

test: update imports after script reorg
  tests/test_audit_ledger.py
  tests/test_audit_remediation.py
  tests/test_drift_monitor.py
Due: ruff, ruff-format

test: align barbell CRISIS core split
  tests/test_risk.py
Due: ruff, ruff-format

docs: update benchmark standards and plan tracking
  docs/specs/benchmark_standards_v1.md
  docs/specs/plan.md
Due: none

feat(engines): make L2 gamma configurable
  tradingview_scraper/portfolio_engines/base.py
  tradingview_scraper/portfolio_engines/engines.py
Due: ruff, ruff-format, ty

docs(specs): align risk profiles with production
  docs/specs/hrp_implementation_parity.md
  docs/specs/market_profile_unification.md
  docs/specs/max_sharpe_standardization.md
  docs/specs/optimization_engine_v2.md
  docs/specs/regime_detection_standards.md
  docs/specs/strategy_archetypes_2026.md
Due: none
