Repository tommy-ca/tradingview-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uvx ruff check --fix
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: uvx ruff format
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: uvx ty
        args: ["check"]
        language: system
        types: [python]
        pass_filenames: true
        # Exclude tests and currently failing files to allow incremental adoption
        exclude: >
          (?x)^(
            tests/|
            tradingview_scraper/symbols/news\.py|
            tradingview_scraper/futures_universe_selector\.py|
            tradingview_scraper/symbols/cal\.py|
            tradingview_scraper/symbols/stream/streamer\.py
          )

docs(crypto): final system certification and production lock v3.2.8
  Makefile
Due: none

fix(risk): synchronize core engines with quadrant-aware regime standards
  scripts/backtest_engine.py
  scripts/correlation_report.py
  scripts/enrich_candidates_metadata.py
  scripts/optimize_clustered_v2.py
Due: ruff, ruff-format, ty

docs(crypto): finalize documentation for v3.2.8 with 20-day rebalance standard
  scripts/research/audit_history_af.py
  scripts/research/check_myx_history.py
Due: ruff, ruff-format, ty

feat(risk): resolve Inner Join Trap and lock v3.2.9 institutional standards
  Makefile
  configs/manifest.json
  docs/design/crypto_sleeve_design_v1.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
  scripts/correlation_report.py
  tradingview_scraper/settings.py
Due: ruff, ruff-format, ty

feat(risk): certify matrix stability and document fallback standards
  configs/manifest.json
  docs/design/crypto_sleeve_design_v1.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
Due: none

docs: finalize v3.2.9 certification and synchronize agent guide
  AGENTS.md
  docs/design/crypto_sleeve_design_v1.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
Due: none

docs: codify hierarchical cluster analysis and factor orthogonality v3.2.10
  docs/design/crypto_sleeve_design_v1.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
Due: none

feat(release): final system certification and documentation sync v3.2.10
  docs/specs/plan.md
  scripts/generate_portfolio_report.py
  scripts/production/generate_orders_v3.py
  scripts/research_regime_v3.py
  scripts/run_production_pipeline.py
  tests/test_regime.py
  tradingview_scraper/pipeline.py
Due: ruff, ruff-format, ty

docs: finalize hierarchical clustering research and stability protocol v3.2.11
  docs/design/crypto_sleeve_design_v1.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
Due: none

feat(risk): align cluster lookbacks with rebalance frequency v3.2.12
  configs/manifest.json
  docs/specs/plan.md
  scripts/research/audit_cluster_cohesion.py
  scripts/research/audit_selection_funnel.py
  tradingview_scraper/selection_engines/engines.py
  tradingview_scraper/settings.py
Due: ruff, ruff-format, ty

feat(risk): certify Pure Alpha Selection and Benchmark Isolation v3.2.13
  AGENTS.md
  configs/manifest.json
  docs/design/crypto_sleeve_design_v1.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
  scripts/backtest_engine.py
  scripts/natural_selection.py
  scripts/prepare_portfolio_data.py
Due: ruff, ruff-format, ty

fix(metadata): enforce robust metadata enrichment and benchmark isolation
  Makefile
  docs/design/crypto_sleeve_design_v1.md
  docs/specs/plan.md
  scripts/enrich_candidates_metadata.py
  scripts/prepare_portfolio_data.py
  scripts/research/audit_full_matrix.py
  scripts/research/audit_risk_matrix.py
  scripts/research/debug_prep_benchmarks.py
  tradingview_scraper/regime.py
Due: ruff, ruff-format, ty

fix(risk): stabilize matrix via cvxportfolio timezone fix and skfolio warning suppression
  docs/design/crypto_sleeve_design_v1.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
  scripts/research/certify_matrix.py
  tradingview_scraper/portfolio_engines/engines.py
  tradingview_scraper/risk.py
  tradingview_scraper/selection_engines/engines.py
Due: ruff, ruff-format, ty

docs: finalize v3.3.0 production certification and directional purity hardening
  AGENTS.md
  Makefile
  configs/manifest.json
  docs/design/crypto_sleeve_design_v1.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
  scripts/backtest_engine.py
  scripts/grand_tournament.py
  scripts/prepare_portfolio_data.py
  scripts/research/audit_full_matrix.py
  scripts/research/audit_risk_matrix.py
  scripts/research/certify_matrix.py
  scripts/research/debug_prep_benchmarks.py
  tests/test_risk_purity.py
  tradingview_scraper/portfolio_engines/backtest_simulators.py
  tradingview_scraper/portfolio_engines/engines.py
  tradingview_scraper/settings.py
Due: ruff, ruff-format, ty

feat(engines): enhance selection and portfolio engines with improved risk handling
  tradingview_scraper/portfolio_engines/cluster_adapter.py
  tradingview_scraper/portfolio_engines/engines.py
  tradingview_scraper/regime.py
  tradingview_scraper/risk.py
  tradingview_scraper/selection_engines/engines.py
Due: ruff, ruff-format, ty

refactor(utils): improve metrics, predictability and scoring calculations
  tradingview_scraper/utils/metrics.py
  tradingview_scraper/utils/predictability.py
  tradingview_scraper/utils/scoring.py
Due: ruff, ruff-format, ty

refactor(scripts): enhance backtest engine and portfolio workflow scripts
  scripts/backtest_engine.py
  scripts/detect_hedge_anchors.py
  scripts/generate_portfolio_report.py
  scripts/prepare_portfolio_data.py
  scripts/validate_portfolio_artifacts.py
Due: ruff, ruff-format, ty

feat(scripts): add deep forensic report generation for production runs
  scripts/production/generate_deep_report.py
Due: ruff, ruff-format, ty

docs: update crypto sleeve design and optimization specs
  docs/design/crypto_sleeve_design_v1.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/hrp_implementation_parity.md
  docs/specs/optimization_engine_v2.md
  docs/specs/plan.md
Due: none

chore(config): update agent guide, makefile and manifest settings
  AGENTS.md
  Makefile
  configs/manifest.json
Due: none

test(crypto): add comprehensive TDD test suite for crypto production validation
  tests/test_crypto_config_validation.py
  tests/test_crypto_selection_logic.py
Due: ruff, ruff-format

docs(plan): add Phase 105 crypto production re-validation and TDD hardening
  docs/specs/plan.md
Due: none

docs(audit): comprehensive selection funnel and data health audit for run 20260112-010130
  docs/audit/crypto_production_funnel_audit_20260112.md
Due: none

test(health): add TDD test suite for health enforcement and auto-recovery
  tests/test_health_enforcement.py
Due: ruff, ruff-format

fix(config): lower crypto efficiency_min_threshold from 0.05 to 0.03
  configs/manifest.json
Due: none

fix(pipeline): enforce STRICT_HEALTH=1 and implement auto-recovery
  scripts/run_production_pipeline.py
Due: ruff, ruff-format, ty

refactor: update backtest engine and audit scripts for better traceability
  scripts/analyze_audit_windows.py
  scripts/backtest_engine.py
Due: ruff, ruff-format, ty

feat: implement balanced selection fallback and relax diversity floor for solver stability
  tradingview_scraper/portfolio_engines/engines.py
  tradingview_scraper/selection_engines/engines.py
Due: ruff, ruff-format, ty

config: relax crypto production selection and backtest parameters
  configs/manifest.json
Due: none

docs: update plan, requirements, and design for dynamic selection intelligence
  docs/design/dynamic_selection_intelligence_v1.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
Due: none

refactor: split monolithic portfolio engines into modular impl structure
  tradingview_scraper/portfolio_engines/__init__.py
  tradingview_scraper/portfolio_engines/base.py
  tradingview_scraper/portfolio_engines/cluster_adapter.py
  tradingview_scraper/portfolio_engines/impl/adaptive.py
  tradingview_scraper/portfolio_engines/impl/custom.py
  tradingview_scraper/portfolio_engines/impl/cvxportfolio.py
  tradingview_scraper/portfolio_engines/impl/pyportfolioopt.py
  tradingview_scraper/portfolio_engines/impl/riskfolio.py
  tradingview_scraper/portfolio_engines/impl/skfolio.py
Due: ruff, ruff-format, ty

feat: implement toxicity hard-stop and benchmark protection in selection engines
  tradingview_scraper/selection_engines/__init__.py
  tradingview_scraper/selection_engines/engines.py
Due: ruff, ruff-format, ty

fix: resolve stale imports and improve backtest metrics capture
  scripts/backtest_engine.py
  scripts/natural_selection.py
  scripts/optimize_clustered_v2.py
  scripts/prepare_portfolio_data.py
  tests/test_backtest_fidelity.py
  tests/test_numerical_hardening.py
  tests/test_optimization_penalties.py
  tests/test_portfolio_engine_factory.py
  tests/test_portfolio_engines.py
  tests/test_portfolio_engines_constraints.py
  tests/test_selection_hardening.py
Due: ruff, ruff-format, ty

docs: finalize phase 111 and update architecture specs
  AGENTS.md
  configs/manifest.json
  docs/design/dynamic_selection_intelligence_v1.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
  tradingview_scraper/regime.py
  tradingview_scraper/settings.py
Due: ruff, ruff-format, ty

refactor: split monolithic selection engines into modular impl structure
  tradingview_scraper/selection_engines/__init__.py
  tradingview_scraper/selection_engines/base.py
  tradingview_scraper/selection_engines/impl/v2_cars.py
  tradingview_scraper/selection_engines/impl/v3_4_htr.py
  tradingview_scraper/selection_engines/impl/v3_mps.py
Due: ruff, ruff-format, ty

fix: resolve adaptive engine instability and optimize backtest performance capture
  scripts/audit_full_matrix.py
  scripts/backtest_engine.py
  tests/test_selection_engine_factory.py
  tradingview_scraper/portfolio_engines/impl/adaptive.py
Due: ruff, ruff-format, ty

docs: finalize phase 112 and update selection architecture specs
  docs/specs/plan.md
Due: none

Phase 126: Forensic Audit & Guardrail Enforcement
  configs/manifest.json
  docs/design/directional_synthetic_logic_v1.md
  docs/design/strategy_composition_v1.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
  docs/specs/strategy_synthesis_v1.1.md
  docs/specs/strategy_synthesis_v1.md
  tests/test_portfolio_constraints.py
  tests/test_selection_hardening.py
  tradingview_scraper/portfolio_engines/cluster_adapter.py
  tradingview_scraper/portfolio_engines/impl/custom.py
Due: ruff, ruff-format, ty

Phase 127: Selection Funnel & Clustering Audit
  docs/design/dynamic_selection_intelligence_v1.md
  docs/specs/crypto_sleeve_requirements_v1.md
  docs/specs/plan.md
  scripts/select_top_universe.py
Due: ruff, ruff-format, ty
