Repository tommy-ca/tradingview-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty

ruff:
  name: ruff
  entry: uvx ruff check --fix
  language: system

ruff-format:
  name: ruff-format
  entry: uvx ruff format
  language: system

ty:
  name: ty
  entry: uvx ty
  args:
  - check
  language: system
  pass_filenames: true

feat(stream): improve streamer/utils and add async proto/tests
  scripts/proto_async_ws.py
  scripts/proto_async_ws_controlled.py
  tests/test_streamer_completeness.py
  tests/test_streamer_parity.py
  tradingview_scraper/symbols/screener.py
  tradingview_scraper/symbols/stream/loader.py
  tradingview_scraper/symbols/stream/metadata.py
  tradingview_scraper/symbols/stream/retry.py
  tradingview_scraper/symbols/stream/stream_handler.py
  tradingview_scraper/symbols/stream/streamer.py
  tradingview_scraper/symbols/stream/utils.py
Due: ruff, ruff-format, ty

chore(deps): align python version and refresh uv.lock
  pyproject.toml
  uv.lock
Due: none

chore(ci): update workflows
  .github/workflows/docs.yml
  .github/workflows/pylint.yml
  .github/workflows/python-app.yml
  .github/workflows/release-demo.yml
  .github/workflows/universe_scan.yml
Due: none

docs: add index/streamer specs and metadata audit guides
  conductor/product.md
  conductor/tech-stack.md
  conductor/tracks.md
  conductor/tracks/async_streamer_parity_20251221/spec.md
  conductor/tracks/async_streamer_v1_20251221/spec.md
  conductor/tracks/robust_async_screener_20251221/spec.md
  conductor/tracks/unified_screener_infrastructure_20251221/plan.md
  docs/exchange_symbol_audit_report.md
  docs/metadata_schema_guide.md
Due: none

chore(audit): add audit/check/verify utilities
  scripts/audit_backfill_quality.py
  scripts/audit_symbol_age.py
  scripts/audit_symbol_age_precise.py
  scripts/check_backfill_status.py
  scripts/check_genesis_ts.py
  scripts/check_new_listing_perf.py
  scripts/check_overview_fields.py
  scripts/check_overview_fields_extended.py
  scripts/cleanup_exports.py
  scripts/cleanup_metadata_catalog.py
  scripts/comprehensive_audit.py
  scripts/inspect_screener_fields.py
  scripts/load_portfolio_history.py
  scripts/populate_genesis_single.py
  scripts/repair_portfolio_gaps.py
  scripts/review_summary.py
  scripts/run_gap_management.py
  scripts/run_missing_symbols_build.py
  scripts/select_top_universe.py
  scripts/verify_genesis_fetch.py
  scripts/verify_portfolio_symbols.py
Due: ruff, ruff-format, ty

chore(tests): add loader/metadata tests and update demo/catalog
  .coverage
  examples/async_stream_demo.py
  scripts/build_metadata_catalog.py
  tests/test_loader_lookback.py
  tests/test_metadata_genesis.py
  tests/test_overview.py
Due: ruff, ruff-format, ty

chore: add pipeline make targets and fix selector dedupe
  Makefile
  docs/production_workflow.md
  tradingview_scraper/futures_universe_selector.py
Due: ruff, ruff-format

feat(correlation): add correlation report, HRP doc, and prep cleaning
  .gitignore
  Makefile
  docs/correlation_tests.md
  scripts/correlation_report.py
  scripts/prepare_portfolio_data.py
Due: ruff, ruff-format, ty

chore: add reports target and document saved summaries/corr
  Makefile
  docs/production_workflow.md
Due: none

tune forex trend filters to avoid long/short overlap
  configs/forex_trend_momentum.yaml
  configs/forex_trend_momentum_short.yaml
Due: none

feat: implement cluster-aware optimization v2 and antifragility audit
  scripts/optimize_clustered_v2.py
Due: ruff, ruff-format, ty

feat: enhance portfolio optimization, validation, and data resilience
  CLAUDE.md
  Makefile
  README.md
  conductor/tracks/portfolio_workflow.md
  configs/forex_trend_momentum.yaml
  configs/forex_trend_momentum_short.yaml
  configs/us_etf_trend_momentum.yaml
  configs/us_etf_trend_momentum_short.yaml
  configs/us_stocks_trend_momentum.yaml
  configs/us_stocks_trend_momentum_short.yaml
  docs/metadata_schema_guide.md
  docs/production_workflow.md
  docs/research/backfill_workflow_review_20251224.md
  docs/research/optimization_learnings_20251224.md
  docs/specs/data_resilience_v2.md
  scripts/correlation_report.py
  scripts/list_missing_symbols.py
  scripts/optimize_portfolio_clustered.py
  scripts/prepare_portfolio_data.py
  scripts/repair_portfolio_gaps.py
  scripts/targeted_sync_missing.py
  scripts/validate_portfolio_artifacts.py
  tradingview_scraper/symbols/ideas.py
  tradingview_scraper/symbols/news.py
  tradingview_scraper/symbols/overview.py
  tradingview_scraper/symbols/stream/lakehouse.py
  tradingview_scraper/symbols/stream/loader.py
  tradingview_scraper/symbols/stream/metadata.py
  tradingview_scraper/symbols/stream/persistent_loader.py
  tradingview_scraper/symbols/stream/streamer.py
  tradingview_scraper/symbols/stream/utils.py
  tradingview_scraper/symbols/technicals.py
  tradingview_scraper/symbols/utils.py
Due: ruff, ruff-format, ty

fix: address high/medium severity issues from code review
  tradingview_scraper/pipeline.py
  tradingview_scraper/regime.py
  tradingview_scraper/risk.py
  tradingview_scraper/symbols/stream/streamer.py
Due: ruff, ruff-format, ty

refactor: update barbell script to use unified optimizer class
  scripts/optimize_barbell.py
Due: ruff, ruff-format, ty

feat: implement cluster-aware aggressor selection for Barbell strategy
  scripts/optimize_clustered_v2.py
Due: ruff, ruff-format, ty

feat: enhance portfolio profiles with detailed cluster metadata
  scripts/optimize_clustered_v2.py
  scripts/prepare_portfolio_data.py
Due: ruff, ruff-format, ty

feat: include detailed cluster breakdown in portfolio profile outputs
  scripts/optimize_clustered_v2.py
Due: ruff, ruff-format, ty

feat: enhance portfolio profiles with enriched metadata and prettified reporting
  Makefile
  scripts/enrich_candidates_metadata.py
  scripts/generate_portfolio_report.py
  scripts/optimize_clustered_v2.py
  scripts/prepare_portfolio_data.py
  scripts/select_top_universe.py
  tradingview_scraper/futures_universe_selector.py
Due: ruff, ruff-format, ty

feat: set default cluster cap to 0.25 for all portfolio profiles
  Makefile
  scripts/optimize_clustered_v2.py
Due: ruff, ruff-format, ty

docs: add quantitative rationale for antifragile barbell and clustering
  docs/research/antifragile_barbell_rationale.md
Due: none

feat: add sector overrides for REITs and Alpha assets in metadata enrichment
  scripts/enrich_candidates_metadata.py
Due: ruff, ruff-format, ty

feat: implement unified Portfolio Auditor with quantitative logic and health checks
  Makefile
  scripts/validate_portfolio_artifacts.py
Due: ruff, ruff-format, ty

chore: finalize Makefile phony targets and metadata enrichment overrides
  Makefile
Due: none

feat: implement detailed hierarchical cluster analysis and update report dashboard
  scripts/analyze_clusters.py
  scripts/generate_portfolio_report.py
Due: ruff, ruff-format, ty

feat: add sub-cluster analysis for the Crypto Hub (Cluster 5)
  scripts/analyze_clusters.py
  scripts/analyze_subcluster.py
Due: ruff, ruff-format, ty

feat: add Bond ETF universe selector and configuration
  Makefile
  configs/bond_etf_trend_momentum.yaml
  scripts/select_top_universe.py
  tradingview_scraper/bond_universe_selector.py
Due: ruff, ruff-format, ty

feat: professionalize portfolio analysis report with asset-class grouping and visual bars
  scripts/generate_portfolio_report.py
Due: ruff, ruff-format, ty

feat: implement multi-timeframe (MTF) Forex universe selector with G8 majors and clustering integration
  Makefile
  configs/forex_mtf_monthly_weekly_daily.yaml
  tradingview_scraper/futures_universe_selector.py
Due: ruff, ruff-format

feat: enhance portfolio dashboard with shared cluster reference and candidate universe signals
  scripts/generate_portfolio_report.py
  scripts/prepare_portfolio_data.py
  scripts/select_top_universe.py
Due: ruff, ruff-format, ty

docs: update architectural specifications and research rationale for cluster-aware pipeline
  CLAUDE.md
  Makefile
  docs/production_workflow.md
  docs/research/antifragile_barbell_rationale.md
  docs/research/forex_mtf_strategy.md
  docs/specs/hierarchical_clustering.md
  docs/specs/optimization_engine_v2.md
  docs/specs/regime_detection_advanced.md
Due: none

chore: clean worktree and finalize cluster-aware pipeline artifacts
  pyproject.toml
  scripts/analyze_clusters.py
  scripts/enrich_candidates_metadata.py
  scripts/generate_portfolio_report.py
  scripts/optimize_clustered_v2.py
  scripts/research_regime_v2.py
  tradingview_scraper/regime.py
  uv.lock
Due: ruff, ruff-format, ty

feat: integrate nested sub-clustering and correlation clustermap visualization
  CLAUDE.md
  Makefile
  README.md
  docs/production_workflow.md
  docs/specs/alpha_ranking.md
  docs/specs/data_resilience_v2.md
  pyproject.toml
  scripts/analyze_clusters.py
  scripts/display_portfolio_dashboard.py
  scripts/enrich_candidates_metadata.py
  scripts/generate_portfolio_report.py
  scripts/optimize_clustered_v2.py
  scripts/research/optimize_portfolio_clustered.py
  scripts/research/optimize_portfolio_robust.py
  scripts/select_top_universe.py
  uv.lock
Due: ruff, ruff-format, ty

feat: implement CLI-based hierarchical correlation heatmap
  Makefile
  scripts/visualize_matrix_cli.py
Due: ruff, ruff-format, ty

docs: finalize production workflow and implementation guides with live gist example
  README.md
  docs/production_workflow.md
Due: none

feat: implement Phase 4 Systemic Convexity & Tail Risk Mitigation suite
  Makefile
  scripts/analyze_clusters.py
  scripts/audit_antifragility.py
  scripts/detect_hedge_anchors.py
  scripts/generate_portfolio_report.py
  scripts/monitor_cluster_drift.py
  tradingview_scraper/risk.py
Due: ruff, ruff-format, ty

feat: automate implementation summary sync to private GitHub Gist
  Makefile
  scripts/push_summaries_to_gist.sh
Due: none

docs: add comprehensive system audit and Phase 5 strategic roadmap
  docs/research/system_audit_and_future_roadmap.md
Due: none

feat: enhance data health audit and recovery logic with holiday-aware gap detection
  Makefile
  scripts/enrich_candidates_metadata.py
  scripts/recover_universe.py
  scripts/validate_portfolio_artifacts.py
  tradingview_scraper/symbols/stream/lakehouse.py
  tradingview_scraper/symbols/stream/metadata.py
Due: ruff, ruff-format, ty

feat: expand candidate selection and enhance metadata enrichment for larger universe
  scripts/enrich_candidates_metadata.py
  scripts/prepare_portfolio_data.py
  scripts/select_top_universe.py
Due: ruff, ruff-format, ty

feat: implement Tiered Intelligence Discovery and refine Phase 5 Strategic Roadmap
  Makefile
  docs/research/system_audit_and_future_roadmap.md
  scripts/correlation_report.py
  scripts/natural_selection.py
  scripts/optimize_clustered_v2.py
  scripts/prepare_portfolio_data.py
  scripts/select_top_universe.py
  scripts/track_portfolio_state.py
  tradingview_scraper/pipeline.py
  tradingview_scraper/regime.py
Due: ruff, ruff-format, ty

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  ty: any of: \.py$, but not: (?x)^(
  tests/|
  tradingview_scraper/symbols/news\.py|
  tradingview_scraper/futures_universe_selector\.py|
  tradingview_scraper/symbols/cal\.py|
  tradingview_scraper/symbols/stream/streamer\.py
)

