Repository tommy-ca/tradingview-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty

ruff:
  name: ruff
  entry: uvx ruff check --fix
  language: system

ruff-format:
  name: ruff-format
  entry: uvx ruff format
  language: system

ty:
  name: ty
  entry: uvx ty
  args:
  - check
  language: system
  pass_filenames: true

Docs: align recovery target naming
  docs/design/data_integrity.md
  docs/plan/production_roadmap.md
  docs/production_workflow.md
  docs/research/system_audit_and_future_roadmap.md
Due: none

Docs: update config paths for layered presets
  docs/design/regime_survival_calendar.md
  docs/plan/universe_v3_implementation.md
  docs/specs/cfd_presets.rst
  docs/specs/crypto_cex_presets.rst
  docs/specs/forex_presets.rst
  docs/specs/futures_universe_selector.rst
  docs/specs/market_discovery.rst
Due: none

Docs: refresh scan workflow guidance
  docs/specs/quantitative_workflow.md
Due: none

Docs: fix metadata catalog CLI usage
  docs/metadata_schema_guide.md
Due: none

Fix recovery data-fetch invocation
  scripts/recover_universe.py
Due: ruff, ruff-format, ty

Add targeted refresh Makefile target
  Makefile
Due: none

Document targeted stale recovery
  docs/research/system_audit_and_future_roadmap.md
  docs/specs/data_resilience_v2.md
  docs/specs/quantitative_workflow.md
Due: none

fix: align portfolio data prep settings
  scripts/prepare_portfolio_data.py
  scripts/validate_portfolio_artifacts.py
  tradingview_scraper/settings.py
Due: ruff, ruff-format, ty

fix: honor settings defaults in backtest tournament
  scripts/backtest_engine.py
Due: ruff, ruff-format, ty

docs: document settings precedence and mapping
  docs/specs/workflow_manifests.md
Due: none

test: add settings precedence suite and CI
  .github/workflows/settings-precedence.yml
  tests/test_settings_precedence.py
Due: ruff, ruff-format

docs: update issues tracker with validation evidence
  docs/specs/issues_to_fix.md
Due: none

Fix env overrides for backtest windows
  Makefile
  scripts/run_production_pipeline.py
Due: ruff, ruff-format, ty

Document tournament 4D outputs and window requirements
  docs/plan/full_tournament_validation.md
  docs/production_workflow.md
  docs/specs/artifacts_paths.md
  docs/specs/audit_ledger_v2.md
  docs/specs/quantitative_workflow.md
  docs/specs/workflow_manifests.md
Due: none

Refactor selection helpers to use SelectionResponse
  scripts/cache_selection_features.py
  scripts/diagnose_v3_internals.py
  scripts/natural_selection.py
  scripts/tournament_normalization.py
  scripts/tournament_v2_vs_v2_1.py
  tests/test_natural_selection_audit.py
  tests/test_natural_selection_v2.py
  tests/test_natural_selection_v3.py
Due: ruff, ruff-format, ty

Drop NaNs in clustered optimization inputs
  scripts/optimize_clustered_v2.py
  tradingview_scraper/portfolio_engines/cluster_adapter.py
Due: ruff, ruff-format, ty

Harden CVXPortfolio cluster optimization inputs
  tradingview_scraper/portfolio_engines/engines.py
Due: ruff, ruff-format, ty

Add Nautilus simulator adapter fallback
  tradingview_scraper/portfolio_engines/backtest_simulators.py
  tradingview_scraper/portfolio_engines/nautilus_adapter.py
Due: ruff, ruff-format, ty

Prefer latest completed run for reports
  scripts/generate_reports.py
Due: ruff, ruff-format, ty

Document flow-dev audit remediation items
  docs/plan/issues.md
Due: none

Move mean reversion script and drop stale market caps
  market_caps_crypto.json
  scripts/explore_mean_reversion.py
Due: ruff, ruff-format, ty

Add baseline audit and guardrail tooling
  Makefile
  scripts/baseline_audit.py
  scripts/raw_pool_invariance_guardrail.py
Due: ruff, ruff-format, ty

Link selection audit into ledger
  scripts/natural_selection.py
Due: ruff, ruff-format, ty

Document baseline status in plan
  docs/specs/plan.md
Due: none

docs: refresh specs and add guardrail report
  docs/specs/artifacts_paths.md
  docs/specs/audit_ledger_v2.md
  docs/specs/backtest_framework_v2.md
  docs/specs/issues_to_fix.md
  docs/specs/market_profile_unification.md
  docs/specs/multi_engine_optimization_benchmarks.md
  docs/specs/optimization_engine_v2.md
  docs/specs/plan-report.md
  docs/specs/plan.md
  docs/specs/regime_detection_standards.md
  docs/specs/selection_intelligence_v1.md
  docs/specs/workflow_manifests.md
Due: none

feat: capture raw pool metadata during backtests
  scripts/backtest_engine.py
  scripts/prepare_portfolio_data.py
  scripts/raw_pool_invariance_guardrail.py
  scripts/run_4d_tournament.py
  scripts/run_production_pipeline.py
  tradingview_scraper/settings.py
  tradingview_scraper/utils/audit.py
Due: ruff, ruff-format, ty

docs: update plan with guardrail status
  docs/specs/plan.md
Due: none

feat: fix selection report entry point and signature
  scripts/generate_selection_report.py
Due: ruff, ruff-format, ty

feat: integrate metadata coverage guardrail and enrichment main
  Makefile
  docs/specs/plan.md
  docs/specs/workflow_manifests.md
  scripts/enrich_candidates_metadata.py
  scripts/metadata_coverage_guardrail.py
  tradingview_scraper/portfolio_engines/backtest_simulators.py
Due: ruff, ruff-format, ty

docs: finalize plan updates for implemented features
  docs/specs/plan.md
Due: none

fix: resolve truncation, lookahead bias, and volatility defaults identified in review
  scripts/enrich_candidates_metadata.py
  scripts/verify_ledger.py
  tests/test_async_streamer_serialization.py
  tests/test_audit_ledger.py
  tests/test_audit_utils.py
  tests/test_backtest_fidelity.py
  tests/test_drift_monitor.py
  tests/test_optimization_penalties.py
  tests/test_pipeline_orchestrator.py
  tests/test_portfolio_engines.py
  tests/test_tournament_matrix.py
  tradingview_scraper/portfolio_engines/backtest_simulators.py
Due: ruff, ruff-format, ty

docs: sync specs with institutional fidelity bug fixes
  docs/specs/backtest_framework_v2.md
  docs/specs/optimization_engine_v2.md
  docs/specs/plan.md
  docs/specs/selection_intelligence_v1.md
Due: none

fix: address type warnings in reporting engine for stricter fidelity
  scripts/generate_reports.py
Due: ruff, ruff-format, ty

docs: finalize Jan 2026 production validation and report path fixes
  docs/specs/plan-report.md
  docs/specs/plan.md
  scripts/generate_reports.py
Due: ruff, ruff-format, ty

docs: finalize Jan 2026 plan validation and move to continuous monitoring
  docs/specs/plan.md
Due: none

docs: define artifact hierarchy and fix type errors in reporting and engines
  docs/specs/artifact_hierarchy.md
  docs/specs/plan.md
  scripts/generate_selection_report.py
  tradingview_scraper/portfolio_engines/engines.py
Due: ruff, ruff-format, ty

feat: add structured run directory properties to settings
  tradingview_scraper/settings.py
Due: ruff, ruff-format, ty

feat: migrate scripts to structured run directory hierarchy
  scripts/backtest_engine.py
  scripts/correlation_report.py
  scripts/generate_audit_summary.py
  scripts/generate_portfolio_report.py
  scripts/generate_reports.py
  scripts/natural_selection.py
  scripts/run_production_pipeline.py
  scripts/validate_portfolio_artifacts.py
Due: ruff, ruff-format, ty

feat: migrate research and factor map scripts to structured hierarchy
  scripts/analyze_clusters.py
  scripts/detect_hedge_anchors.py
  scripts/visualize_factor_map.py
Due: ruff, ruff-format, ty

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  ty: any of: \.py$, but not: (?x)^(
  tests/|
  tradingview_scraper/symbols/news\.py|
  tradingview_scraper/futures_universe_selector\.py|
  tradingview_scraper/symbols/cal\.py|
  tradingview_scraper/symbols/stream/streamer\.py
)

